//META{"name":"Kagamine_Rin_Request_Theme","description":"Requested by Frisk","author":"DevilsTheAvenged","version":"1"}*//{}
@import url(https://gitcdn.xyz/repo/DevilsLynAvenged/Other-Workspace/master/ThemeCreator.css);

#app-mount {
	background-image: url("https://cdn.discordapp.com/attachments/457159558054281216/516819115239931924/7a6535_3472556.jpg");
    background-size: cover !important;
    background-position: 90%;
    background-color: #c3c5d2;
}
:root {
   --Primary-Color: #c3c5d2;
   --Primary-Transparency-Color: 195, 197, 210;
   --Secondary-Color: #9fa2b7;
   --Secondary-Transparency-Color: 159, 162, 183;
}
.theme-dark .chat-3bRxxu,
.theme-dark .content-yTz4x3, 
.theme-dark .chat-3bRxxu form,
.channels-Ie2l6A,
.container-PNkimc,
.theme-dark .friends-table, 
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .typing-2GQL18,
.container-2lgZY8,
.theme-dark .container-3gCOGc,
.theme-dark .standardSidebarView-3F1I7i {
    background-color: transparent;
}
.typeMacOS-3EmCyP,
.theme-dark .members-1998pB,
.theme-dark .guildsWrapper-5TJh6A {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .layer-3QrUeG, 
.theme-dark .layers-3iHuyZ{
    background: rgba(0,0,0,0.42);
}
.theme-dark .sidebarRegion-VFTUkN,
.theme-dark .contentRegion-3nDuYy {
    background: rgba(0,0,0,0.3);
}
.root-SR8cQa {
    border-radius: 0;
    background: url(https://static.zerochan.net/Kagamine.Rin.full.1390660.jpg) 50%/cover;
}
.theme-dark .headerNormal-T_seeN,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0,0,0,0.34);
}
.theme-dark .body-3iLsc4,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.34);
    color: white;
}
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.34);
    border: none;
    color: white;
}
.userPopout-3XzG_A {
    border-radius: 0;
    background: url(https://cdn.discordapp.com/attachments/457159558054281216/516819266218229761/index.jpg) 50%/cover;
    overflow: visible;
}