//META{"name":"Nanachi","description":"Requested by Spiinight","author":"DevilsTheAvenged","version":"1"}*//{}

.app {
  background-image: url(https://cdn.discordapp.com/attachments/457159558054281216/480905445503008769/thumb-1920-863998.png);
  background-size: cover;
  background-position: center;
}
/* Transparency */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .container-2lgZY8, .theme-dark .typing-2GQL18, .theme-dark #friends {
    background: transparent;
}
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN{
    background: transparent;
}
.theme-dark .standardSidebarView-3F1I7i {
    background: rgba(0,0,0,0.5);
}
.theme-dark .layers-3iHuyZ {
    background: rgba(0,0,0,0.5);
}
.theme-dark .title-3qD0b-, .header-2o-2hj, .theme-dark .headerBar-UHpsPw {
    background: rgba(0,0,0,0);
    box-shadow: 0 0 26px 4px rgba(0,0,0,0.73);
    border-bottom: 1px solid #C8A879; /* Primary Color */
}
.theme-dark .title-3qD0b- {
  margin-top: -1px;
}
.channels-Ie2l6A, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 6px 5px rgba(255,0,0,0.55);
    transition: box-shadow .4s ease-in;
}
.theme-dark .members-1998pB:hover {
    box-shadow: 0 0 6px 5px rgba(162, 220, 107,0.55);
}
.theme-dark .guildsWrapper-5TJh6A, .container-PNkimc {
    background-color: rgba(0,0,0,0);
}
.theme-dark .messagesWrapper-3lZDfY {
    background-color: rgba(0,0,0,0);
}
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #C8A879; /* Primary Color */
    border-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #C8A879; /* Primary Color */
}
.messagesWrapper-3lZDfY {
    overflow: visible;
}
.membersWrap-2h-GB4 {
    min-width: 43px;
    max-width: 14px;
    transition: transform .5s ease;
    transform: translate(-4px);
}
.membersWrap-2h-GB4:hover {
    transform: translate(-190px);
    width: 264px;
}
/* --- */
.guild-1EfMGQ.unread-qLkInr:before {
    display: none;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr .guildInner-3DSoA4 {
    border: 3px solid #C8A879; /* Primary Color */
    width: 49px;
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq.unread-qLkInr .guildInner-3DSoA4  {
     border: 3px solid #7bc06d; /* Secondary Color */
     width: 49px;
}
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #C8A879 !important; /* Primary Color */
    border-radius: 50px !important;
    right: -19px !important;
    position: relative;
}
.guild-1EfMGQ.selected-ML3OIq:before {
    display: none;
}
.guild-1EfMGQ:not(.selected-ML3OIq):not(.unread-qLkInr) {
    right: -3px !important;
}
.guildsAdd-21_IdK {
    left: 22px !important;
    position: relative;
    border-style: solid;
    border-width: 2px;
    font-size: 34px;
    font-weight: 600;
}
.theme-dark .guildsAdd-21_IdK {
    background: #C8A879; /* Primary Color */
    border-color: rgba(255,255,255,0.23);
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black;
}
.theme-dark .guildsAdd-21_IdK:hover {
    background: #d0c080; /* Secondary Color */
    border-color: rgba(255,255,255,0.53);
    color: white;
}
.theme-dark .guildsWrapper-5TJh6A {
    width: 110px;
    overflow: visible;
}
.theme-dark .guildsWrapper-5TJh6A .scroller-wrap {
    width: 120px;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
}
.theme-dark .guildsAdd-21_IdK,
.theme-dark .guildsError-3cFMtY,
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    right: -19px !important;
    position: relative;
} 
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
   color: white;
}
.theme-dark .guildSeparator-1X4GQ1:after {
    display: none;
}
.theme-dark .guildsError-3cFMtY {
    background: rgba(0,0,0,0.4);
    border: none;
}
.theme-dark .guildsError-3cFMtY:hover {
    background: rgba(0,0,0,1);
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #C8A879 !important;
}

.video-1FfuMD, .theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center, .theme-dark .wrapper-29NfPK {
    background-color: transparent;
    border-color: transparent;
}
.spinner-wandering-cubes-1eyF3t {
    background-color: #C8A879; /* Primary Color */
}
.wanderingCubesItem-WPXqao, .spinner-wandering-cubes .spinner-item {
    background-color: #C8A879; /* Primary Color */
}
.tooltip.tooltip-black.tooltip, .newMessagesBar-mujexs, .theme-dark .jumpToPresentBar-9P20AM {
    background-color: #C8A879; /* Primary Color */
}
.newMessagesBar-mujexs:hover, .theme-dark .jumpToPresentBar-9P20AM:hover {
    background-color: #d0c080; /* Secondary Color */
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.header-2o-2hj:hover {
    background-color: rgba(208, 192, 128, 0.4); /* Secondary Transparency Color */
}
.popout-open .header-2o-2hj {
    background-color: rgba(208, 192, 128, 0.6); /* Secondary Transparency Color */
    border: 3px solid rgba(255,255,255,0.12);
}
.theme-dark .item-1GzJrl.invite-271nFU {
    color: white !important;
    background-color: #1f3bb5 !important;
    border: 2px solid rgba(255,255,255,0.12);
}
.theme-dark .item-1GzJrl.leave-1DRJfn {
    color: white !important;
    border: 2px solid rgba(255,255,255,0.12);
    background-color: #dd3834 !important;
}
.icon-2doZ3q, .theme-dark .separator-2zcjq8, .unreadBar-3YD_k9 {
    display: none;
}
.theme-dark .menu-Sp6bN1 {
    box-shadow: none;
    background-color: #C8A879; /* Primary Color */
    border: 2px solid rgba(255,255,255,0.32);
}
.theme-dark .item-1GzJrl:hover {
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark .item-1GzJrl {
    color: white;
}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH, .iconUnread-2eGkvX, .unread-1Dp-OI {
    display: none;
}
.addButtonIcon-3u-3Hu {
    opacity: 1 !important;
}
[class="addButtonIcon-3u-3Hu"] polygon[fill] {
    fill: #C8A879; /* Primary Color */
}
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameUnread-njOjIS {
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H {
  background-color: #C8A879; /* Primary Color */
}
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB {
  background-color: #d0c080; /* Secondary Color */
}
.nameUnread-njOjIS {
  background-color: #dbc44d;
}
.nameMuted-1MCOt4 {
  background-color: transparent;
  color: #ce2e2a;
  text-align: center;
  text-transform: capitalize;
}
.avatarSpeaking-1wJCNq {
    border: 2px solid #C8A879; /* Primary Color */
    box-shadow: none;
}
.nameSpeaking-3UhoEZ {
    color: white;
}
.theme-dark .guild-1EfMGQ.audio-3vVhBi .guildInner-3DSoA4:after, .theme-dark .guild-1EfMGQ.video-15yGu3 .guildInner-3DSoA4:after {
    background-color: #C8A879; /* Primary Color */
    border-radius: 12px;
    left: 5px;
}
.avatarSpeaking-1wJCNq:before {
    content: "";
    padding-left: 167px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
    left: -3px;
    top: 6px;
    background-color: rgba(255,255,255,0.12);
    border-radius: 50px;
}
.avatarDefault-35WC3R,
.avatarSpeaking-1wJCNq {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 90px;
    height: 24px;
    margin-left: 8px;
    width: 24px;
}
.name-3M0b8v {
    font-size: 13px;
    font-weight: 400;
}
.icon-sxakjD {
    opacity: 1;
}
.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN {
    color: #2a70ce;
}
.colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb {
    color: #d0d0d0;
    opacity: 0.5;
}
.colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK {
    color: #d0d0d0;
    opacity: 0.8;
}
.colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl,
.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: #d93d36;
}
.colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R {
    color: #76e366;
}
.colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: #d9d530;
}
.content-20Aix8 {
    border-radius: 13px;
    margin-top: 2px;
}
.wrapper-KpKNwI {
    overflow: visible;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    display: none;
}
.badge-1GsMF2 {
    bottom: -4px;
    pointer-events: none;
    position: absolute;
    right: -8px;
}
.theme-dark .status-2s6iDp,
.container-2Thooq .status-2kJpnA,
.private-channels .status {
    border-color: transparent;
}
.wrapper-232cHJ {
    background-color: #C8A879; /* Primary Color */
    border-radius: 30px;
    box-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
    font-size: 10px;
    padding: 4px 9px;
    text-shadow: 0 1px 6px rgba(0,0,0,1), 0 1px 6px rgba(0,0,0,1), 0 1px 6px rgba(0,0,0,1);
}
.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(208, 192, 128, 0.6); /* Secondary Transparency Color */
    border: 2px dashed rgba(255,255,255,0.2);
    box-shadow: 0 0 6px rgba(255,255,255,0.72), 0 0 6px rgba(255,255,255,0.72);
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background-color: #C8A879; /* Primary Color */
    border: 2px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 6px rgba(255,255,255,0.72), 0 0 6px rgba(255,255,255,0.72);
}
.theme-dark.contextMenu-HLZMGh {
    background: #C8A879; /* Primary Color */
    box-shadow: 0 0 6px 4px rgba(0,0,0,1);
    border-radius: 9px;
}
.theme-dark .itemSubMenu-1vN_Yn:hover {
    background: linear-gradient(228deg, rgba(208, 192, 128, 1) /* Secondary Transparency Color */, rgba(0, 0, 0, 0.34));;
}
.theme-dark .item-1Yvehc:hover {
    background-color: #d0c080; /* Secondary Color */
    color: #fff !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: linear-gradient(228deg, rgba(200, 168, 121, 1) /* Primary Transparency Color */, rgba(0, 0, 0, 0.34));
}
.theme-dark .item-1Yvehc {
    color: white;
}
.item-1Yvehc {
    border-radius: 9px;
    font-size: 11px;
    font-weight: 300;
    margin: 5px 0;
    padding: 8px 9px;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: rgba(0,0,0,0.38);
    border-color: transparent;
}
.theme-dark .checkbox .checkbox-inner span {
    border-color: transparent;
    background-color: rgba(0,0,0,0.08);
}
.checkbox .checkbox-inner span {
    border-radius: 5px;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: #C8A879; /* Primary Color */
    border-left: none;
    box-shadow: none;
    color: #FFF;
}
.bda-dark #bda-qem button:hover {
    background-color: #d0c080; /* Secondary Color */
}
.bda-dark #bda-qem button.active {
    background: #C8A879; /* Primary Color */
    border: 2px solid rgba(255,255,255,0.34);
}
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #C8A879; /* Primary Color */
}
.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: #C8A879; /* Primary Color */
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(0,0,0,.3);
    border: none;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,0.2);
}
.bda-dark .emoji-picker .dimmer.visible, .bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0,0,0,.5);
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.bda-dark .emoji-picker .diversity-selector .popout-3sVMXz, .bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background-color: #C8A879; /* Primary Color */
    border-color: transparent;
}
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: #d0c080; /* Secondary Color */
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, .bda-dark emojiPicker-3g68GS .scroller-3vODG7::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: #C8A879; /* Primary Color */
    border-color: rgba(0, 0, 0, 0.56);
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, .bda-dark emojiPicker-3g68GS .scroller-3vODG7::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0.56) !important;
    background-color: #C8A879 !important; /* Primary Color */
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: #C8A879; /* Primary Color */
    border: 2px solid rgba(0,0,0,0.23);
}
.channelIcon-MsmKOO {
    color: #C8A879; /* Primary Color */
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: rgba(0,0,0,0.53);
}
.emojiPicker-3m1S-j .category-2U57w6 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
.theme-dark .attachButtonDivider-3Glu60,
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) div,
.theme-dark .divider-3gKybi:before, .theme-dark .divider-3gKybi span,
.theme-dark .topic-2QX7LI:before,
.theme-dark .divider-2PMBlV {
    background-color: transparent;
}
.theme-dark .topic-2QX7LI {
    color: white;
}
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span {
    color: white;
    background-color: rgba(255,255,255,0.35);
    padding: 3px 19px;
    border: 3px solid rgba(255,255,255,0.15)
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: transparent;
}
.avatar-17mtNa .large-3ChYtB {
    height: 70px;
    width: 70px;
    margin-left: -13px;
    margin-top: -2px;
    opacity: 1 !important;
    box-shadow: 0 0 6px 4px black;
}
.containerCozyBounded-1rKFAn {
    overflow: visible;
    margin-bottom: 12px;
}
.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: #C8A879; /* Primary Color */
    color: #fff;
    padding: 2px 5px;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.container-1YxwTf {
    margin-left: 14px;
}
.username-_4ZSMR {
    margin-left: 10px;
}
.contentCozy-3XX413 {
    margin-left: 90px;
}
.theme-dark .timestampCozy-2hLAPV {
    color: white;
}
.theme-dark .username-_4ZSMR {
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.uploadModal-2ifh8j {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(200, 168, 121, 1) /* Primary Transparency Color */ 33%);
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: transparent;
    justify-content: flex-start;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0.65));
    margin-right: 12px;
    top: -17px;
    box-shadow: 0 0 6px 2px black;
    transition: box-shadow .4s linear;
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(234, 42, 39, 0.95));
    box-shadow: 0 0 6px 2px white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #fff;
    color: white;
    opacity: 1 !important;
    box-shadow: 0 0 6px 2px black;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(200, 168, 121, 0.65)); /* Primary Transparency Color */
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    color: white;
    box-shadow: 0 0 6px 2px white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(208, 192, 128, 0.65)); /* Secondary Transparency Color */
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: #C8A879; /* Primary Color */
    background-size: cover;
    border: none;
    border-radius: 13px;
    box-shadow: none;
    height: 134px;
    margin-left: -6px;
    width: 184px;
    box-shadow: 0 0 6px 2px black;
}
.uploadDropModal-2kTwbc {
   background-color: #C8A879; /* Primary Color */
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background-color: #C8A879 !important; /* Primary Color */
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background-color: #C8A879 !important; /* Primary Color */
    border: none;
}
.theme-brand .inner-zqa7da {
    background-color: rgba(0,0,0,0.13);
}
.theme-dark .autocomplete-1vrmpx {
    background-color: #C8A879; /* Primary Color */
}
.theme-brand .iconForeground-1w5n7R,
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.theme-dark .contentTitle-2tG_sM,
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt,
.marginLeft8-1YseBe {
    color: white;
}
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: silver;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #d0c080; /* Secondary Color */
    border-radius: 12px;
}
.theme-dark .inner-zqa7da {
    background-color: rgba(200, 168, 121,.6); /* Primary Transparency Color */
    border: 2px solid rgba(255,255,255,0.23);
}
.theme-dark .textArea-2Spzkt {
    color: white;
}
.textArea-2Spzkt {
    font-size: 0.9375rem;
    font-weight: 300;
    max-height: 144px;
    min-height: 20px;
    padding: 10px 38px 10px 10px;
    resize: none;
    width: 100%;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
::-webkit-input-placeholder {
   color: white !important;
}
.theme-dark .wrapper-3WhCwL, .theme-dark .isMentioned-N-h9aa .mention {
    background-color: rgba(200, 168, 121,.5) !important; /* Primary Transparency Color */
    color: white;
}
.theme-dark .wrapper-3WhCwL:hover, .theme-dark .isMentioned-N-h9aa .mention:hover {
    background-color: rgba(208, 192, 128,.5) !important; /* Secondary Transparency Color */
    color: white !important;
}
.isMentionedCozy-3isp7y:after {
    background: transparent;
    border-left: none;
}
.theme-dark .isMentioned-N-h9aa {
    background: rgba(200, 168, 121,.4); /* Primary Transparency Color */
    padding: 8px 7px;
}
.theme-dark .topic-2QX7LI a,
.theme-dark .markup-2BOw-j a,
a,
.need-help-modal.form.deprecated a,
.need-help-modal.form.deprecated a:hover,
.anchor-3Z-8Bb,
.content-8biNdB a,
.bda-slist .bda-footer a {
    color: #749bf1;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.theme-dark .embedTitleLink-1Zla9e {
    color: #749bf1 !important;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.theme-dark .header-ykumBX,
.theme-dark .search-results-wrap .search-header {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .footer-1kmXd4 {
    background-color: rgba(0,0,0,.4);
}
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .search-results-wrap {
    background-color: #C8A879; /* Primary Color */
    border: none;
    box-shadow: none;
}
.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN {
    color: white;
}
.need-help-modal.form.deprecated .header {
    background-color: #C8A879; /* Primary Color */
}
.need-help-modal.form.deprecated .header input[type=text]:focus,
.need-help-modal.form.deprecated .header input[type=text] {
    border-bottom: none;
}
.need-help-modal.form.deprecated .header input[type=text] {
    background-color: rgba(0,0,0,0.34);
    border-radius: 10px;
    box-shadow: none;
    color: white;
}
.need-help-modal.form.deprecated .form-inner {
    background-color: black;
    display: block;
    padding: 9px;
}
.need-help-modal.form.deprecated .footer {
    background-color: black;
    border-top: none;
    color: white;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: transparent;
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: transparent;
    border-color: transparent;
}
.messageGroupWrapper-o-Zw7G {
    border-radius: 15px;
    border-style: dashed;
    border-width: 2px;
    overflow: visible;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .jumpButton-3DTcS_,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #C8A879; /* Primary Color */
    color: white;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background-image: none;
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: #d0c080; /* Secondary Color */
    color: #fff;
}
.search-results-wrap .channel-separator .channel-name {
    display: block;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 6px;
    text-align: center;
}
.theme-dark .search-results-wrap .search-result .hit {
    background-color: #C8A879; /* Primary Color */
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.45);
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #d0c080; /* Secondary Color */
    border: none;
}
.theme-dark .searchPopout-1vUlP3 {
    background-color: #C8A879; /* Primary Color */
    border: none;
    box-shadow: none;
}
.searchPopout-1vUlP3 {
    border-radius: 13px;
    overflow: visible;
}
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: #d0c080; /* Secondary Color */
    border: 2px solid rgba(0,0,0,0.34);
    box-shadow: 0 0 6px 3px black;
}
.option-96V44q {
    border-radius: 13px;
    font-size: 14px;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: white;
    background-color: rgba(208, 235, 57,0.34);
    padding: 4px 6px;
}
.theme-dark .option-96V44q .filter-3Y_im- {
    color: white;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.34);
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: #C8A879; /* Primary Color */
    border-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: black;
    color: rgba(246,246,247,.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: rgba(255,0,0,0.34) !important;
    color: rgba(246,246,247,.3);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    border: none;
    color: white;
    border-radius: 12px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #d0c080; /* Secondary Color */
}
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type {
    border-radius: 12px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: transparent;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: #C8A879; /* Primary Color */
    box-shadow: 0 0 6px 4px rgba(255,255,255,0.34);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: #d0c080; /* Secondary Color */
    color: #fff;
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.34);
    border-radius: 12px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--today {
    font-weight: 400;
    background-color: #cea500;
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.34);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #C8A879; /* Primary Color */
    color: #fff;
    box-shadow: 0 0 12px 5px rgba(0,0,0,0.64);
    border-radius: 6px;
    transition: background-color .6s ease; 
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: white;
}
.theme-dark .membersGroup-v9BXpm {
    color: white;
    background-color: rgba(200, 168, 121,.4); /* Primary Transparency Color */
}
.membersGroup-v9BXpm {
    font-weight: 500;
    letter-spacing: .14em;
    line-height: 3px;
    text-align: center;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
    text-transform: capitalize;
}
.nameTag-3p0yK- {
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
}
.username-1cB_5E {
    font-size: 14px;
    margin-right: 3px;
    margin-left: 3px;
    overflow: visible;
}
.theme-dark .memberOnline-1CIh-0 {
    color: white;
}
.member-3W1lQa {
    border-radius: 12px;
    height: auto;
    width: auto;
    overflow: visible;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(200, 168, 121,.7); /* Primary Transparency Color */
    color: #fff;
    border: 2px solid rgba(255,255,255,0.23);
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: #d0c080; /* Secondary Color */
    border: 2px solid rgba(255,255,255,0.23);
}
.content-OzHfo4 {
    border-radius: 12px;
    margin-left: -5px;
}
.activityText-sLG0UL,
.theme-dark .edited-DL9ECl,
.theme-dark .operations-36ENbA {
    color: white;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: silver;
}
.theme-dark .message-2qRu38 {
    background-color: rgba(0,0,0,0.32);
    box-shadow: 0 0 16px 3px rgba(0,0,0,0.32);
}
.theme-dark .container-3cGP6G {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark .item-2J1YMK:active, 
.theme-dark .item-2J1YMK:hover {
    background-color: #d0c080; /* Secondary Color */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.43);
}
.popout-3sVMXz {
    box-shadow: none;
}
.theme-dark .hasMore-3e72_v button {
    background-color: #C8A879; /* Primary Color */
    border: none;
    color: white;
}
.theme-dark .iconBadge-2dji3k {
    background-color: #C8A879; /* Primary Color */
    border-color: transparent;
}
.wrapper-2NJDcI {
    background-color: #C8A879; /* Primary Color */
    border-radius: 4px;
    color: white;
    font-size: 11px;
    height: 16px;
    box-shadow: inset 5px 2px 4px 0 rgba(255,255,255,0.23);;
    padding: 0 8px;
}
.theme-dark .wrapper-35wsBm {
    background: rgba(255,255,255,.12);
    border-color: transparent;
}
.theme-dark .guildDetail-1nRKNE,
.theme-dark .reaction-1ELvT8Count-2ddRoS,
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: white;
}
.theme-dark .reaction-1ELvT8 {
    background-color: rgba(200, 168, 121,.4); /* Primary Transparency Color */
}
.theme-dark .reaction-1ELvT8.reactionMe-23mbRf {
    background-color: rgba(208, 192, 128,.5); /* Secondary Transparency Color */
    border: 1px solid rgba(255,255,255,0.34);
}
.theme-dark .markup-2BOw-j pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .markup-2BOw-j code, 
.theme-dark .markup-2BOw-j code.inline {
    background-color: rgba(200, 168, 121,.6); /* Primary Transparency Color */
    box-shadow: inset 4px 2px 5px rgba(255,255,255,0.14);
}
.theme-dark .hljs {
    color: white;
    text-shadow: 0 0 8px black,0 0 8px black,0 0 8px black;
}
.theme-dark .unreadMentionsBar-1VrBNe {
    box-shadow: 0 0 8px 3px rgba(0,0,0,1);
}
.mention-1f5kbO {
    background-color: rgba(200, 168, 121,.6); /* Primary Transparency Color */
    border: 2px solid rgba(255,255,255,0.23);
}
.mention-1f5kbO:hover {
    background-color: rgba(208, 192, 128,.8); /* Secondary Transparency Color */
}
.theme-dark .searchQuery-1B7rtx .searchFor-3W5Vad strong {
    color: white;
}
.create-guild-container.deprecated .create-or-join .form-inner {
    background-color: #1a1a1a;
}
.create-guild-container.deprecated .create-or-join header {
    color: #C8A879; /* Primary Color */
}
.create-guild-container.deprecated .action {
    background: rgba(0, 0, 0, 0.45);
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 6px 4px rgba(255,255,255,0.12);
    transition: background .6s linear;
}
.create-guild-container.deprecated .action.create:hover {
    background: rgba(46, 105, 255, 0.35);
}
.create-guild-container.deprecated .action.join:hover {
    background: rgba(1, 203, 0, 0.35);
}
.create-guild-container.deprecated .action.create .action-header {
    color: #2e69ff;
}
.create-guild-container.deprecated .action.join .action-header {
    color: #01cb00;
}
.create-guild-container.deprecated .action.create .btn {
    background-color: #2e69ff !important;
}

.create-guild-container.deprecated .action.join .btn,
.create-guild-container.deprecated .action:hover.join .btn {
    background-color: #01cb00 !important;
}
.create-guild-container.deprecated .create-or-join .actions .or {
    background-image: url(https://www.icon2s.com/wp-content/uploads/2014/08/arrows-red-green.png);
    background-position: 50%,50%;
    background-repeat: no-repeat;
    background-size: 52px,52px;
    color: transparent;
}
.theme-dark .guildsError-3cFMtY:hover {
    background-color: rgba(0,0,0,0.53);
}
.theme-dark .guildsError-3cFMtY {
    background: rgba(0,0,0,0.23);
    border-color: transparent;
    color: #fff;
    position: relative;
    left: 22px !important;
}
/* Friends and DMs */
.theme-dark .quickswitcher-3JagVE {
    background: linear-gradient(16deg, #000000, #C8A879 /* Primary Color */);
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, .theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .emptyStateNote-ZYTetQ {
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #C8A879; /* Primary Color */
    border: 1px solid rgba(255,255,255,0.34);
    box-shadow: none;
    color: white !important;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid rgba(255,255,255,0.24);
    box-shadow: none;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .input-2VB9rf {
    background-color: rgba(0,0,0,0.23);
    box-shadow: none;
}
.theme-dark .input-2VB9rf:focus {
    background-color: rgba(0,0,0,0.43);
}
.username-2hHyRL,
.miscContainer-2ptJ_C {
    color: white;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 16px 3px rgba(0,0,0,.4);
}
.theme-dark .contentDefault-16dKSY .note-S--UP5,
.theme-dark .icon-30q1Or {
    color: white;
}
.private-channels header,
.private-channels .channel .channel-name {
    color: #fff;
    opacity: .6;
}
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(200, 168, 121,.6); /* Primary Transparency Color */
}
.channel-2QD9_O:hover a {
    background-color: rgba(208, 192, 128,.5); /* Secondary Transparency Color */
}
.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: none;
}
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top: none;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column,
.theme-dark #friends .friends-table .friends-row .friends-column-name,
#friends .friends-table .friends-row .friends-column-status .friend-activity-text, 
#friends .friends-table .friends-row .friends-column-status .status-text,
.theme-dark #friends .tab-bar .tab-bar-item {
    color: white;
}
#friends .friends-table .friends-table-header .friends-column {
    font-weight: 400;
    text-transform: capitalize;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(208, 192, 128,.3); /* Secondary Transparency Color */
    box-shadow: 0 0 12px 3px rgba(0,0,0,0.34);
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: transparent;
}
.iconSizeSmall-3aWgx9 {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #C8A879; /* Primary Color */
    border: 3px dashed rgba(255,255,255,0.34);
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: #d0c080; /* Secondary Color */
    border: 3px solid rgba(255,255,255,0.34);
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border-color: transparent;
    color: white;
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn:hover {
    background-color: #3c8d0a;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background: rgba(208, 192, 128,.5); /* Secondary Transparency Color */
}
.theme-dark .friendSelected--wQP3f {
    background-color: rgba(208, 192, 128,.4); /* Secondary Transparency Color */
    color: #fff;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #C8A879; /* Primary Color */
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #C8A879; /* Primary Color */
    color: #fff;
    border: 2px outset rgba(255,255,255,0.56);
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #C8A879; /* Primary Color */
    color: white;
    border: 2px solid rgba(0,0,0,0.56);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #C8A879; /* Primary Color */
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #d0c080; /* Secondary Color */
    border: 2px outset rgba(255,255,255,0.56);
}
.theme-dark .modal-3HD5ck {
    background: linear-gradient(16deg, #000000, #C8A879 /* Primary Color */);
    box-shadow: none;
}
.theme-dark .checkbox-1ix_J3 {
    border-color: transparent;
    background-color: rgba(0,0,0,0.13);
    box-shadow: 0 0 12px rgba(0,0,0,0.23);
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] {
    border-color: transparent !important;
    background-color: rgba(0,0,0,0.13) !important;
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
}
.friend-2PO6ke .match-1r5QcI {
    color: white;
}
.search-bar-tag {
    background-color: #C8A879; /* Primary Color */
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(0,0,0,0.43);
    border: 2px solid rgba(255,255,255,.52);
}
.search-bar .search-bar-inner {
    background: none;
    border: none;
}
.search-bar {
    background-color: rgba(0,0,0,0.23);
    border-radius: 8px;
}
.searchBar-2pE3BB .search-bar {
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.23);
}
.theme-dark #friends .friends-empty p {
    color: white;
}
.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY {
    border-color: transparent;
    color: white;
    background-color: #4cb40c;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #63ea10;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
    border-color: transparent;
}
.theme-dark .inviteRow-2L02ae:hover {
    background-color: rgba(0,0,0,.4);
}
.aka-1mqp34 {
    background-color: #C8A879; /* Primary Color */
}
/* Discord Settings */
.theme-dark .closeButton-1tv5uR {
    border-color: rgba(255,255,255,0.37);
}
.theme-dark .closeButton-1tv5uR:hover {
    background-color: rgba(208, 192, 128,.3); /* Secondary Transparency Color */
    border-style: outset;
    border-color: rgba(208, 192, 128,.5); /* Secondary Transparency Color */
}
.closeButton-1tv5uR {
    border-radius: 12px;
    border-style: inset;
    border-width: 3px;
}
.theme-dark .keybind-KpFkfr {
    color: white;
}
.noticeInfo-3_iTE1 {
    background-color: #C8A879; /* Primary Color */
    color: #fff;
}
.privateChannels-1nO12o .channel-2fhmY8:hover .channel-2QD9_O.selected-1HYmZZ a {
    background-color: rgba(208, 192, 128,.6); /* Secondary Transparency Color */
}
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: rgba(0,0,0,.3);
    border-color: transparent;
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.23);
}
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-dark .faded-3bns_w {
    color: white;
}
.theme-dark .description-3_Ncsb, .theme-dark .labelDescriptor-1PqHgD {
    color: silver;
}
.avatar-xxlarge {
    border-radius: 23px;
}
.avatar-uploader-inner {
    background-color: #C8A879; /* Primary Color */
    border: none;
    border-radius: 23px;
}
.theme-dark .divider-3573oO {
    background-color: transparent;
}
.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}
.theme-dark .input-cIJ7To:hover {
    background-color: rgba(0,0,0,.5);
    border: none;
}
.theme-dark .input-cIJ7To:focus {
    background-color: rgba(255,255,255,.34);
}
.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.3);
    border: none;
    color: white;
    transition: background-color .6s ease;
}
.statusRed-21U8Tp {
    color: gold;
}
.lookOutlined-3sRXeN.colorRed-1TFJan,
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"],
.lookFilled-1Gx00P.colorRed-1TFJan {
    border: none;
    color: white !important;
    background-color: rgba(173, 33, 58, 0.4) !important;
    box-shadow: 0 0 14px 5px rgba(255,0,0,0.22) !important;
    transition: background-color .6s ease, box-shadow .6s ease;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover,
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"]:hover,
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    border: none;
    color: white !important;
    background-color: rgba(173, 33, 58, 0.7) !important;
    box-shadow: 0 0 14px 5px rgba(255,0,0,0.42) !important;
}
.theme-dark .paymentRow-2e7VM6,
.paymentBreakdown-28CAO8 {
    border-bottom: none;
}
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq,
.theme-dark .expandedInfo-3kfShd {
    background-color: transparent;
    color: white;
}
.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0,0,0,0.23);
}
.highlight {
    background: rgba(0,0,0,.5);
    border: 2px solid rgba(255,255,255,0.13);
    padding: 2px;
    box-shadow: 0 0 6px 2px rgba(255,255,255,0.12);
}
.theme-dark .header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header,
.theme-dark .description-1W0DiL {
    color: silver;
}
.header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.theme-dark .separator-gCa7yv,
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}
.side-8zPYf6 .item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item {
    border-radius: 9px;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    color: #C8A879 !important; /* Primary Color */
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.0980392);"] {
    color: #C8A879 !important; /* Primary Color */
    background-color: rgba(200, 168, 121,.4) !important; /* Primary Transparency Color */
}
.side-8zPYf6 .itemSelected-1qLhcL[style="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    background-color: #C8A879 !important; /* Primary Color */
    color: #fff !important;
}
.side-8zPYf6 .itemSelected-1qLhcL,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
   background-color: #C8A879 !important; /* Primary Color */
   border: 3px dashed rgba(255,255,255,0.12);
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: rgba(200, 168, 121,.3); /* Primary Transparency Color */
}
.theme-dark .featureBorder-7j4v58 {
    border-color: transparent;
}
.theme-dark .h5-18_1nd {
    color: silver;
}
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.3);
    border: none;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.23);
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background-color: #C8A879; /* Primary Color */
    border-color: transparent;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover {
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark .select-2TCrqx .Select-option.is-selected {
    background-color: #C8A879; /* Primary Color */
    border: 2px solid rgba(255,255,255,0.23);
    box-shadow: 0 0 4px 2px black;
}
.barFill-23-gu- {
    background-color: #C8A879; /* Primary Color */
    box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.62);
}
.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background-color: #C8A879 !important; /* Primary Color */
    box-shadow: inset 0 0 6px 0 rgba(255,255,255,0.62);
}
.theme-dark .bar-2Qqk5Z {
    background-color: #d0c080; /* Secondary Color */
}
.bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background-color: #d0c080 !important; /* Secondary Color */
}
.theme-dark .bubble-3we2di {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark .bubble-3we2di:before {
    border-top-color: transparent;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
    background: rgba(200, 168, 121,.4) !important; /* Primary Transparency Color */
    border-color: rgba(0, 0, 0, 0) !important;
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] {
    border-color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0,0,0,0.16) !important;
}
.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: white;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(200, 168, 121,.4); /* Primary Transparency Color */
    border-radius: 6px;
}
.themeDefault-24hCdX,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: #C8A879; /* Primary Color */
}
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: #d0c080; /* Secondary Color */
}
.theme-dark .notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .user-settings-games .game,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.ghostPill-2-KUPM {
    background-color: rgba(200, 168, 121,.5); /* Primary Transparency Color */
    border-radius: 12px;
    color: white;
    font-size: 12px;
}
.theme-dark .button-mM-y8i {
    background-color: rgba(0,0,0,0.3);
    box-shadow: none;
}
.theme-dark .button-mM-y8i:hover {
    background-color: rgba(0,0,0,0.6);
    box-shadow: none;
}
.theme-dark .card-FDVird:before {
    background-color: rgba(255,255,255,0.12);
    border-color: transparent;
}
.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected {
    background-color: rgba(0,0,0,0.23);
}
.theme-dark .user-settings-games .last-played, .theme-dark .user-settings-games .overlay-status-text {
    color: silver;
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: #C8A879; /* Primary Color */
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,#C8A879 0,#C8A879 2px,rgba(0, 0, 0, 0) 0); /* Primary Color */
}
.theme-dark .add-game-popout {
    background-color: rgba(0,0,0,0.63);
}
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: rgba(200, 168, 121,.5); /* Primary Transparency Color */
}
.theme-dark .user-settings-games .now-playing .last-played, .theme-dark .user-settings-games .now-playing .overlay-status-text, .theme-light .user-settings-games .now-playing .last-played, .theme-light .user-settings-games .now-playing .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .game-name-input:focus, .theme-dark .user-settings-games .game-name-input:hover {
    background-color: rgba(255,255,255,.23);
    box-shadow: 0 0 12px 2px rgba(255,255,255,0.23);
    border-color: transparent;
}
.theme-dark .markValue-2DwdXI {
    color: white;
}
.theme-dark .markDash-3hAolZ {
    background: white;
}
.grabber-3mFHz2 {
    background-color: rgba(0,0,0,0.33);
    border: none;
    border-radius: 9px;
    box-shadow: none;
}
.grabber-3mFHz2:hover {
    background-color: rgba(0,0,0,0.73);
}
/* BetterDiscord Side */
.theme-dark #bd-settingspane-container .ui-switch-item .style-description,
.standardSidebarView-3F1I7i #editor-detached h3 {
    color: silver;
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: none;
}
.bd-pfbtn,
.bda-slist .bda-footer button {
    background: #C8A879; /* Primary Color */
}
.ace-monokai,
.ace-monokai .ace_gutter,
#bd-customcss-detach-container,
.editor {
    background-color: rgba(0,0,0,0.24);
    color: white;
}
.standardSidebarView-3F1I7i #editor-detached button {
    background: #C8A879; /* Primary Color */
    height: 29px;
    width: 69px;
    font-weight: 400;
    border-radius: 7px;
    left: 60px;
    position: relative;
}
.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: rgba(255,255,255,0.170);
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background-color: rgba(0, 0, 0,.7); 
    box-shadow: none;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    border: none !important;
    background: rgba(200, 168, 121,.3); /* Primary Transparency Color */
    font-weight: 400;
    margin-right: 23px;
    border-radius: 6px;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: rgba(200, 168, 121,.6); /* Primary Transparency Color */
    border: 2px solid rgba(255,255,255,0.200) !important;
}
.theme-dark .theme-dark .bda-slist li {
    background-color: rgba(0,0,0,.6);
    color: white;
    border-color: #C8A879; /* Primary Color */
    border-width: 2px;
}
.theme-dark .bda-slist .bda-header,
.theme-dark .bda-slist .bda-footer {
    border: none;
}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: #C8A879;
    border-color: transparent;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: #d0c080;
    border-color: transparent;
}
/* User Popout and Modal */
.userPopout-3XzG_A {
    box-shadow: none;
    background: url(http://norkus.xyz/wp-content/uploads/2018/01/stylish-nanachi-anime-character-concept-cute-nanachi-anime-character-dcor.jpg) 60%/cover;
    box-shadow: inset 0 0 56px black, 0 0 26px black;
}
.theme-dark .headerNormal-T_seeN {
    background-color: rgba(0,0,0,0.45);
}
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .body-3ND3kc {
    background-color: rgba(0,0,0,0.45);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.45);
    color: white;
}
.theme-dark .footer-1fjuF6 {
    border: none;
}
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
   background-color: rgba(20,17,139,0.44);
   box-shadow: inset 0 0 56px rgb(20,17,139);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgb(20,17,139) !important;
    color: white !important;
}
.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P {
    background: rgba(57,118,51,0.45);
    box-shadow: inset 0 0 56px rgb(57,118,51);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: rgb(57,118,51);
    color: white;
}
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(119,56,158,0.45);
    box-shadow: inset 0 0 56px rgb(119,56,158);
}
.buttonInvertedPurple-WtBglX {
    background-color: rgb(119,56,158);
    color: white;
}
.bodyTitle-Y0qMQz {
    color: white;
}
.theme-dark .note-3kmerW textarea {
    color: white;
}
.note-3HfJZ5 textarea,
.theme-dark .root-SR8cQa .note-QfFU8y textarea {
    border-radius: 0;
    padding: 9px;
    background-color: rgba(255,255,255,0.22);
    transition: background-color .5s ease;
}
.theme-dark .note-3kmerW textarea:focus,
.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: rgba(0,0,0,0.42);
}
.theme-dark .protip-YaFfgO {
    display: none;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,0.45);
    border-color: transparent;
    box-shadow: inset 0 4px 16px rgba(255,255,255,0.22);
    color: white;
}
.theme-dark .quickMessage-1yeL4E:focus {
    border-color: #C8A879; /* Primary Color */
}
.role-2irmRk {
    border: 2px solid;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    box-sizing: content-box !important;
    position: relative;
    margin-right: 12px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,1);
}
.role-2irmRk::before {
    border: 5px solid;
    border-radius: 0px;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box!important;
    content: "";
    border-color: inherit;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.role-2irmRk .roleCircle-3xAZ1j {
    border-radius: 0;
    height: 15px;
    margin-left:-3px;
    width: 15px;
    bottom: -4px;
    opacity: 0.6;
    position: relative;
    box-sizing: border-box;
}
.roleCircle-3xAZ1j[style*="background-color: rgb(185, 187, 190);"] {
   background-color: rgba(0,0,0,0.63) !important;
}
.role-2irmRk .roleCircleButton-377y0l  {
   border-radius: 0;
   opacity: 0;
   bottom: -5px;
   width: 14px;
   height: 14px;
  margin-left: -16px;
   position: relative;
   transition: opacity .2s, margin-left .2s;
}
.role-2irmRk:hover .roleCircleButton-377y0l  {
   border-radius: 0;
   opacity: 1;
   margin-left: 2px;
}
.roleName-32vpEy {
    margin-top: 10px;
    margin-right: 10px;
}
.role-2irmRk[style*="border-color: rgba(185, 187, 190, 0.6);"] {
   border-color: rgba(0,0,0,0.63) !important;
}
.theme-dark .actionButton-VzECiy {
    border-color: transparent;
    color: white;
    background-color: rgba(119, 177, 98,0.3);
    transition: background-color .2s linear;
}
.theme-dark .actionButton-VzECiy:hover {
    background-color: rgba(119, 177, 98,0.6);
}
.root-SR8cQa {
    border-radius: 13px;
    background: url(https://img00.deviantart.net/1db2/i/2017/258/8/e/nanachi_by_observerz-dbnh4l0.jpg) 50%/cover;
}
.tabBarContainer-1s1u-z {
    border-top: none;
}
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP:hover {
    border-bottom-color: transparent;
    background-color: rgba(255,255,255,0.13);
}
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP {
    border-bottom-color: transparent;
    padding-right: 14px;
    padding-left: 14px;
    background-color: transparent;
    transition: background-color .3s ease-in
}
.userInfoSectionHeader-CBvMDh {
    color: white;
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx,
.theme-dark .connectedAccount-36nQx7 {
    border-color: transparent;
}
.theme-dark .connectedAccount-36nQx7 {
    background-color: rgba(200, 168, 121,.6); /* Primary Transparency Color */
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.43);
}
.connectedAccountName-f8AEe2 {
    color: white;
    overflow: visible;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    padding-top: 6px;
    padding-bottom: 6px;
}
.guildNick-3uAm3i, .listName-3w10cx {
    color: white;
}
.listAvatar-1NlAhb {
    background-color: #C8A879; /* Primary Color */
}
.theme-dark .listRow-hutiT_:hover {
    background: rgba(200, 168, 121,.4); /* Primary Transparency Color */
    color: white;
    box-shadow: 0 0 9px 3px rgba(255,255,255,0.34);
}
/* Activity Feed */
.theme-dark .activityFeed-28jde9 {
    background-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
.article-3kb3qm,
.theme-dark .header-1RC2Wb {
    background-color: #C8A879;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: #d0c080;
}
.theme-dark .discriminator-1Kma2g {
    color: white;
}
.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: #C8A879;
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.42);
}
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: #d0c080;
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.42);
}
.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,.3);
}
.theme-dark .card-7JP0BX {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 13px 6px rgba(0,0,0,0.42);
}
.theme-dark .discriminator-pIKHPn, .theme-dark .playTime-1laRtO {
    color: silver;
}
.theme-dark .headerText-2niCs_ {
    border: none;
    color: white;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}

/* New Stuff */
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .itemBackground-1jfD8p {
    background-color: transparent
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0, 0, 0, 0),black),linear-gradient(90deg,black 0,rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0) 60%,black),linear-gradient(0deg,black 0,rgba(0, 0, 0, 0) 25%)
}

.theme-dark .overlappingBorder-1ysb12 {
    border-color: #C8A879
}

.theme-dark .announcingNitro-3Ptg6m:hover {
    color: white
}

.theme-dark .announcingNitro-3Ptg6m {
    border-color: transparent;
    color: #C8A879
}

.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,0.34);
    box-shadow: none
}

.theme-dark .tileWrapper-2khh-w:hover {
    background-color: rgba(0,0,0,0.84);
    box-shadow: 0 9px 20px 0 rgba(0,0,0,.32);
}

.theme-dark .mediaDescription-31GsyQ {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0),black 45%,black)
}

/* --- */
.theme-dark .focused-2bY0OD {
    background-color: rgba(255,255,255,0.23);
}


.theme-dark .queryContainer-RKFJW- {
    border-bottom-color: transparent;
    color: white
}