/**
 * @name Customizable Sidebar
 * @author ShadowDevilsAvenged
 * @description Theme requested by dylann
 * @version 4
 */

.theme-light .app-2rEoOp {
  background-image: url(https://images6.alphacoders.com/687/687583.jpg);
  background-color: transparent;
  background-size: cover;
}

.theme-light .bg-h5JY_x,
.theme-light .layer-3QrUeG,
.theme-light .layers-3iHuyZ,
.scroller-2TZvBN {
  background-color: transparent;
}

.theme-light .sidebar-2K8pFh,
.theme-light .container-3w7J-x {
  background-color: rgba(255,255,255,.5);
}

.theme-light .wrapper-1Rf91z,
.theme-light .macButtons-2MuSAC {
  background-color: rgba(255,255,255,.8);
}

.macButtons-2MuSAC {
  width: 72px;
}

.theme-light .panels-j1Uci_ {
  background-color: rgba(255,255,255,.4);
}

.modeSelected-346R90 .content-1x5b-n, 
.modeSelected-346R90:hover .content-1x5b-n {
  background-color: #50535c;
}

.modeSelected-346R90 .name-23GUGE, 
.modeSelected-346R90:hover .name-23GUGE,
.modeSelected-346R90 .actionIcon-PgcMM2,
.modeSelected-346R90:hover .actionIcon-PgcMM2 {
  color: white;
}
