/**
 * @name Hashiras
 * @author ShadowDevilsAvenged
 * @description Theme requested by sub
 * @version 4
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://wallpapercave.com/wp/wp5113887.jpg);
    --background-opacity: rgba(0, 0, 0, .7);
    --word-color: white;
    --primary-color: #e7700e;
    --primary-transparency: rgb(231, 112, 14, .8);
    --avatar-radius: 3px;
    --button-radius: 3px;
}


/* Customize other Custom CSS below this line */
