/**
 * @name Inosuke Theme
 * @author ShadowDevilsAvenged
 * @description Theme requested by Robyn The Panda
 * @version 1
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://images8.alphacoders.com/103/1032418.jpg);
    --background-opacity: rgba(0, 0, 0, .6);
    --word-color: white;
    --primary-color: #b6ab7d;
    --primary-transparency: rgba(182, 171, 125, .6);
    --avatar-radius: 5px;
    --button-radius: 5px;
}


/* Customize other Custom CSS below this line */