/**
 * @name Megumin Theme
 * @author ShadowDevilsAvenged
 * @description Theme requested by Akaito
 * @version 4
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://cdn.discordapp.com/attachments/722330318178222130/758297076798062602/thumb-1920-704387.png);
    --background-opacity: rgba(0, 0, 0, .55);
    --word-color: white;
    --primary-color: #d8150f;
    --primary-transparency: rgba(216, 21, 15, .6);
    --avatar-radius: 3px;
    --button-radius: 3px;
}


/* Customize other Custom CSS below this line */
