/**
 * @name Nature Theme
 * @author ShadowDevilsAvenged
 * @description BD Theme requested by Ivyomen
 * @version 4
 */

* {
	font-family: Calibri !important;
}


#app-mount .app-2rEoOp {
	background: url(https://wallpapercave.com/wp/wp5306638.jpg) 30%/cover;
}

.settingCard-3w2mVL.active-1ytUzX {
    background: rgba(0, 0, 0, .7);
}

.settingCard-3w2mVL {
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
}

.cardFolder-28dwxo {
    background-color: transparent;
}

.sidebar-2K8pFh,
.container-3w7J-x,
.theme-dark .layer-3QrUeG,
.theme-dark .wrapper-1Rf91z,
.theme-dark .scroller-2TZvBN,
.scroller-305q3I,
.contentRegionScroller-26nc1e,
.sidebarRegionScroller-3MXcoP,
.scroller-2TZvBN {
	background-color: transparent;
}

.theme-dark .children-19S4PO:after {
	background: none;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: rgba(0, 0, 0, .33);
  color: #fff;
}


.theme-dark .layers-3iHuyZ {
	background: rgba(0, 0, 0, 0.6);
}

.wrapper-1Rf91z {
	margin: 38px 0;
	border-radius: 0;
}

.scrollerWrap-1IAIlv {
	width: 68px;
}

.scroller-2TZvBN {
	padding: 12px 0;
}

.theme-dark .quickswitcher-3JagVE {
	background: rgba(109, 160, 120, .75);
    color: white;
	border: 2px solid rgba(0, 0, 0, 0.66);
	box-shadow: inset 0 0 26px 5px rgba(0, 0, 0, 0.66);
}

.protip-1b9XPC {
    border-top: none;
}

.autocompleteQuerySymbol-1kyGZ5 {
	background-color: #6da078;
	border-radius: 3px;
}

.tutorialIcon-3f1miQ {
	background-color:  #6da078;
	color: white;
	border-radius: 6px;
}

.emptyChannelIcon-cc932w {
  border-radius: 6px;
  background-color: #6da078;
}

.wrapper-39oAo3 {
    background-color: rgba(0, 0, 0, .23);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: white;
    background-color: transparent;
    border: 1px solid #4f545c;
}

.background-ujHpbY {
  background-color: transparent !important;
}

.tile-2naSqK {
	background-color: transparent;
}
.card-3RzMcx {
	background-color: rgba(0, 0, 0, .30) !important;
}
  
.card-2Mz_4z {
	border-radius: 5px;
	color: white;
	border: 1px solid #6da078;
	background-color: rgba(109, 160, 120, .3);
}
.border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px #6da078, inset 0 0 0 3px #000;
}
  .sourceThumbnail-27dolk {
	background-color: transparent;
  }

.theme-dark .item-3T2z1R {
  border-color: transparent;
}

.item-3T2z1R:last-child {
  border-radius: 0 5px 5px 0;
}

.selectorButton-EEUWed {
  background-color: rgba(109, 160, 120, .3);
}

#app-mount .selectorButtonSelected-t5V9On {
  background-color: #6da078;
}

.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: rgba(109, 160, 120, .6);
}
  
.tile-2w4k5N:hover .sourceThumbnail-27dolk,
.sourceThumbnail-27dolk.selected-1nOkyc {
	box-shadow: inset 0 0 0 2px #6da078;
}

  .tutorial-3w5I9h {
    background-color: rgba(0, 0, 0, .26);
}

.scroller-zPkAnE,
.scroller-2XE8rp {
	background-color: transparent;
}


.quickswitcher-3JagVE {
	border-radius: 10px;
	padding: 20px 20px 10px;
	box-shadow: none;
}

.theme-dark .input-2VB9rf,
.theme-dark .input-2VB9rf:focus {
	box-shadow: none;
}

.theme-dark .input-2VB9rf:focus {
	background-color: rgba(0, 0, 0, .3);
}

.theme-dark .input-2VB9rf {
	background-color: transparent;
}

.input-2VB9rf {
	border-radius: 4px;
}

.theme-dark .emptyStateNote-ZYTetQ,
.header-13MUnb {
	color: white;
}

.theme-dark .tipsWithoutResults-lGY-De,
.theme-dark .tipsWithResults-HhTE9b {
	border-color: transparent;
	color: white;
}

.tipsWithoutResults-lGY-De {
	margin-top: 10px;
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
	background-color: transparent;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
	background: #6da078;
	color: white;
	border: 2px solid rgba(204, 227, 246, 0.60);
}

.keybindShortcut-1BD6Z1 span {
	border-radius: 9px;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
	background: #6da078;
	border: 2px solid rgba(0, 0, 0, 0.66);
}

.theme-dark .resultFocused-3aIoYe {
	background: rgba(255, 255, 255, .1);
    color: white;
	border-radius: 3px;
}

.theme-dark .contentDefault-16dKSY {
	color: white;
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
	color: silver;
}

.theme-dark .contentDefault-16dKSY .note-S--UP5 {
	color: rgba(255, 255, 255, 0.52);
}

.darkTheme-3uETC4 .input-1Rv96N {
	color: white;
}

.darkTheme-3uETC4.container-2XeR5Z {
	background-color: transparent;
}

.searchBar-6Kv8R2 {
	box-shadow: none;
}

*::-webkit-input-placeholder {
    color: white !important;
}

.channel-2QD9_O, .channel-2QD9_O a {
	color: white;
}

.clickable-1JJAn8:hover .layout-2DM8Md {
	background-color: transparent;
}

.channel-2QD9_O a {
	border-radius: 5px;
}

.avatar-3uk_u9 .wrapper-3t9DeA {
	margin-right: -3px;
}

.avatar-1BDn8e {
	margin-top: -3px;
	margin-left: -5px;
	width: 50px;
	height: 50px;
}

.theme-dark .quickswitcher-3JagVE .auto-Ge5KZx::-webkit-scrollbar {
	width: 14px;
}

.theme-dark .quickswitcher-3JagVE .scroller-zPkAnE::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .56) !important;
    border-radius: 4px;
}

.selected-aXhQR6 .layout-2DM8Md,
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
	background:  #6da078;
	box-shadow: inset 0 0 26px 5px rgba(0, 0, 0, 0.66);
}


.scroller-1IIF0A,
.theme-dark .container-1D34oG,
.theme-dark .peopleList-3c4jOR,
.applicationStore-1pNvnv,
.scroller-9moviB {
	background-color: transparent;
}

.theme-dark .container-1r6BKw {
	color: white;
    background-color: transparent;
}

.theme-dark .children-19S4PO:after {
	background: none;
}

.theme-dark .icon-22AiRD {
	color: white;
}


.live-vBWnV6 {
	background-color:rgba(109, 160, 120, .72) !important;
	width: 39px !important;
	min-height: 6px !important;
}


.auto-Ge5KZx::-webkit-scrollbar-track {
	background-color: transparent;
	border: none;
}

.auto-Ge5KZx::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.22);
	border-color: transparent;
}

.theme-dark .divider-3FBTu8 {
	background: transparent;
}


.theme-dark .themed-OHr7kt.item-PXvHYJ {
	color: white;
}

.topPill-30KHOu .item-PXvHYJ {
	border-radius: 5px;
	margin-left: -2px;
}

.theme-dark .input-3Xdcic {
	color: white;
}

.theme-dark .container-cMG81i,
.privateChannels-1nO12o,
.scroller-1JbKMe {
	background-color: rgba(0, 0, 0, 0.20);
}

.theme-dark .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
	background: #6da078;
	opacity: 0.65;
}
.theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, 
.theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
	background: #6da078;
	opacity: 1;
}

.theme-dark .topic-TCb_qw {
	color: white;
}

.topic-TCb_qw,
.lookFilled-1Gx00P .contents-18-Yxp, 
.lookInverted-2D7oAl .contents-18-Yxp, 
.lookLink-9FtZy- .contents-18-Yxp, 
.lookOutlined-3sRXeN .contents-18-Yxp,
.embedContentInner-FBnk7v {
	overflow:visible;
}

.theme-dark .divider-3573oO {
	border: none;
}

.theme-dark .input-cIJ7To {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: transparent !important;
}

.input-cIJ7To {
	border-radius: 5px;
}

.theme-dark .input-cIJ7To:focus {
	background: rgba(0, 0, 0, .4);
}


.footer-3rDWdC .input-cIJ7To .lookFilled-1Gx00P.colorBrand-3pXr91,
.copyButton-1I8hd3 {
	border-radius: 0 5px 5px 0 !important;
}
.inputWrapper-31_8H8 .input-cIJ7To .multiInputLast-1aQ3YA input {
	border-radius: 0 5px 5px 0;
}

.inputWrapper-31_8H8 .input-cIJ7To {
	border-top-left-radius: 13px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 13px;
}

.channel-2QD9_O .linkButtonIcon-Mlm5d6,
.name-2WpE7M {
	color: silver;
}



.privateChannels-1nO12o header {
	opacity: .8;
}

.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"],
.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
	background: #0fcc0f !important;
}



.theme-dark .wrapper-1cBijl {
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.626);
}


.theme-dark .modal-yWgWj-,
.theme-dark .root-1gCeng {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.66) 40%, #6da078 100%);
	box-shadow: none;
}

.colorHeaderSecondary-3Sp3Ft {
    color: white;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.wrapper-3D2qGf,
.theme-dark .popout-13LQ_3 {
  background: linear-gradient(45deg, rgba(109, 160, 120, .66) 0%, rgba(109, 160, 120, 0.84) 100%);
}

.input--jS-j2 {
	background-color: transparent;
}
  
.container-UC8Ug1 {
	border-radius: 4px;
	border: 1px solid rgba(4, 8, 120, 0.66);
	background-color: rgba(0, 0, 0, .4);
}

.theme-dark .inset-3sAvek,
.theme-dark .enabled-1t_Gxm:hover,
.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.itemActive-2V2HNc {
  background-color: rgba(0, 0, 0, 0.3);
}

.helper-2c73HK,
.colorHeaderPrimary-26Jzh-,
.container-UC8Ug1 .colorStandard-2KCXvj,
.footer-2gL1pp .colorStandard-2KCXvj  {
  color: white;
}

.moreUsers-7v8yWY,
.iconBadge-2wi9r4 {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.theme-dark .separator-XqIyoz {
	background: none;
}

.theme-dark .checked-3_4uQ9 {
	background: rgba(109, 160, 120, .55);
	border: 2px solid black !important;
	border-radius: 5px;
}

.numberBadge-2s8kKX {
	border: 2px solid black;
	background-color: rgba(109, 160, 120, 0.801) !important;
}
.base-PmTxvP {
	border-radius: 5px;
	min-width: 27px;
	min-height: 27px;
	margin-right: -2px;
	margin-bottom: -2px;
}

.mention-1f5kbO {
	border: 2px solid black;
	background-color: rgba(109, 160, 120, .75) !important;
	border-radius: 5px;
}

.wrapper-1Rf91z .unread-1xRYoj,
.unread-1xRYoj {
	display: none;
}

.unreadMentionsIndicatorBottom-BXS58x, 
.unreadMentionsIndicatorTop-gA6RCh {
	overflow: visible;
	height: 74px;
}

.svg-1X37T1>mask {
   display: none;
}

.icon-27yU2q,
.circleIconButton-jET_ig {
	border-radius: 50px;
}

.theme-dark .actionButton-uPB8Fs,
.actionButton-uPB8Fs.highlight-Lf97TE {
	background-color: rgba(109, 160, 120, .60) !important;
	border: 2px solid black !important;
	border-radius: 5px;
}

.theme-dark .title-30qZAO {
	color: white;
}


.theme-dark .peopleListItem-2nzedh,
.theme-dark .checkbox-1ix_J3, 
.theme-dark .sectionAccountCredit-1uNhnJ, 
.theme-dark .subscriptionDetails-1dUmjl,
.marketingRefreshTier2Cta-bw9Vyc {
	border: none;
}

.theme-dark .peopleListItem-2nzedh:hover {
 background: rgba(109, 160, 120, .40);
 border: none;

}

.nowPlayingColumn-2sl4cE {
  background: transparent;
}

.theme-dark .childWrapper-anI2G9 {
	background-color: transparent !important;
}


.box-mmYMsp {
	border-radius: 5px;
}

.theme-dark .checked-3_4uQ9 path[fill] {
	fill: white;
}


.theme-dark .friendSelected-1sa4bG,
.theme-dark .container-2XeR5Z {
	background-color: rgba(0, 0, 0, 0.3);
}

.theme-dark .tag-2gHSR7 {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.theme-dark .input-1Rv96N,
.theme-dark .friend-3KALPe {
	color: white;
}

.theme-dark .subtitle-2P4u9v {
	color: silver;
}

.guildSeparator-3s64Iy {
	background: transparent;
}


.panels-j1Uci_ {
	background-color: transparent;
}



.lookOutlined-3sRXeN.colorRed-1TFJan {
	color: white !important;
	border-color: #fc0600 !important;
	background-color: #a70a07;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"],
.lookFilled-1Gx00P.colorRed-1TFJan {
	background: #c51818 !important;
	color: white !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorGreen-29iAKY {
	background: #109610 !important;
	color: white;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
	color: white;
	border-color: #1f821f;
	background-color: #0e480e;
}

.buttonInvertedPurple-WtBglX {
	background: #5b137c;
	color: white;
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91 {
	background: #1f1f9c !important;
	color: white;
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	color: white !important;
	border-color: #0d264a !important;
	background-color: #173c71 !important;
}

.lookFilled-1Gx00P.button-38aScr, 
.lookInverted-2D7oAl.button-38aScr,
.lookOutlined-3sRXeN.button-38aScr {
   border-radius: 5px;
}

/* Chat Section */

.folderIconWrapper-226oVY {
    border-radius: 5px;
    overflow: visible;
}

.theme-dark .expandedFolderBackground-2sPsd-,
.theme-dark .expandedFolderBackground-2sPsd-.hover-2ji_A7 {
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.327);
}

.theme-dark .folder-21wGz3,
.theme-dark .folder-21wGz3.hover-2ji_A7 {
    background-color: rgba(0, 0, 0, 0.427);
}



.item-2hkk8m,
.item-2hkk8m[style*="height: 40px"] {
    width:18px;
    height: 18px !important;
    border-radius: 5px;
	margin-left: 6px;
	border: none;
	background-color: rgba(109, 160, 120, 0.801) !important;
}
.wrapper-sa6paO {
    overflow: visible;
    height: 15px;
      z-index: 1;
}

.guildsError-b7zR5H,
.theme-dark .guildIconUnavailable-5PMHDN  {
	color: white;
	background: linear-gradient(5deg, transparent 42%, rgba(230, 48, 48, 0.989) 100%);
	border: 2px solid rgba(230, 48, 48, 0.60);
	box-shadow: inset 0 0 6px 1px rgba(230, 48, 48, 0.60);
}

.guildsError-b7zR5H:hover {
	background: linear-gradient(5deg, transparent 42%, rgba(218, 10, 10, 0.989) 100%);
	border: 2px solid rgba(230, 48, 48, 0.60);
	box-shadow: inset 0 0 6px 1px rgba(230, 48, 48, 0.60);
}

.theme-dark .tooltipRed-8-9NeP {
	color: white;
	border: 2px solid rgba(137, 17, 17, 0.60);
	box-shadow: inset 0 0 6px 1px rgba(137, 17, 17, 0.60);
	background-color: rgba(199, 12, 12, 0.56);
}

.unreadPill-2HyYtt {
	border-radius: 5px;
	background-color:#6da078 !important;
	color: white;
	margin-top: -3px;
	padding: 8px 5px;
}

.unreadPillCapStroke-7rkHbg {
  color: #6da078;
  fill: #6da078;
}

.theme-dark .form-2fGMdU:before,
.separator-42rNt0 {
  background: none;
}

.icon-KgGMGo,
.button-1ZiXG9 {
  color: white;
}

.divider-24xeUg {
  border: none;
}


.toolbar-2bjZV7:before {
  border-top: none;
}

.toolbar-2bjZV7 {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #6da078 !important;
}

.wrapper-2aW0bm {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #6da078 !important;
}

.button-1ZiXG9:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.reactionBtn-3N03Zj {
  visibility: visible;
  color: white;
  height: 1.7rem;
  width: 1.7rem;
  margin-left: 6px;
}



.theme-dark .tooltipPrimary-1d1ph4 {
	border: 2px solid #6da078;
	background-color: rgb(109, 160, 120, .77) !important;
}

.theme-dark .tooltip-2QfLtc {
	box-shadow: none;
	color: white;
}

.tooltip-2QfLtc {
	border-radius: 5px;
}

.tooltipPointer-3ZfirK {
	border: none;
}

.circleIconButton-jET_ig {
	color: white;
	background: rgba(109, 160, 120, .76);
	border: 2px solid black;
}

.circleIconButton-jET_ig.selected-ugP_am {
	background-color: #6da078;
}

.theme-dark .searchBox-3Y2Vi7 {
	background-color: transparent;
	box-shadow: none;
}

.css-1wqqa50-container {
	background-color: rgba(0, 0, 0, 0.33);
	box-shadow: none;
}

.theme-dark .sectionSeparator-2OWiNT {
	border: none;
}

.css-3vaxre-menu {
	background-color: #6da078;
	box-shadow: none;
	color: white;
	border-top: none;
}

.css-1yz4bi9-option {
	background-color: rgba(0, 0, 0, .7);
	color: white;
}

.css-rzbxvl-option {
	background-color: rgba(0, 0, 0, 0.40);
	color: white;
}

.theme-dark .pageWrapper-1PgVDX {
	background-color: transparent;
}

.theme-dark .card-3DjzTQ, 
.theme-dark .cardPlaceholder-1zrbbe {
	background-image: #6da078;
}

.container-PNkimc,
.messages-3amgkR {
	background-color: transparent;
}

.styleFixed-sX-yHV {
	border-radius: 5px;
	box-shadow: none;
	background: #3c5d43;
}

.separator-2I32lJ {
	border-bottom: none;
}

.colorDefault-2K3EoJ {
	color: white;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    border: 2px solid rgba(0, 0, 0, .6);
    background-color: #6da078 !important;
    border-radius: 5px;
	color: white;
}

.bd-switch {
	background-color: #3c5d43;
	border-radius: 5px;
}

.container-3auIfb {
	border-radius: 5px;
	background-color: #3c5d43 !important;
}

.container-3auIfb rect {
	fill: red;
	rx: 5;
}
.container-3auIfb path {
	fill: white;
}

.bd-switch::after {
	background-color: white;
	border-radius: 5px;
}

.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] {
	background: #6da078 !important;
	border-radius: 5px;
}
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] rect {
	fill: #11df3d;
	rx: 5;
}
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] path {
	fill: white;
}

.bd-switch-checked {
	background: #6da078;
	border-radius: 5px;
}

.theme-dark .footer-2gL1pp {
	background-color: transparent;
	box-shadow: none;
}

.theme-dark .separator-2-RRj_ {
	box-shadow: none;
}

.avatarSpeaking-2IGMRN {
	box-shadow: inset 0 0 0 2px #06b164,inset 0 0 0 3px black;
}

.avatar-3tNQiO {
	border-radius: 5px;
}

.border-Jn5IOt.video-3SrWSI.speaking-B2MXPi,
.border-Jn5IOt.voice-3bPYC-.speaking-B2MXPi {
	border-radius: 5px;
    box-shadow: inset 0 0 82px 1px rgba(204, 227, 246, 0.97);
}

.centerButton-3CaNcJ {
  background: rgba(0, 0, 0, .2);
}

.centerButton-3CaNcJ:hover {
  background: rgba(0, 0, 0, .4);
}

.border-Jn5IOt {
	border: 4px solid #6da078;
}

.controlButton-2MhVEL.leaveButton-2YnTyt {
  background: #dc2727;
}

.voiceSectionGuildImage-3HwnfL, 
.voiceSectionNoGuildImageWrapper-TicZR3 {
  border-radius: 5px;
  -webkit-mask: none;
  mask: none;
}

.partyMember-1CzxeX:last-child,
.partyMember-1CzxeX {
  -webkit-mask: none;
  mask: none;
}

.theme-dark .voiceSectionIconWrapper-FO7UEY {
  border-radius: 5px;
}

.partyMember-1CzxeX foreignObject {
  mask: none;
}



.theme-dark .wrapper-2qzCYF {
	background-color: transparent;
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root,
.icon-3cZ1F_ {
	color: white;
}



.status-1WEaea.voice-3bPYC- {
	background-color: #3c5d43;
	border-radius: 5px;
}


.theme-dark .quickSelectPopoutOption-opKBx9 {
	background-color: #3c5d43;
	color: white;
}

.theme-dark .regionSelectName-c5qL8O {
	color: white;
}

.theme-dark .quickSelectPopoutOption-opKBx9:hover {
	background-color: rgba(0, 0, 0, 0.37);
}


.modeUnread-1qO3K1 .name-23GUGE, 
.modeUnread-1qO3K1:hover .name-23GUGE,
.modeUnread-1qO3K1 .icon-1DeIlz,
.modeUnread-1qO3K1:hover .icon-1DeIlz {
	 color: white;
	 margin-left: 12px;
}
.modeSelected-346R90 .icon-1DeIlz, 
.modeSelected-346R90:hover .icon-1DeIlz,
.modeSelected-346R90 .name-23GUGE, 
.modeSelected-346R90:hover .name-23GUGE {
	color: white;
}

.unread-2lAfLh {
	background-color: #15ff00;
	width: 15px;
	border-radius: 0 2px 2px 0;
}

.wrapper-2jXpOf:hover .content-1x5b-n {
  background-color: rgba(109, 160, 120, .4);
  border-radius: 5px;
}


.content-1x5b-n {
	border-radius: 5px;
}

.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n, 
.wrapper-2jXpOf.modeSelected-346R90:hover .content-1x5b-n {
  background-color: rgba(109, 160, 120, .7);
  border-radius: 5px;
}

.members-1998pB .clickable-1JJAn8:hover .layout-2DM8Md {
	background-color: rgba(109, 160, 120, .4);
	border-radius: 5px;
}

.members-1998pB>div {
	background-color: transparent;
}

.members-1998pB .selected-aXhQR6 .layout-2DM8Md {
  background-color: rgba(109, 160, 120, .7);
  border-radius: 5px;
}

.total-i6us2n {
	width: 28px;
    background-color: #6da078;
}

.total-i6us2n:after {
	border: none;
}

.users-3kndPl {
	width: 28px;
	padding: 0 12px 0 7px;
    background-color: #3c5d43;
}

.wrapper-2tAnRe {
	color: white;
	border-radius: 5px;
}

.wrapper-2jXpOf.modeLocked-25wLHj .name-23GUGE,
.wrapper-2jXpOf.modeLocked-25wLHj .icon-1DeIlz {
    color: red;
}

.wrapper-2jXpOf.modeLocked-25wLHj:hover .content-1x5b-n {
    background-color: rgba(214, 23, 23, 0.32);
	border-radius: 5px;
}

.button-14-BFJ {
	border-radius: 5px;
	color: white;
	background-color: rgba(0, 0, 0, .32) !important;
	margin-right: 6px;
}

.channelTextArea-rNsIhG,
.form-2fGMdU {
	border-top: none;
}

.channelTextArea-rNsIhG {
  background-color: transparent;
}

.activityText-yGKsKm {
  overflow: visible;
}

.chat-3bRxxu {
	background: transparent;
}

.uploadArea-3QgLtW {
    background: rgba(0,0,0,.3);
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .bgScale-1otPtc {
	background-color: #3c5d43;
	border-radius: 5px;
}

.uploadArea-3QgLtW .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: none;
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}


.divider-JfaTT5 {
	border: none;
}

#app-mount .content-1o0f9g {
	color: white;
	background-color: #3c5d43;
	border-radius: 5px;
	padding: 4px 7px;
}

#app-mount .isUnread-3Ef-o9 .content-1o0f9g {
	color: white;
    background-color: #6da078;
	border-radius: 5px;
	padding: 4px 7px;
}

.attachWrapper-2TRKBi {
	border: none;
}

.placeholder-37qJjk {
	font-weight: 500;
	font-size: 1.1rem;
	color: white;
}



.theme-dark .inner-zqa7da {
	background-color: transparent;
}

.scrollableContainer-2NUZem {
		background-color: rgba(109, 160, 120, .41);
		border-radius: 5px;
}


.zalgo-jN1Ica .messageContent-2qWWxC,
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
	overflow: visible;
}


.cozyMessage-3V1Y8y.groupStart-23k01U {
	padding-top: 5px;
	padding-bottom: 4px;
	margin-bottom: 12px;
	margin-left: 2px;
}

.cozy-3raOZG .timestamp-3ZCmNB {
	font-size: 0.95rem;
	font-weight: 500;
	color: white;
}

.timestamp-1E3uAL {
	color: white;
}

.username-1A8OIy {
	font-size: 18px;
}

/* Emotes */


.inspector-S2gM3e {
	background: none;
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color: rgba(0, 0, 0, .4);
}

.contentWrapper-SvZHNd,
.emojiPicker-3PwZFl {
	background: linear-gradient(5deg, #3c5d43 72%, #6da078 100%);
	border-radius:5px;
}

.wrapper-2Gsate {
	background: none;
}


.navButtonActive-1MkytQ.active {
	background-color:  #6da078 !important;
	color: black;
}

.guildIcon-3h-1IH {
    background-color: transparent;
    color: white;
}

.navButtonActive-1MkytQ:hover {
	background-color: #3c5d43;
}

.navButtonActive-1MkytQ,
.emote-container:hover {
	background-color: rgba(0, 0, 0, 0.21);
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, 
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
	color: rgba(0, 0, 0, .26) !important;
	border-radius: 5px;
}

.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
  color: white;
}

.navButtonActive-1MkytQ {
	border-left: none;
}


.contentWrapper-SvZHNd .diversitySelectorPopout-3FiGaM {
	background: rgba(0, 0, 0, 0.52);
	border-color: transparent;
}

.diversityEmojiItem-L6_IXw:hover {
	background-color: rgba(245, 245, 245, 0.16);
}

.emojiPicker-3PwZFl .header-8ilj5e .searchBar-2pWH0_ {
	background-color: rgba(0, 0, 0, 0.42);
}

.emojiPicker-3PwZFl .header-8ilj5e {
	border: none;
	box-shadow: none;
}

.wrapper-1-Fsb8 {
	background-color: rgba(0, 0, 0, 0.22);
}



.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-style: solid;
  background: none;
}
/* ---- */

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
	background-color: rgba(109, 160, 120, .7);
	color: #fff;
	padding: 1px 7px !important;
}

.theme-dark .embedFull-2tM8--,
.theme-dark .wrapperAudio-1jDe0Q {
    box-shadow: none;
	background-color: rgba(60, 93, 67, .5);
}

.theme-dark .edited-3sfAzf {
	color: white;
}

.embedProvider-3k5pfl,
.reactionCount-2mvXRV {
	color: white!important;
}

.theme-dark .inviteRow-2L02ae:hover {
	background-color: rgba(117, 117, 117, 0.13);
}

.reaction-1hd86g {
   background-color: rgba(0, 0, 0, 0.327);
   border-radius: 5px;
}

.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: rgba(42, 151, 32, .3);
}

.styleFlexible-wGDiIL,
.container-3cGP6G,
.submenu-2-ysNh {
	border-radius: 5px;
	background-color: #3c5d43;
}

.clickable-11uBi-:hover, .selected-BYpGTS {
	color: white;
	background-color: rgba(255,255,255,.072);
}

.itemBase-tz5SeC {
	color: white;
	border-radius: 5px;
}

.label-JWQiNe {
	overflow: visible;
}

.theme-dark .bar-2Qqk5Z {
	background: #3c5d43;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
	background: #3c5d43 !important;
}
  
.barFill-23-gu- {
	background: #6da078;
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
	background: #6da078 !important;
}

.theme-dark .guildName-3WI6ml, 
.theme-dark .override-2YgiXd, 
.theme-dark .overrideHighlight-YPcBxt {
	color: white;
}

.cardPrimaryOutline-29Ujqw {
	border-color: transparent;
	background-color: rgba(0, 0, 0, 0.327) !important;
}

.theme-dark .checkboxContainer-2vV9zd:before {
	background-color: transparent;
}

.theme-dark .button-2CgfFz {
	background-color: rgba(0, 0, 0, 0.327) !important;
	box-shadow: none !important;
}

.css-15ejc46-control,
.css-gvi9bl-control,
.css-6fzn47-control {
	background-color: rgba(0, 0, 0, .3);
	border-color: transparent;
}

.css-15ejc46-control:hover,
.css-gvi9bl-control:hover,
.css-6fzn47-control:hover {
	border-color: black;
}

.css-o3gndj-placeholder {
	color: white;
	opacity: 1;
}

.css-181m2lf-menu,
.theme-dark .popout-2sKjHu,
.theme-dark .info-3UT5_W {
	background-color: rgba(109, 160, 120, .5);
	border-radius: 0 0 5px 5px;
}

.theme-dark .addGamePopout-2RY8Ju {
    background-color: #272727;
}

.lighten-2aYaaU {
	opacity: 1;
}

.css-1yz4bi9-option {
	color: white;
}

.css-rzbxvl-option {
	background-color: rgba(109, 160, 120, .3);
}

.cardPrimaryEditable-3KtE4g {
	background: rgba(0, 0, 0, 0.32);
	border: none;
}

.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
	background-color: rgba(0, 0, 0, .56) !important;
	border-radius: 5px;
}

.grabber-3mFHz2,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span{
	background-color: #6da078 !important;
	border-radius: 3px;
}


.iconBadge-qZ4Ksk {
  background-color: #6da078 !important;
}

.theme-dark .jumpToPresentBar-G1R9s6 {
    background-color: rgba(109, 160, 120, .85) !important;
}
 
.theme-dark .newMessagesBar-265mhP {
    border-radius: 0 0 11px 11px;
    background-color: rgba(109, 160, 120, .65) !important;
}
 
.theme-dark .newMessagesBar-265mhP button:last-child,
.jumpToPresentBar-G1R9s6 button:last-child {
    color: white;
}

.hasMore-3e72_v,
.theme-dark .hasMoreButton-1MELpI {
 background: #6da078 !important;
 border: none;
}

.hasMore-3e72_v,
.theme-dark .hasMoreButton-1MELpI {
 color: white;
 font-size: 15px;
 font-weight: 600;
 border-radius: 9px;
}

.theme-dark .header-ykumBX {
	background-color:  transparent;
	box-shadow: none;
}

.theme-dark .searchHeader-2XoQg7 {
    background-color: rgba(0, 0, 0, .3); 
    box-shadow: none;
}

.searchResult-9tQ1uo {
    overflow: visible;
    background-color: rgba(0, 0, 0, .23);
}
  
  .tab-2j5AEF, .tab-2j5AEF:active, .tab-2j5AEF:hover {
    color: white;
  }
  
  .theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: #6da078;
  }

  .message-1Ng5AR {
    padding: 26px 0;
}
  
  .tab-2j5AEF:hover {
    background-color: #3c5d43;
  }

.messages-3G3erD {
  background-color: rgba(0,0,0,.5);
  border-radius: 5px;
}

.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .searchResultsWrap-3-pOjs,
.container-enaOkj {
	background: linear-gradient(45deg, black 0%, #3c5d43 100%)!important;
	border: none;
}

.backdrop-1wrmKB, 
.backdropWithLayer-3_uhz4 {
	background-color: rgba(0, 0, 0, 0.42) !important;
	opacity: .4 !important;
}

.theme-dark .messagesPopout-24nkyi {
	background-color: transparent;
}

.themedPopout-1TrfdI .header-2Kf7Yu+:after {
	box-shadow: none;
}

.theme-dark .footer-1kmXd4 {
	background-color: transparent;
}

.tip-2ab612 {
	color: white;
	opacity: 1;
}

.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN {
	color: white;
}

.theme-dark .messageGroupWrapper-o-Zw7G {
	background-color: rgba(0, 0, 0, .26) !important;
	border-radius: 5px !important;
	padding-bottom: 0;
	padding-right: 0;
}

.theme-dark .messageGroupWrapper-o-Zw7G .avatar-1BDn8e {
  margin-top: 2px;
}

.searchResultsWrap-3-pOjs .avatar-1BDn8e {
	margin-top: -9px;
}


.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
	background: none;
	box-shadow: none;
}


.theme-dark .jumpButton-3DTcS_,
.theme-dark .button-11zvza,
.theme-dark .collapseButton-oSNpPX,
.jumpButton-2dvRSC {
	background-color: rgba(0, 0, 0, 0.56);
	color: white !important;
	border-radius: 5px;
}
.actionButtons-1sUUug, 
.jumpButton-3DTcS_,
.actionButtons-14P9IC,
.jumpButton-2dvRSC {
	margin-right: 12px;
}

.emptyChannelIcon-3IXV5M {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, .16);
}

.tab-EiCZG6, .totalResults-1yK_Ym {
	opacity: .6;
}

.cozy-3raOZG .header-23xsNx {
	text-shadow: 0 0 10px black,0 0 5px black,0 0 25px black,0 0 25px black,0 0 25px black;
}

.theme-dark .guildName-1Bc3Ta {
	color: rgba(255, 255, 255, 0.6);
}

.searchBar-3dMhjb {
	background-color: transparent;
}

.option-96V44q {
	border-radius: 5px;
}

.theme-dark .option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q:after {
	background: none;
}

.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: rgba(0, 0, 0, .36) !important;
}

.theme-dark .resultsGroup-r_nuzN:before {
	border-top: none;
}

.theme-dark .container-3ayLPN {
	background-color: #3c5d43 !important;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, 
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, 
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a,
.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme {
	color: #ffffff;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
	background-color: #6da078 !important;
}

.theme-dark .option-96V44q .filter-3Y_im- {
	color: rgb(171, 171, 171);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
	border-top: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
	background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
	border-bottom-color: transparent;
	color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
	background-color: transparent;
	border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
	border-color: transparent;
	background-color: rgba(109, 160, 120, .76);
	border-radius: 5px;
}

.calendarPicker-2yf6Ci .react-datepicker__month *,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
	border: none !important;
	border-radius: 5px !important;
}

.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-2yf6Ci .react-datepicker__day:hover,
.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type {
	border-radius: 5px;
}
  
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
	color: white;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
	background-color: rgba(0, 0, 0, 0.43);
	border-radius: 5px;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
	background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
	color: #fff;
	background-color: rgba(109, 160, 120, .76) !important;
}


.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
	background-color: rgba(24, 24, 24, 0.3);
	color: white;
}

.popout-2iWAc- {
	box-shadow: none;
}
  
.theme-dark .focused-2bY0OD {
	background-color: rgba(0, 0, 0, .45) !important;
}

.theme-dark .queryContainer-RKFJW- {
	color: white;
	border-bottom-color: transparent;
}

.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
	background-color: rgba(109, 160, 120, .76);
}

.theme-dark .searchAnswer-3Dz2-q {
	border-radius: 0 5px 5px 0;
}

.theme-dark .searchFilter-2ESiM3 {
	border-radius: 5px 0 0 5px;
}

.searchResultMessage-1fxgXh.hit-1fVM9e {
    box-shadow: none;
    background-color: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 5px;
}

.channelName-1JRO3C {
    color: white;
	background-color: rgba(109, 160, 120, .56);
	border-radius: 5px 5px 0 0;
	width: 20%;
	text-align: center;
	font-size: medium;
}

.markup-2BOw-j {
	color: white;
	text-shadow: 0 0 12px black,0 0 16px black,0 0 16px black;
}
.placeholder-P6ptfj, 
.slateTextArea-1bp44y .hljs-comment, 
.slateTextArea-1bp44y .hljs-quote {
    color: white;
}

.theme-dark .mentioned-xhSam7 {
	background-color: rgba(109, 160, 120, .36);
}

.mentioned-xhSam7 {
	border-radius: 5px;
}

.cozyMessage-3V1Y8y.groupStart-23k01U.mentioned-xhSam7 {
	min-height: 54px;
	padding-bottom: 2px;
	padding-top: 17px;
	margin-top: 15px;
}

.cozyMessage-3V1Y8y.groupStart-23k01U {
	min-height: 8px;
	padding-bottom: 2px;
	margin-top: 26px;
}

.mentioned-xhSam7 .avatar-1BDn8e {
	margin-top: 6px;
}

.mentioned-xhSam7:before {
	border: none;
	background: none;
}

.theme-dark .wrapper-3WhCwL {
	color: white !important;
	background-color: rgba(109, 160, 120, 0.58);
	padding: 3px 2px;
	top: -.6em;
	border-radius: 5px;
}

.theme-dark .wrapper-3WhCwL:hover {
	background-color: rgba(109, 160, 120, 0.93);
}

.mentioned-xhSam7 .mention {
	background: none;
	background-color: transparent;
	box-shadow: none;
	border: none;
	font-weight: bold;
	color: #ffffff !important;
}

.cozy-3raOZG .header-23xsNx {
	margin-top: -11px;
}

.markup-2BOw-j pre {
	border: none;
	background: none;
}

.markup-2BOw-j code {
	font-size: .975rem;
	line-height: 27px;
	background: #3c5d43;
	padding: 13px;
	margin-top: 15px;
	color: white;
	text-shadow: 0 0 15px black,0 0 15px black;
}
.markup-2BOw-j code.inline {
	padding: 7px;
}

.hljs-comment, 
.hljs-quote {
	color: white;
}

.lowMotionItem-1DvHia,
.wanderingCubesItem-WPXqao {
	background-color: #6da078;
    width: 14px;
    border-radius: 5px;
    height: 14px;
}

.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: #6da078;
}

.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
    background-color: transparent !important;
}

.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
    background-color:  #6da078 !important; 
}

.theme-dark .attachment-33OFj0 {
    border-color: transparent;
    background-color: rgba(0,0,0,0.3);
}
.theme-dark .footer-3mqk7D {
	box-shadow: none;
}

.theme-dark .uploadModal-2ifh8j .footer-3mqk7D {
	background-color: transparent;
}

.theme-dark .uploadModal-2ifh8j {
	background-color: #3c5d43;
	border-radius: 5px;
}

.theme-brand .inner-zqa7da {
	background-color: transparent;
}

.theme-brand .scrollableContainer-2NUZem {
	background-color: rgba(109, 160, 120, .45);
}

.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
	background-color: rgba(0, 0, 0, .6);
	border: none;
	box-shadow: none;
	border-radius: 5px;
}

.innerAutocomplete-1PN280 {
	border-radius: 0 0 5px 5px;
}

.autocomplete-1vrmpx {
	border-radius: 5px 5px 0 0;
}

.fakeLink-26oLcc,
.metadataContent-3c_ZXw a {
	color: #2c93ce;
}

.detailsBlock-FoDTGA {
	background: none;
}


.theme-dark .autocomplete-1vrmpx {
	background-color: #3c5d43;
}

.theme-dark .selected-1Tbx07 {
	background-color: rgba(109, 160, 120, .4);
}

.theme-dark .contentTitle-2tG_sM,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .content-Qb0rXO,
.membersGroup-v9BXpm {
	color: white;
	text-shadow: 0 0 14px black;
}

.roleColor-36x_Mz {
    text-shadow: 0 0 14px black,0 0 14px black;
}

.activity-2Gy-9S {
	color: white;
	text-shadow: 0 0 14px black,0 0 14px black;
}

.theme-dark .iconForeground-1w5n7R {
	fill: white;
}

.selector-2IcQBU {
	border-radius: 5px;
}

.description-11DmNu,
.membersGroup-v9BXpm,
.content-3QAtGj, 
.name-uJV0GL,
.roleColor-36x_Mz,
.subText-1KtqkB,
.text-zpzAjW {
	overflow: visible;
}

.bd-toast.toast-success {
	background-color: rgba(21, 172, 56, .88);
}

.bd-toast {
    border: none;
	background-color: rgba(75, 75, 75, 0.78);
	border-radius: 5px;
	box-shadow: none;
}

.members-1998pB {
	background-color: rgba(0, 0, 0, .28);
}

.auto-Ge5KZx::-webkit-scrollbar-thumb {
	display: none;
}

/* User Profile and Modal(Last Part of Chat) */
.headerXbox-3G-4PF,
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.topSectionXbox-3fWLjS {
	background: rgba(4, 89, 4, 0.60);
	border-left: 2px solid #0d9d0d;
	border-right: 2px solid #0d9d0d;
	border-top: 2px solid #0d9d0d;
	border-radius: 5px 5px 0 0;
}

.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
	background: rgba(14, 41, 142, 0.60);
	border-left: 2px solid #0e2a8e;
	border-right: 2px solid #0e2a8e;
	border-top: 2px solid #0e2a8e;
	border-radius: 5px 5px 0 0;
}

.headerPlaying-j0WQBV ~ .body-3iLsc4,
.headerPlaying-j0WQBV ~ .bodyInner-245q0L {
	background: rgba(14, 41, 142, 0.70) !important;
	border-left: 2px solid #0e2a8e;
	border-right: 2px solid #0e2a8e;
	border-bottom: 2px solid #0e2a8e;
	border-radius: 0;
}

.topSectionPlaying-1J5E4n ~ .body-3ND3kc {
	background: rgba(14, 41, 142, 0.70);
	border-left: 2px solid #0e2a8e;
	border-right: 2px solid #0e2a8e;
	border-bottom: 2px solid #0e2a8e;
	border-radius: 0 0 5px 5px;
}

.headerPlaying-j0WQBV ~ .body-3iLsc4 ~ .footer-1fjuF6,
.headerPlaying-j0WQBV ~ .bodyInner-245q0L ~ .footer-1fjuF6 { 
    border-left: 2px solid #0e2a8e;
	border-right: 2px solid #0e2a8e;
	border-bottom: 2px solid #0e2a8e;
	border-radius: 0 0 5px 5px;
	background: rgba(14, 41, 142, 0.80);
}



.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
	background: rgba(103, 4, 181, 0.60);
	border-left: 2px solid #3e026e;
	border-right: 2px solid #3e026e;
	border-top: 2px solid #3e026e;
	border-radius: 5px 5px 0 0;
}

.headerStreaming-2FjmGz ~ .body-3iLsc4,
.headerStreaming-2FjmGz ~ .bodyInner-245q0L {
	background: rgba(103, 4, 181, 0.70) !important;
	border-left: 2px solid #3e026e;
	border-right: 2px solid #3e026e;
	border-bottom: 2px solid #3e026e;
	border-radius: 0;
}

.topSectionStreaming-1Tpf5X ~ .body-3ND3kc {
	background: rgba(103, 4, 181, 0.70);
	border-left: 2px solid #3e026e;
	border-right: 2px solid #3e026e;
	border-bottom: 2px solid #3e026e;
	border-radius: 0 0 5px 5px;
}

.headerStreaming-2FjmGz ~ .body-3iLsc4 ~ .footer-1fjuF6,
.headerStreaming-2FjmGz ~ .bodyInner-245q0L ~ .footer-1fjuF6 { 
    border-left: 2px solid #3e026e;
	border-right: 2px solid #3e026e;
	border-bottom: 2px solid #3e026e;
	border-radius: 0 0 5px 5px;
	background: rgba(103, 4, 181, 0.80); 
}

.root-SR8cQa {
	border-radius: 5px;
	background-color: rgba(60, 93, 67, .74);
}

.topSectionXbox-3fWLjS ~ .body-3ND3kc,
.topSectionSpotify-1lI0-P ~ .body-3ND3kc {
	background: rgba(4, 89, 4, 0.70);
	border-left: 2px solid #0d9d0d;
	border-right: 2px solid #0d9d0d;
	border-bottom: 2px solid #0d9d0d;
	border-radius: 0 0 5px 5px;
}

.theme-dark .body-3iLsc4,
.theme-dark .bodyInner-245q0L, 
.theme-dark .footer-1fjuF6 {
	color: white;
}

.headerXbox-3G-4PF ~ .body-3iLsc4,
.headerSpotify-zpWxgT ~ .body-3iLsc4,
.headerXbox-3G-4PF ~ .bodyInner-245q0L,
.headerSpotify-zpWxgT ~ .bodyInner-245q0L {
    border-left: 2px solid #0d9d0d;
	border-right: 2px solid #0d9d0d;
	border-radius: 0;
	background: rgba(4, 89, 4, 0.80) !important;
}

.headerSpotify-zpWxgT ~ .body-3iLsc4 ~ .footer-1fjuF6,
.headerXbox-3G-4PF ~ .body-3iLsc4 ~ .footer-1fjuF6,
.headerSpotify-zpWxgT ~ .bodyInner-245q0L ~ .footer-1fjuF6,
.headerXbox-3G-4PF ~ .bodyInner-245q0L ~ .footer-1fjuF6 { 
    border-left: 2px solid #0d9d0d;
	border-right: 2px solid #0d9d0d;
	border-bottom: 2px solid #0d9d0d;
	border-radius: 0 0 5px 5px;
	background: rgba(4, 89, 4, 0.80);
}

.theme-dark .footer-1fjuF6 {
	border-color: transparent;
}

.userPopout-3XzG_A {
	box-shadow: none;
	border-radius: 5px;
}

.avatarWrapper-3H_478 .wrapper-3t9DeA {
	width: 130px !important;
	height: 130px !important;
}


.avatarHint-1qgaV3 {
	width: 130px;
	height: 130px;
	background-color: rgba(0, 0, 0, 0.30);
	border-radius: 50%;
}
.avatarHint-1qgaV3 foreignObject {
	mask: none;
}

.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4,
.theme-dark .bodyInner-245q0L, 
.theme-dark .footer-1fjuF6,
.topSectionNormal-2-vo2m,
.body-3ND3kc {
	background-color: rgba(0, 0, 0, 0.54);
}

.bodyTitle-Y0qMQz,
.userInfoSectionHeader-CBvMDh {
	color: white;
	font-size: 16px;
}

.protip-YaFfgO {
	display: none;
}

.role-2irmRk {
    border: 2px solid;
	border-radius: 5px;
}


.note-3kmerW textarea {
	max-height: 38px;
}

.note-3kmerW textarea:focus {
	background-color: rgba(0, 0, 0, .25);
	color: white;
}

.note-3HfJZ5 textarea,
.note-QfFU8y textarea {
	border-radius: 5px;
	padding: 8px;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z,
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
	border: none;
}

.connectedAccount-36nQx7 {
	border-radius: 5px;
	background-color: rgba(109, 160, 120, .4);
}

.listRow-hutiT_:hover {
	border-radius: 5px;
	background-color: rgba(109, 160, 120, .2);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe span {
	border-radius: 5px;
}

.children-19S4PO:after {
	background: none;
}

/* Discord and Better Discord Settings(Last Part) */ 

.background-1QDuV2 {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .25);
}

.fieldList-21DyL8 {
    border-radius: 5px;
    background-color: rgba(175, 175, 175, 0.25);
}

.standardSidebarView-3F1I7i,
.contentRegion-3nDuYy {
	background-color: transparent;
}

.cardPrimary-1Hv-to,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .emptyUsers--hiToV {
	background: rgba(0, 0, 0, .33);
	border: none;
}

.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
	color: white;
}

.separator-gCa7yv,
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
	background-color: transparent;
}

.h5-18_1nd {
	color: silver;
}

.akaBadge-1M-1Gw.base-PmTxvP {
	min-height: unset;
	min-width: unset;
	background-color: black;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, 
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
  background-color: rgba(109, 160, 120, .4);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, 
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: rgba(109, 160, 120, .8);
}

.channelHeader-3Gd2xq {
	background-color: rgba(0, 0, 0, .33);
}

.messageContainer-gbhlwo {
	background-color: rgba(0, 0, 0, .53);
}

.message-2DieIs {
	overflow: visible;
}

.messageContainer-gbhlwo .avatar-1BDn8e {
	top: -1px;
}

.secondary-dIudih,
.tertiary-aMXF0g {
	background-color: #3c5d43;
	color: white;
}

.side-8zPYf6 .item-PXvHYJ,
#bd-settings-sidebar .ui-tab-bar-item {
	border-radius: 5px;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
  border: 2px solid black !important;
  background-color: #3c5d43;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
  background-color: rgba(109, 160, 120, .8);
}

.connectionHeader-2MDqhu {
    background: transparent;
    border-radius: 5px 5px 0 0;
}

.integration-3kMeY4 {
	background-color: rgba(0, 0, 0, .7);
}

.connection-1fbD7X {
	background-color: rgba(0, 0, 0, .4);
	border-radius: 5px;
}

.inner-2Y6JuD {
	border-radius: 5%;
}

.accountList-33MS45 {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.pageActions-1SVAnA * {
	border: none !important;
	color: white !important;
}

.theme-dark .bottomDivider-1K9Gao {
	border-bottom-color: transparent;
}

.theme-dark .paginator-166-09 {
	background: transparent;
}

.theme-dark .paginator-2CA79G {
	color: white;
}

.theme-dark .paymentPane-3bwJ6A,
.theme-dark .payment-xT17Mq {
	background-color: transparent;
	color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover,
.theme-dark .expandedInfo-3kfShd,
.theme-dark .card-FDVird:before {
  background-color: rgba(0, 0, 0, .45);
  border-radius: 5px;
}

.theme-dark .paymentHeader-3QlZQi,
.theme-dark .guildSubscriptionSection-122NwR, 
.theme-dark .subscriptionDetails-16jcwU,
.featureBorder-7j4v58 {
	border: none;
}

.css-rzbxvl-option {
	border-radius: 10px;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
	background-color: transparent;
	border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 50px;
}

.notificationsSound-27jFSh,
.theme-dark .row-2okwlC,
.theme-dark .game-1ipmAa,
.theme-dark .item-3eFBNF {
	box-shadow: none;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
	background-color: rgba(6, 75, 204, 0.64) !important;
}

.theme-dark .container-2Zlzt0 {
	background-color: transparent;
}

.theme-dark .nowPlaying-284llR {
	background-color: rgba(11, 214, 85, 0.644) !important;
}

.theme-dark .gameNameInput-385LoS:focus, 
.theme-dark .gameNameInput-385LoS:hover {
	background-color: rgba(2, 74, 182, 0.644) !important;
}

.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, 
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover {
	background-color: rgba(100, 209, 22, 0.644) !important;
}

.theme-dark .gameName-1RiWHm,
.theme-dark .markValue-2DwdXI {
	color: white;
}

.theme-dark .markDash-3hAolZ {
	background-color: white;
}

.theme-dark .notDetected-33MY4s,
#bd-customcss-detach-container {
	background-color: transparent;
}

.notDetected-33MY4s, 
.nowPlaying-284llR {
   border-radius: 5px;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
	color: silver;
	border: none;
}

.theme-dark .card-FDVird:before {
    border: none;
}

.bd-pfbtn,
.bda-slist .bda-footer button,
.standardSidebarView-3F1I7i #editor-detached button {
  background-color: rgba(109, 160, 120, .7) !important;
  border-radius: 3px !important;
  color: white;
}

.theme-dark .bd-addon-list .bd-addon-card {
	background-color: rgba(0, 0, 0, .25);
	border-radius: 5px;
	color: white;
}

.theme-dark .bda-slist .bda-header {
	color: white;
	border-bottom-color: transparent;
}

.theme-dark .bda-slist .bda-footer {
	border-top-color: transparent;
}

.ace-monokai,
.ace_editor {
  border: none!important;
  background-color: rgba(0, 0, 0, 0.45);
}

#bd-customcss-attach-controls .help-text .inline,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
  border: none!important;
  background-color: #3c5d43;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    border-color: #6da078;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
	margin-right: 12px;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
	background: transparent;
	box-shadow: none;
}

.ace-monokai .ace_gutter {
	background: transparent;
	color: white;
}

.theme-light .action-1lSjCi {
	border: none;
	background: rgba(0, 0, 0, 0.5);
}

.theme-light .or-3THJsp {
	color: black;
}

.ace-monokai .ace_gutter-active-line,
.ace-monokai .ace_marker-layer .ace_active-line {
	background-color: rgba(255, 255, 255, 0.20);
}

.container-2Pjhx- {
	color: white;
}

.wrapper-3vR61M,
.wrapper-1F5TKx {
  background-color: transparent;
  overflow: visible;
}

/* Links */

.theme-dark .embedTitleLink-1Zla9e {
	color: #2ccebe!important;
}
.filenameLinkWrapper-1-14c5 {
	overflow: visible;
}
  
  .standardSidebarView-3F1I7i a,
  .imageDetails-1t6Zms a,
  .theme-dark .card-3Qj_Yx a,
  .bda-slist .bda-footer a,
  .content-8biNdB a,
  .footer-3rDWdC a,
  .lookLink-9FtZy-.colorLink-35jkBc,
  .theme-dark .markup-2BOw-j a,
  .quickswitcher-3JagVE a,
  .theme-dark .topic-TCb_qw a,
  .filenameLinkWrapper-1-14c5 a,
  .operations-36ENbA>a,
  .theme-dark .welcomeMessage-ULm0mo a,
  .localBotMessage-1cGMdw a,
  .theme-dark .container-3-pyIM .content-2M3n_H a,
  .helpText-h3r3wC a,
  .button-18p_f6,
  .lookLink-9FtZy-.colorBrand-3pXr91,
  .emptyStateSubtext-2njjqg a,
  .theme-dark .container-2x5lvQ section a,
  .colorStandard-2KCXvj a,
	.theme-dark .filenameLinkWrapper-1-14c5,
	.editChannelButton-1dYN-G,
	.footerText-2a7NxZ a {
	  color: #2ccebe;
	  text-shadow: 0 2px 4px black,0 2px 4px black,0 2px 4px black;
	}
	
	.container-3-pyIM {
		color: white;
	}
  .lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
	background-image: linear-gradient(0deg,transparent,transparent 1px,#2ccebe 0,#2ccebe 2px,transparent 0);
  }
  .welcomeMessage-ULm0mo .h1-3fOAWv,
  .welcomeMessage-ULm0mo p {
	color: white;
  }
  .emptyStateCTA-veJ2Cu {
	opacity: 1;
	}

.after_inlineCode-1KfVgj, 
.before_inlineCode-1G9rTK, 
.inlineCode-2ngu6Y {
  background: rgba(255,255,255, .1);
  padding: 3px;
}
.codeBlockSyntax-2i-tMA, 
.syntaxAfter-hcA4AH, 
.syntaxBefore-1YQ9lW {
  color: white;
}
	
	.bg-h5JY_x {
		background-color: transparent;
	}

	.message-2qnXI6.selected-2P5D_Z, 
	.mouse-mode .message-2qnXI6:hover,
	.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, 
	.mouse-mode.full-motion .mentioned-xhSam7:hover {
		background-color: transparent;
	}
  
  /* ---- */