//META{"name":"Polo_G", "version":"1", "description":"Theme requested by Mike", "author":"DevilsLynAvenged"}*//
@import url('https://DevilsLynAvenged.github.io/Other-Themes/My-Base/MainBase.css');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

 
 body, div, span, textarea, ::-webkit-input-placeholder {
     font-family: 'Lato';
 }
 
 .hljs,
 .inline,
 .hljs :-webkit-any(ol, li, span),
 .editor-wrapper :-webkit-any(textarea, div, span) {
     /**
      * Keep Custom CSS editor and code related parts untouched.
      * Avoids issues when working with the Custom CSS editor.
      */
     font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
 }

 :root {
  --primary-color: #1767A2; /* Controls Main Color */
  --primary-transparency: rgb(23, 103, 162, .6); /* Controls Transparency of Main Color */
  --background-image: url(https://cdn.discordapp.com/attachments/457159558054281216/698530671328624693/Screenshot_28.png); /* Controls Current Background */
  --background-opacity: rgba(0,0,0,.36); /* Controls Transparency of the Wallpaper opacity */
  --button-radius: 6px; /* Controls Border Radius of Buttons */
  --avatar-radius: 6px; /* Controls Border Radius of Avatars(Choose 0px - 4px for square avatars, 6px - 8px for rounded avatars, or go for 50px for a full circle because some of them are not shaped evenly) */
  --checkmark-color: white; /* Choose either black or white for the checkmark depending on "Main Color" */
  --word-color: white; /* Choose either black or white for the words depending on "Main Color" */
}

/* Customize other Custom CSS below this line */

#app-mount .app-2rEoOp *,
.menu-Sp6bN1 *, 
.contextMenu-HLZMGh *,
.theme-dark .modal-yWgWj- *,
.messagesPopoutWrap-1MQ1bW *,
.theme-dark .container-3ayLPN *,
.theme-dark .uploadModal-2ifh8j *,
.theme-dark .root-1gCeng *,
.quickswitcher-3JagVE *,
#app-mount .keybindShortcut-1BD6Z1 *  {
  color: #1C82CF !important;
}

#app-mount .keybindShortcut-1BD6Z1 .bindArrow-2X3Aom g *  {
  fill: #1C82CF !important
}