/**
 * @name Post Malone
 * @author ShadowDevilsAvenged
 * @description Theme requested by Kaira WRLD
 * @version 1
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://cdn.discordapp.com/attachments/457159558054281216/721127195803779262/F9A60D89-136A-46C2-8E38-1F3E8EB2781F.png);
    --background-opacity: rgba(0, 0, 0, .7);
    --word-color: white;
    --primary-color: #e45a34;
    --primary-transparency: rgba(228, 90, 52, .6);
    --avatar-radius: 3px;
    --button-radius: 3px;
}
/* Customize other Custom CSS below this line */
