/**
 * @name Shinobu Demon Slayer
 * @author ShadowDevilsAvenged
 * @description Theme requested by ğ“‘ğ“®ğ“·ğ“·ğ”‚ğ”‚ğ”‚ğ”‚ğ”‚
 * @version 1
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://images2.alphacoders.com/107/1078481.png);
    --background-opacity: rgba(0, 0, 0, .7);
    --word-color: white;
    --primary-color: #600fca;
    --primary-transparency: rgba(96, 15, 202, .6);
    --avatar-radius: 3px;
    --button-radius: 3px;
}

/* Customize other Custom CSS below this line */

#app-mount .app-2rEoOp {
  background-position: 44px;
}