/**
 * @name Special Car
 * @author ShadowDevilsAvenged
 * @description Theme requested by winterr
 * @version 4
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://cdn.discordapp.com/attachments/457159558054281216/689911745279819776/thumb-1920-837828.png);
    --background-opacity: rgba(0, 0, 0, .7);
    --word-color: white;
    --primary-color: #4285d6;
    --primary-transparency: rgba(66, 133, 214, .6);
    --avatar-radius: 3px;
    --button-radius: 3px;
}

/* Customize other Custom CSS below this line */
