/**
 * @name Sword Art Online
 * @author ShadowDevilsAvenged
 * @description Theme requested by Dreadingz
 * @version 1
 */
@import url('https://ShadowDevilsAvenged.github.io/Other-Themes/My-Base/MainThemeBase.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --background-image: url(https://cdn.discordapp.com/attachments/457159558054281216/691798618599849995/maxresdefault.jpg);
    --background-opacity: rgba(0, 0, 0, .7);
    --word-color: white;
    --primary-color: #f9482d;
    --primary-transparency: rgba(249, 72, 45, .6);
    --avatar-radius: 3px;
    --button-radius: 3px;
}


/* Customize other Custom CSS below this line */

#app-mount .app-2rEoOp {
  background-position: 14px;
}