//META{"name":"AkkoLove","description":"LovingAkko","author":"DevilsTheAvenged","version":"1.0"}*//{}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    font-family: 'Open Sans' !important;
}
/* fix not having a background image anymore */
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
  background: rgba(0,0,0, 0.6) !important;
}
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://images3.alphacoders.com/793/793827.png");
	background-size: cover !important;
	background-position: center !important;
}
.private-channels .channel.selected a,.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary,.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #443377;
    color: rgb(255, 255, 255);
}
.theme-dark .friends-table .messages .divider:not(.red) div, 
.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: transparent;
}
.searchBar-2pE3BB .search-bar{
   background-color: black;
}
.need-help-modal.deprecated .header,
.need-help-modal.deprecated .footer {
    background-color: black;
    border: none;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: #465BA3;
    color: #fff;
}

.need-help-modal.deprecated a {
    color: pink;
}
.search-bar-tag {
    border: 1px solid rgba(255,255,255,0.2);
    background: black;
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: black;
    border: none;
    box-shadow: none;
}

.theme-dark .search-results-wrap .channel-separator:before {
    border-color: transparent;
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: transparent;
    color: #fff;
}
#friends .btn,
.private-channel-recipients-invite .error-state.not-friends .btn {
     background-color: #443377 !important;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
}
.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3) !important;
    border-color: rgba(0, 0, 0, 0);
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: transparent;
    border-color: #dd7788;
}
.theme-dark .friendSelected--wQP3f {
    background: linear-gradient(90deg,#443377 85%,black);
}
#friends .btn:hover {
     background-color: #443377;
     border: 2px solid #dd7788;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background-color: #443377;
     border: 2px solid #dd7788;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    border: 2px solid #5384cc;
    background-color: #443377 !important; 
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #443377 !important; 
    color: rgb(255, 255, 255);
    border: 2px solid #5384cc;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #443377 !important; 
    border: 2px solid #dd7788;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #443377;
    color: white;
    border: 2px solid #5384cc;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
   background: rgba(0,0,0,0.4);
}
.private-channels .channel:hover a,.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover {
    background-color: #443377 !important;
    color: rgb(255, 255, 255);
    border: 2px solid #dd7788;
}
.channels-Ie2l6A {
    background-color: transparent;
}
.container-PNkimc {
    background-color: transparent;
}
.container-2lgZY8 {
    background-color: transparent;
}
.theme-dark .layer, .theme-dark .layers {
    background: rgba(0,0,0,0.23);
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}
.chat .messages {
    background: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: transparent;
}
.theme-dark .title-3qD0b- {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-UHpsPw {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: black;
}
.scrollerThemed-19vinI.themeGhost-10fio9 .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0, 0, 0, 1);
}
.theme-dark .scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0, 0, 0, 1);
}
.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: black;
}
/* End of Transparency Setup */
/*ChatArea,ChannelandMember,Voice,ChatBox,ImageBox,VoiceChannelCoding*/

.callout-backdrop {
    background: black !important;
}
.badge
{
background:linear-gradient(to right, rgba(102,0,102,0.9) 0%, rgba(102,0,102,0.9) 100%);
border: 3px solid #4d004d;
border-radius:50%;
color: white;
font-weight: 900;
}


.avatarDefault-35WC3R,.avatarSpeaking-1wJCNq{
border-radius:50%;
background-repeat:no-repeat;
background-position:50%50%;
box-shadow: 0 2px 10px 0 #00FF00, 0 2px 10px 0 #00FF00;
}
.avatarDefault-35WC3R{
box-shadow: 0 2px 10px 0 #FF0000, 0 2px 10px 0 #FF0000;
}
.message-group .image {
    vertical-align: bottom;
    max-width: 520px;
}

.theme-dark .modal-3HD5ck {
    background-color: #3a366a;
    box-shadow: none;
}
.spinner-inner.spinner-wandering-cubes {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #b18363;
  background: linear-gradient(to right, #b18363 10%, rgba(177,131,99, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}
.spinner-inner.spinner-wandering-cubes:before {
   width: 50%;
  height: 50%;
  background: #b18363;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner-inner.spinner-wandering-cubes:after {
  background: #482600;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner-wandering-cubes-1eyF3t {
    background-color: transparent;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
    animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
}

/* Other cool stuff */ 
.theme-dark .protip-YaFfgO {
   display: none;
}
 .bodyTitle-Y0qMQz {
    color: black;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 4px;
}
.message-group h2 .timestamp {
    color: silver !important;
}
.theme-dark .headerNormal-T_seeN, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background: rgba(0,0,0,0.3) !important;
    border: none;
}
.userPopout-3XzG_A {
    background: url(https://data.whicdn.com/images/290473686/original.jpg) 50% 50%/ cover !important;
}
.role-2irmRk {
  padding: 4px 6px;
  border-radius: 3px;
  overflow: hidden; 
  }

  .role-2irmRk .roleCircle-3xAZ1j {
    opacity: .5;
    height: 22px;
    width: 5px;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-left: -5px;
    margin-right: -1000px;
    padding-right: 997px;
    border-radius: 0; 
    }
    /* Secondary Roles */
    .role-2irmRk[style*="border-color: rgba(185, 187, 190, 0.6)"] .roleCircle-3xAZ1j {
       background: rgb(74,69,123) !important;
}
    .role-2irmRk .roleCircle-3xAZ1j:not(.roleCircleButton-sMOdib) + .roleName-32vpEy {
      margin-left: 0; 
      }
  .role-2irmRk .roleName-32vpEy {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px; 
     color: white !important;
     position: relative;
     left: 4px;
 }
.mask-3OgeRz {
    border-radius: 10px;
    -webkit-mask: none;
    mask: none;
}
.theme-dark .inner-zqa7da {
    background-color: rgba(74,69,123,.7);
    border: 2px solid #bd536a;
}
.theme-dark .textArea-2Spzkt {
    color: white;
}
.headerPlaying-j0WQBV  {
    background: rgba(0, 0, 255,0.5);
}
::-webkit-input-placeholder {
  color: white!important;
}
.theme-dark .autocomplete-1vrmpx
{
    background-color: #4a457b;
    border: 4px solid #bd536a;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #bd536a;
}
.theme-dark .contentTitle-2tG_sM {
    color: white;
}
.theme-dark .popout .messages-popout-wrap,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.theme-dark .search-results-wrap {
    background-color: rgb(74,69,123);
    border: 1px solid black;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group,
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    background-color: black;
    border-color: transparent;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #585482;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background: transparent;
}
.theme-dark .search-results-wrap .search-result .hit {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug
 {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: rgb(74,69,123);
    color: white;
}
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8,.theme-dark .descriptionDiscriminator-3KCIMj,.marginLeft4-3VaXdt,.marginLeft8-1YseBe {
    color: white;
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}
.container-2Thooq{
    background: rgba(74,69,123,.3);
    color: #fff;
    padding: 15px 10px;
}
.button-2b6hmh {
    background: #4a457b no-repeat 50% 50%;
    background-size: 18px 18px;
    border: 1px solid rgba(255,255,255,0.4);
    margin-bottom: 20px !important;
    position: relative;
    top: -1px;
}
.button-2b6hmh:hover {
    background: #4a457b no-repeat 50% 50%;
    background-size: 18px 18px;
    border: 1px solid rgba(255,255,255,0.7);
}
.unread-1Dp-OI {
    background: none;
}
.notice.notice-info {
    background-color: #4a457b;
    border-radius: 0px;
}
.wrapper-232cHJ{
    border-radius: 3px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: rgb(255, 255, 0);
    box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
    color: black;
    line-height: 21px;
    width: 0.9em;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 6px 11px;
    
}
.avatarNormal-3luwna {
     border: 5px solid #4a457b;
    border-radius: 14px;
}
.botTagInvert-18-95s,.members-1998pB .bot-tag,.bot-tag {
    background: #4a457b;
    color: white;
    padding: 3px 3px;
}
.avatarHint-1qgaV3 {
      display: none;
}
.popout-UKvsJt {
    margin-left: 70px;
    margin-right: -70px;
    width: 90px;
    height: 90px;
}

.accountDetails-15i-_e .username {
   font-size: 17px;
}
.accountDetails-15i-_e .discriminator {
    opacity: .4;
    font-size: 14px;
}
.container-2Thooq .avatar-small {
    width: 40px;
    height: 40px;
    background-size: cover;
    border: 4px solid #bd536a;
    border-radius: 6px;
}
.theme-dark .quickMessage-1yeL4E {
    border: 2px solid transparent;
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
 }
.theme-dark .quickMessage-1yeL4E:focus {
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    border-color: black;
 }
.container-1UB9sr {
    background: rgba(74,69,123,0.5);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, 
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, 
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: linear-gradient(90deg,rgba(74,69,123,0.4) 85%,rgba(74,69,123,0.4));
}


[class*="barFill-18ABna"][style*="background: rgb(105, 196, 154)"]
{
    background: #4a457b !important;
}
[class*="bar-2cFRGz"][style*="background: rgb(251, 184, 72)"]
{
    background: #bd536a !important;
}
.root-SR8cQa {
    background: url(https://formeinfullbloom.files.wordpress.com/2017/02/akko5.png) 50% 50%/cover !important
}


.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: #4a457b;
    border: none;
    border-radius: 0px;
}
.theme-dark .body-3ND3kc {
    background-color: rgba(0, 0, 0,0.2);
}
.topSectionPlaying-1J5E4n{
    background: rgba(0, 0, 255,0.4);
}
.theme-dark .note-3kmerW textarea:focus {
    background: rgba(0,0,0,0.6);
}
.theme-dark .note-3kmerW textarea {
    background: rgba(0,0,0,0.4);
    color: white;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.theme-dark .connectedAccount-36nQx7 {
    border-radius: 3px;
    border: 3px solid #bd536a;
    background: #3a366a;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
      border: 3px solid #bd536a;
    background: #3a366a;
}
.theme-dark .connectedAccount-36nQx7:hover {
    border-radius: 3px;
    border: 3px solid #4375ca;
    background: #3a366a;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #3a366a;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #3a366a;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255,0,0,0.23);
    color: #fff;
    border: 1px solid red;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(255,0,0,0.63);
    color: #fff;
}
.theme-dark .searchPopout-1vUlP3 {
    background: #4a457b;
    color: white;
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background: #bd536a !important;
  color: white;
  
}
.option-1MvVr1 {
    background: transparent !important;
     color: white;
}
.option-1MvVr1::after {
    background: transparent !important;
     color: white;
}

.theme-dark .searchQuery-1B7rtx.selected-_bTXUG {
    background: #4a457b;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #4a457b !important;
    border: 2px solid #bd536a;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
border: 2px solid #4375ca;
}
.search-popout.option.selected:after {
    background: #4a457b;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .filter-3Y_im- {

color: white !important;
   font-weight: bold;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
   color: white !important;
   font-weight: bold;
}
.theme-dark .option-1MvVr1 .nonText-1oayCI {
    color: white !important;
   font-weight: bold;
}
.theme-dark .option-96V44q strong{
    font-weight: bold;
    color: white !important;
}
.option-96V44q:after {
   background: transparent !important;
}
.option-1MvVr1.user-1TwSRF.selected-_bTXUG
{
    background: #bd536a !important;
}
.option-1MvVr1.user-1TwSRF.selected-_bTXUG::before
{
    background: #bd536a !important;
}

.theme-dark .listRow-hutiT_:hover {
    background: #bd536a;
    color: black;
}
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0, 0, 0,0.3);
}
.guildNick-3uAm3i, .listName-3w10cx {
   color: white;
}
.listAvatar-1NlAhb {
    background-color: #4a457b;
}
.theme-dark .option-1MvVr1.user-1TwSRF .displayedNick-1487Dr {
    color: white !Important;
    font-weight: bold;
}

[class*="item item-toggle"]:hover
{
    background: #1d1b31 !important;
}


.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
    background: rgba(76, 175, 80,0.4);
}
.userInfoSectionHeader-CBvMDh {
    color: white;
    font-size: 23px;
}
.colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-2onHWv, .colorLockedVoice-2VCSgk, .colorSelectedText-1y4Wvs, .colorSelectedVoice-ieXC3Z, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
   color: white; 
}
.contentSelectedText-3wUhMi, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(74,69,123,0.8) !important;
}
.theme-dark .membersGroup-v9BXpm {
    color: white;
  font-size: 11px;
}
div[class*="switchEnabled"][class*=valueChecked] {
    background-color: #bd536a;
 }
div[class*="switchEnabled"][class*=valueUnchecked] {
    background-color: #4a457b;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
   background: #4a457b;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background: #bd536a;
}
.guilds-wrapper .guilds-error:hover {
    background: rgba(74,69,123,0.8);
}
.guilds-wrapper .guilds-error {
    border-color: #bd536a;
    color: white;
    border-width: 3px;
    border-radius: 25px;
    background: rgba(74,69,123,0.5);
    font-size: 29px;
    font-weight: 400;
}
.tooltip.tooltip-red {
    background-color: rgba(74,69,123,0.5);
    color: white;
}
.tooltip.tooltip-black {
    background-color: rgb(74,69,123);
    color: white;
    border: none;
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.guilds-wrapper .guilds-add {
    border-color: #bd536a;
    color: white;
    border-width: 3px;
    background: rgba(66,69,114,0.5);
}
.guilds-wrapper .guilds-add:hover {
    border-color: #bd536a;
    color: white;
    border-width: 3px;
    border-style: solid;
    background: rgba(66,69,114,0.7);
}
.ui-standard-sidebar-view .bda-slist li {
    background: #551A8B;
    border-bottom: 1px solid white;
}
.bd-pfbtn[style="left: 220px;"] {
    top: -46.7px;
}
.bd-pfbtn {
    background: #4a457b;
    color: white;
    border: 3px solid #bd536a;
    border-radius: 50px;
    height: 25px;
}
.bd-pfbtn:hover {
    background: #4a457b;
    color: white;
    border: 3px solid #4375ca;
    border-radius: 50px;
    height: 25px;
}
.ui-standard-sidebar-view .bda-slist li {
    background: #4a457b !important;
    border: 3px solid #bd536a;
    margin-bottom: 12px;
}
.bda-slist li:nth-child(odd) {
    border: 3px solid #4375ca !important;
}
.bda-slist .bda-name {
    color: white;
}
.ui-standard-sidebar-view .bda-slist .bda-description {
    border-top: none;
    color: white;
}
.ui-standard-sidebar-view .bda-slist .bda-right button {
    background: #314062;
    color: #FFF;
    border: 3px solid #4375ca !important;
}
.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"],
.radio-item.checked[style*="background-color: rgb(114, 137, 218);"],
.theme-light .ui-card-primary.checked {
    background-color: #3a366a !important;
    border: solid 4px #4a457b !important;
}
.theme-dark .footer-2yfCgX {
  background-color: #3a366a !important;
}
[layer-id="user-settings"] input[type="checkbox"]:checked + div polyline,
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: #4a457b;
}
.theme-dark .checked-3_4uQ9 {
    background-color: black !important;
    border-color: black !important;
}
.barFill-23-gu- {
    background: #4a457b;
    height: 200%;
}
.theme-dark .bar-2Qqk5Z {
    background: #bd536a;
}
.guilds-wrapper .guilds .friends-icon {
    width: 50px;
    height: 50px;
    background-image: url(https://www.capsulecomputers.com.au/wp-content/uploads/2013/06/Little-Witch-Academia-10.jpg);
    background-size: 102px 55px;
   background-repeat: no-repeat;
 }

.bar-30k2ka,.buttonBrandFilledDefault-2Rs6u5,.lookFilled-1Gx00P.colorBrand-3pXr91 {
   background: #4a457b;
    border: 2px solid #bd536a;
}
.bar-30k2ka:hover,.buttonBrandFilledDefault-2Rs6u5:hover,.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
   background: #4a457b;
   border: 2px solid #4375ca;
}
.theme-dark .message-group .comment .markup code.inline, 
.theme-dark .message-group .comment .markup pre code {
    background: #270c41;
    border: 2px dashed #bd536a;
    border-radius: 30px;
    padding: 6px 28px;
    color: white;
 }
 .theme-dark .reaction.reaction-me,
 .theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background: #4a457b;
    border: 2px solid #4375ca;
}
 .theme-dark .reaction,
 .theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background: #4a457b;
    border: 2px solid #bd536a;
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: white;
}
 .theme-dark .message-group .comment .markup pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .message-group .comment .markup .mention:hover {
    background-color: rgba(74,69,123,.7);
    color: white;
    border: 2px solid #4375ca;
}
.theme-dark .message-group .comment .markup .mention {
    background-color: rgba(74,69,123,.7);
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    color: white;
    border: 2px solid #bd536a;
}
.message-group .comment .markup {
    color: white !important;
    line-height: 1.4em;
}
.status-2s6iDp,
.private-channels .channel .status {
    width: 40px;
    height: 40px;
    right: -63px;
    bottom: -13px;
    border-radius: 7px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
   }
.container-2Thooq .status {
    width: 30px;
    height: 30px;
    right: -13px;
    bottom: -13px;
    border-radius: 7px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.members-1998pB .status-2s6iDp {
    bottom: -8px;
    right: -164px;
  }
  .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-top: none;
}
.status.status-typing {
    width: 40px !important;
    height: 40px !important;
    right: -69px !important;
    bottom: -8px !important;
}
.private-channels .channel .status {
    border-color: #42464d;
    margin-right:  -102px;
    margin-bottom: 5px;
}
.ui-standard-sidebar-view #editor-detached button {
   background: #4a457b;
    font-weight: bold;
    border-radius: 9px;
    font-size: 30px;
    border: 3px solid #bd536a;
}
.side-8zPYf6 .itemSelected-1qLhcL,#bd-settings-sidebar .ui-tab-bar-item.selected  {
    color: #fff;
    background-color: #4a457b;
     border: 2px solid  #bd536a;
}
.itemSelected-1qLhcL .item-PXvHYJ.selected-3s45Ha {
     background-color: #4a457b;
     border: 2px solid  #4375ca;
}
.theme-dark .side-8zPYf6 .item-PXvHYJ:hover,#bd-settings-sidebar .ui-tab-bar-item:hover {
    color: #fff;
    background-color: #4a457b;
  }

.itemBrand-mC9YR4 {
    color: #d0bfb0;
}
.app a, .connecting a,.theme-dark .message-group a,.theme-dark .chat .welcome-message a {
    color: #d0bfb0;
}
.chat .welcome-message h1 {
    color: #d0bfb0;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#bd-settings-sidebar .ui-tab-bar-header,.header-2RyJ0Y {
    color: #d0bfb0 !important;
    font-size: 13px;
    line-height: 16px;
    text-transform: Capitalize;
    font-weight: bold;
}
.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div,.theme-dark .friends-table .messages .divider:before, .theme-dark .messages-wrapper .messages .divider:before  {
    background: none;
}
.theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider span {
    background-color: #4a457b;
    border-radius: 0px;
    font-size: 12px;
    color: white !important;
    border: 2px solid  #bd536a;
}
.theme-dark .chat .has-more button {
     background-color: #4a457b;
     border: 3px solid  #bd536a;
     color: white;
}
.chat .new-messages-bar button {
   color: white;
   background: #4a457b;
}
.chat .new-messages-bar {
    background-color: #4a457b;
    color: white;
    border-right: 4px solid  #bd536a;
    border-left: 4px solid  #bd536a;
    border-bottom: 4px solid  #bd536a;
}
.chat .new-messages-bar button:last-child {
    color: white;
    font-size: 12px;
}
.chat .jump-to-present-bar button {
    color: white;
}
.chat .jump-to-present-bar button:last-child {
    color: white;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #4a457b;
    border-right: 4px solid  #bd536a;
    border-left: 4px solid  #bd536a;
    border-top: 4px solid  #bd536a;
}
.theme-dark .chat .jump-to-present-bar:hover {
    background-color: #4a457b;
}

.theme-brand .inner-zqa7da {
    background-color: #4a457b;
    border: 2px solid #a17e60;
}
.topSectionStreaming-1Tpf5X,
.headerStreaming-2FjmGz {
    background: rgba(89, 54, 149,0.6);
}
.guilds-wrapper .guilds .guild.unread:before {
    background: #4375ca;
}
/* This Weeks Update Right Now */ 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   background: #454072;
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background: #454072;
    border: none;
}
.theme-dark .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover {
    border: none;
    color: rgba(255,255,255,0.2);
    background: #312e52;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
   background: none;
}

.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected { 
    background-color: #918dbf;
    border: 2px solid #817cb6;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    background: #585393;
    border: none;
    color: rgba(255,255,255,0.8);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background: #827cb6;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
   background: #454072;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
   color: rgba(255,0,0,0.6);
   border: none;
   background: #312e52;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
    background: #1d1c31;
}
.botTagRegular-2HEhHi.botTag-2WPJ74 {
   background: #4d4a82;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #4d4a82;
}
/* Context Menu New Stuff */
.theme-dark .itemSubMenu-1vN_Yn {
   background: #615da2;
   border: 0.3px solid white;
}
.theme-dark .itemSubMenu-1vN_Yn:hover{
   background: #807db5;
   color: white !important;
}
.theme-dark.contextMenu-HLZMGh {
    background: #4d4a82;
}
.theme-dark.contextMenu-HLZMGh {
    box-shadow: none;
    border: none;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
    border-top: none;
    border-bottom: none;
}
.theme-dark .danger-1oUOCl:hover {
   color: red !important;
   border: 1px solid red;
   background: black !important;
}
.theme-dark .item-1Yvehc:hover {
   background: #807db5;
   color: white !important;
}
.item-1Yvehc {
   border-radius: 0;
    padding: 8px;
}
.theme-dark .itemToggle-e7vkml:hover {
    background: #a19ec7;
}
.theme-dark .search-results-wrap .search-header {
    background-color: black;
}
.theme-dark .message-group .comment .edited {
    color: rgba(255, 255, 255, 0.6);
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: linear-gradient(90deg,black 85%,#4d4a82) !important;
}
/* Popup Menu */
.theme-dark .separator-2zcjq8 {
    border-bottom: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #817db5;
    color: white;
    opacity: 1;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
   color: white;
}
.theme-dark .item-1GzJrl {
    background-color: #4e4a82;
    color: white;
    opacity: 1;
}
.bda-slist .bda-footer button {
    background: #3b3861;
    color: rgb(255, 255, 255);
}
/* Upload Section */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed #716dab;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: #4e4a82;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: #4e4a82;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.8);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #625da2;
    color: white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #817db5;
    color: white;
    opacity: 1;
}
.uploadDropModal-2kTwbc {
   background: #4e4a82;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: #4e4a82 !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: #4e4a82 !important;
    border: 2px dashed #716dab;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: 2px solid #716dab;
    border-radius: 30px;
}
.theme-dark .mention {
    background: black !important;
    border: 2px solid #716dab;
    color: white;
}
.theme-dark .topic-2QX7LI a {
    color: #716dab;
}
/* New Emote Stuff */
.bda-dark #bda-qem button.active {
    background-color: #4e4a82;
}

.bda-dark #bda-qem button:hover {
    background-color: #716dab;
}
.bda-dark #bda-qem button {
    background: #585492;
    border-left: none;
    box-shadow: none;
}
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #4e4a82;
}
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: #4e4a82;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: black;
    border: 1px solid #625da2;
    border-radius: 3px!important;
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: #4e4a82;
    border-color: #625da2;
}
.diversitySelector-O3ea2c .popout-2lja3I .item-lsWB-j:hover {
    background-color: transparent;
    border: 1px solid #918ebe;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: black;
    color: white;
    border: 2px solid #918ebe;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #918ebe;
}
.scroller-fzNley.scroller-2dsok0::-webkit-scrollbar-thumb {
   background: #918ebe !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    border-color: #918ebe !important;
    background-color: #918ebe !important;
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece{
    background-color: transparent !important;
    border-color: transparent !important;
}
.theme-dark .filename-13hhfJ {
    color: rgb(255, 255, 255);
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #918ebe !important;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
/* New Invite Stuff */
.wrapper-VSYYTS {
    background: transparent;
    border: 1px solid #716dab;
}
.form-deprecated .form-header, 
.form.deprecated .form-header {
    background: #4e4a82;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: white;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: #4e4a82;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background-color: #4e4a82;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: #4e4a82;
}
/* Invite Checkbox*/
.checkbox .checkbox-inner+span {
    color: white;
}
/* ----------------------- */
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner span {
    border: 2px solid #bd536a;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, .form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: 1px solid #4375ca;
    box-shadow: 1px 1px 36px #4375ca;
}
.form-deprecated .Select.is-disabled .Select-control:hover, .form-deprecated .Select.is-open .Select-control:hover, .form.deprecated .Select.is-disabled .Select-control:hover, .form.deprecated .Select.is-open .Select-control:hover {
    border-color: #bd536a;
    box-shadow: 1px 1px 36px #bd536a;
}
.form-deprecated .Select.is-disabled .Select-control, .form-deprecated .Select.is-open .Select-control, .form.deprecated .Select.is-disabled .Select-control, .form.deprecated .Select.is-open .Select-control {
    border: 1px solid #4375ca;
    box-shadow: 1px 1px 36px #4375ca;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .expireText-NeAc7v,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions .btn-default,
.form-deprecated .control-group .help-text, .form.deprecated .control-group .help-text,
.form-deprecated .control-group label, .form.deprecated .control-group label {
    color: white;
}
.form-deprecated .Select-option.is-focused, .form.deprecated .Select-option.is-focused {
    background: #bd536a;
    color: white;
}
.Select .Select-option.is-selected {
    background: #4375ca;
}
.form-deprecated .Select-option, .form.deprecated .Select-option {
    color: white;
    background: black;
}
.form-deprecated .btn-primary, .form.deprecated .btn-primary {
    background-color: black;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 44px #bd536a;
}
.form-deprecated .btn-primary:hover, .form.deprecated .btn-primary:hover {
    background-color: black;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 44px #4375ca;
}
.clipboardInputInner-oj8y-S {
    background: black;
    border: 1px solid #817db5;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: white;
    background: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border-left: none;
}
/* Copied Invite Button */
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: #a19ec7;
}
.clipboardInputCopied-UXgFh2 button {
    background-color: #a19ec7!important;
    background-image: url(/assets/347525ee5c5d59f9217d1c04eb88617d.svg)!important;
    border-color: #a19ec7!important;
    background-size: 50%;
    color: rgba(0, 0, 0, 0)!important;
}
/* -------------------- */
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),#a19ec7);
}