/* -------- Main Chat  -------- */
 .theme-dark .chat form {
    box-shadow: none;
}
.theme-dark .reaction {
    background: rgba(var(--MCT-Color));
}
.theme-dark .reaction .reaction-count {
    color: white;
}
.theme-dark .reaction.reaction-me {
    background: rgba(var(--SCT-Color));
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: white;
}
.noticeInfo-3_iTE1 {
    background-color: var(--M-Color);
    color: #fff;
}
.wrapper-2NJDcI {
    background-color: black;
    border-radius: var(--B-Radius);
    color: white;
    border: 1px var(--BOR-Type) var(--BOR-Color);
}
.iconCollapsed-3hFp_8, 
.iconDefault-3Gr8d2, 
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H {
    color: var(--M-Color);
}
.iconHovered-2L3-fB, 
.iconHoveredCollapsed-3caIIZ, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB {
    color: var(--H-Color);
}
.iconMuted-1HVBGH, 
.iconUnread-2eGkvX,
.nameMuted-1MCOt4 {
       color: white;
       text-shadow: 0 0 6px red, 0 0 6px red, 0 0 6px red;
}
.nameCollapsed-34uFWo, 
.nameDefault-2DI02H, 
.nameHovered-1gxhWH, 
.nameHoveredCollapsed-2orEWB, 
.nameMuted-1MCOt4, 
.nameUnread-njOjIS {
    text-transform: capitalize;
}
.theme-dark .hljs-comment, 
.theme-dark .hljs-quote {
    color: #E0E0E0;
}
.theme-dark .hljs-name, 
.theme-dark .hljs-section, 
.theme-dark .hljs-selector-class,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-title {
    color: var(--Code-Color1);
}
.theme-dark .hljs-attr, 
.theme-dark .hljs-attribute, 
.theme-dark .hljs-class .hljs-title, 
.theme-dark .hljs-template-variable, 
.theme-dark .hljs-type, 
.theme-dark .hljs-variable {
    color: var(--Code-Color2);
}

.theme-dark .hljs-bullet, 
.theme-dark .hljs-link, 
.theme-dark .hljs-meta, 
.theme-dark .hljs-meta .hljs-keyword, 
.theme-dark .hljs-selector-attr, 
.theme-dark .hljs-selector-pseudo, 
.theme-dark .hljs-subst, 
.theme-dark .hljs-symbol {
    color: var(--Code-Color3);
}
/* Hide 'playing' in member activity*/
.activityText-sLG0UL {
text-indent: -9999px;
line-height: 0px;
}
.activity-1IYsbk strong {
 text-indent: 0;
  display: block;
  line-height: initial;
 
}
.theme-dark .divider-2PMBlV {
    background: transparent;
}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl,.mediaBarProgress-1xaPtl:after,.mediaBarProgress-1xaPtl:before {
    background-color: var(--M-Color);
}
.mediaBarInteraction-37i2O4:hover .mediaBarWrapper-3D7r67,.mediaBarInteractionDragging-2QurIZ:hover .mediaBarWrapper-3D7r67 {
    box-shadow: none;
}
.mediaBarPreview-1jfyFs,.mediaBarPreview-1jfyFs:after,.mediaBarPreview-1jfyFs:before {
    background-color: rgba(255,255,255,0.7);
}
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: var(--S-Color);
}
.buffer-3qw5qC, 
.buffer-3qw5qC:after, 
.buffer-3qw5qC:before {
    background-color: black;
}
.mediaBarWrapper-3D7r67, .mediaBarWrapper-3D7r67:after, .mediaBarWrapper-3D7r67:before {
    background-color: black;
}
.theme-dark .friends-table .messages .divider:before,
.theme-dark .friends-table .messages .divider span, 
.theme-dark .messages-wrapper .messages .divider:before, 
.theme-dark .messages-wrapper .messages .divider span {
    background-color: transparent;
}
 .chat .divider>span {
	background: rgba(255, 255, 255, 0.1) !important;
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0px;
	border-radius: 0px;
	opacity: 1;
	padding: 5px 15px;
	width: 100%;
	text-align: center;
}
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent;
}
.chat .divider.divider-red>span {
	background: var(--M-Color) !important;
	color: var(--MF-Color) !important;
}
 .theme-dark .inner-zqa7da {
    background-color: transparent !Important;
}
.theme-dark .contentTitle-2tG_sM {
    color: var(--MF-Color);
}
.connectedAccountName-f8AEe2 {
    color: white;
}
.theme-dark .iconForeground-1w5n7R {
    fill: var(--MF-Color);
}
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: var(--MF-Color);
}
.backdrop-2ohBEd {
    background-color: rgba(0,0,0,0.3) !important;
}
.theme-dark .welcomeMessage-1U7Ntv a,
.app .welcomeMessage-1U7Ntv h1 {
    color: var(--M-Color);
}

.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.marginLeft4-3VaXdt,
.marginLeft8-1YseBe {
    color: var(--MF-Color);
}
.theme-dark .message-group h2 .timestamp {
    color: white;
    text-shadow: 0 0 8px black, 0 0 8px black, 0 0 8px black, 0 0 8px black;
}
.chat .user-name {
     text-shadow: 0 0 8px black, 0 0 8px black, 0 0 8px black, 0 0 8px black;
}

.theme-dark .textArea-2Spzkt {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--PHF-Color);
}
.theme-dark .message-group a,
.content-3KEfmo a {
    color: var(--a-link-Color) !important;
}
.highlight {
    background: rgba(var(--SCT-Color));
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge {
    background-color: var(--S-Color);
    color: var(--PF-Color);
}
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: var(--M-Color);
    color: var(--PF-Color);
    padding: 4px 7px;
    border-radius: var(--B-Radius);
}
.message-group .accessory>* {
    margin-top: 8px;
}
.spinner-wandering-cubes .spinner-item,
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes-1eyF3t {
    background-color: var(--M-Color);
}
.theme-dark .autocomplete-1vrmpx {
    background-color: black;
}
.autocomplete-1TnWNR {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
}

.theme-dark .message-group .mentioned .message-text {
    background: black;
    padding-left: 4px;
    padding-bottom: 4px;
    border: 2px var(--BOR-Type) var(--BOR-Color);
}
.message-group .mentioned .message-text:after {
    background: transparent;
    border-left: none;
}
::-webkit-input-placeholder {
  color: var(--PHF-Color) !important;
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: transparent;
    border: 2px var(--BOR-Type) var(--BOR-Color);
}
.theme-dark .attachButtonPlus-2l1NEU {
    fill: var(--PHF-Color);
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-2dsok0::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-2dsok0::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-2dsok0::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, 
.theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb, 
.scrollerThemed-19vinI.themeGhostHairlineChannels-2lQojW .scroller-fzNley::-webkit-scrollbar-thumb,
.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, 
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-thumb, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb, 
.bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    background-color: var(--M-Color) !important;
    border-color: transparent !important;
    border-radius: var(--B-Radius);
}
.scrollerThemed-19vinI.themeGhost-10fio9.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track {
    background-color: transparent;
}
.chat .new-messages-bar {
    background-color: var(--M-Color);
}
.chat .new-messages-bar:hover {
    background-color:  var(--H-Color);
}
.chat .new-messages-bar button {
    color: #fff !important;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: var(--M-Color) !important;
}
.chat .jump-to-present-bar button {
    color: white !important;
}
.theme-dark .chat .has-more button {
    background: var(--M-Color);
    border: 1px var(--BOR-Type) var(--BOR-Color);
    color: white;
    box-shadow: none;
}
.theme-dark .menu-Sp6bN1 {
    background: black;
    border-radius: 0px;
}
.theme-dark .topic-1KFf6J:before {
    background-color: transparent;
}
.theme-dark .item-1GzJrl:hover {
    background-color: transparent;
    color: white;
    border: 1px var(--BOR-Type) var(--BOR-Color);
    opacity: 1;
}
.tipsy-inner {
    background-color: #000;
    color: #fff;
    border: 2px solid var(--M-Color);
    border-radius: var(--B-Radius);
}
.theme-dark .message-group .comment .markup {
    color: white;
    text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black, 0 0 6px black;
    line-height: 1.34em;
}
.separator-2zcjq8 {
    border-bottom: none;
}
.theme-dark .item-1GzJrl {
    color: white;
}
.message-group .accessory>*:not(.reactions):not(.embed-2diOCQ):not(.wrapper-uAa07y):not(.attachment-1Vom9D) {
       border: 2px var(--BOR-Type) var(--BOR-Color);
       border-radius: 5px;
}
.aka-1mqp34 {
    background: var(--M-Color);
}
.avatarSpeaking-1wJCNq:after {
    padding-right: 92px;
    padding-left: 62px;
    content: "";
    width: 2px;
    margin-bottom: 0px !important;
    padding-top: 3px;
    padding-bottom: 25px;
    position: absolute;
    left: 4px;
    bottom: -0.25px;
    border-radius: 50px;
    background: linear-gradient(to right, rgba(var(--MCT-Color)) 0%, rgba(var(--MCT-Color)) 41%, transparent 71%, transparent 100%);
}
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px var(--M-Color), inset 0 0 0 2px black;
}
.imageWrapper-38T7d9 img {
   border-radius: 5px;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: var(--M-Color);
    border-radius: var(--B-Radius);
    height: 20px;
    width: 20px;
    left: 33px;
    z-index: 1;
    top: 3px;
}
.guilds-wrapper .guilds .guild.unread.selected:before {
     top: 14px;
     border-radius: var(--B-Radius);
}
.guilds-wrapper .guilds .guild.selected:before {
     top: 25px;
     background: var(--M-Color);
     border-radius: var(--B-Radius);
}
.theme-dark .search .search-bar .public-DraftEditorPlaceholder-root {
    color: rgba(255, 255, 255, 0.3);
}
.theme-dark .search .search-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}
.unread-1Dp-OI {
    background-color: transparent;
}
.contentUnreadText-2vNnZc, 
.contentUnreadVoice-1dijOt {
     background-color: rgba(var(--MCT-Color));
}
.guilds-wrapper .guilds .guild.selected:before {
    top: 26px;
}
.channelIcon-MsmKOO {
    color: var(--M-Color);
}
.contentSelectedText-3wUhMi {
    background-color: var(--M-Color);
}
.contentHoveredText-2D9B-x, 
.contentHoveredVoice-3p_NEO:active, 
.contentSelectedVoice-1WDIBM:active {
    background-color: rgba(var(--HCT-Color));
}
.nameMutedText-3Vj4bM, 
.nameMutedVoice-3oxyQZ,
.nameMutedText-3Vj4bM:hover, 
.nameMutedVoice-3oxyQZ:hover {
    color: white;
    text-shadow:  0 0 6px red, 0 0 6px red, 0 0 6px red, 0 0 6px red, 0 0 6px black, 0 0 6px black;
    padding-left: 3px; 
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: var(--M-Color);
    border-radius: var(--B-Radius) !important;
    overflow: visible;
}
.guilds-wrapper .guilds .guild .avatar-small,
.private-channel-recipients-invite .friend .avatar-small {
    border-radius: var(--B-Radius);
}
.unreadBar-17qm9c {
    box-shadow: none;
}
.unread-1xRYoj,
.mention-1f5kbO {
    background-color: var(--M-Color);
    box-shadow: none;
    border-radius: var(--B-Radius);
  }
.unread-1xRYoj:hover,
.mention-1f5kbO:hover {
 background-color: var(--H-Color);
 box-shadow: none;
 border-radius: var(--B-Radius);
}
.guilds-wrapper .guilds .guild .badge {
    bottom: -2px;
    padding: 4px 8px;
    right: 31px;
    box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
   border-radius: var(--B-Radius);
}
.wrapper-232cHJ {
    background-color: var(--M-Color);
    border-radius: var(--B-Radius);
    box-shadow: 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 3px 7px;
    text-shadow: 0 0 6px rgba(0,0,0,1);
}
.badge {
    background-color: var(--M-Color);
    border-radius: var(--B-Radius);
    box-shadow: 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,1);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    padding: 3px 7px;
    text-shadow: 0 0 6px rgba(0,0,0,1);
}
.nameDefaultText-24KCy5, 
.nameDefaultVoice-3WUH7s, 
.nameLockedText-3pqQcL, 
.nameLockedVoice-26MhB1,
.colorDefaultText-oas-QM, 
.colorDefaultVoice-3wYlhb {
    color: #4d4d4d;
    opacity: 1;
}
.colorMutedText-36M8WR, 
.colorMutedVoice-3ghIuw {
    color: transparent;
}
.theme-dark .mention:hover {
    background-color: black !important;
    border: 2px solid var(--H-Color);
    color: white;
}
.theme-dark .mention {
    background-color: black !important;
    border: 2px solid var(--M-Color);
    color: white;
    padding: 0 3px;
}
.botTag-2WPJ74 {
   background: var(--M-Color);
   color: white;
   padding: 2px 2px;
}
.header-2o-2hj {
    box-shadow: none;
    transition: background-color 2s ease;
    border-radius: 0px !important;
}
.header-2o-2hj:hover {
    background-color: var(--H-Color);
}
.container-2Rl01u, 
.header-2o-2hj {
    border-radius: 0px;
}
.popout-open .header-2o-2hj {
    background-color: var(--M-Color);
    border-radius: 0px !important;
}
.progressBar-3u8FBM,
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa {
    background-color: black !important;
}
.progress-3Rbvu0,
.progressBar-3u8FBM.large-3EPlRk {
    background-color: var(--M-Color) !important;
}
.theme-dark .message-group .comment .edited {
    color: white;
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background: transparent;
    border: 2px var(--BOR-Type) var(--S-Color);
}
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: transparent;
    border: 2px var(--BOR-Type) var(--M-Color);
}
.activity-1IYsbk strong,
.theme-dark .membersGroup-v9BXpm {
   color: var(--M-Color);
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    color: transparent;
}
.theme-dark .title-3qD0b- {
    box-shadow: none;
}
.theme-dark .iconBadge-2dji3k {
    border-color: transparent;
    background-color: var(--M-Color);
    height: 5px;
    position: absolute;
    right: 7px;
    top: 2px;
    width: 5px;
}
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN {
    background-color: var(--H-Color);
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: var(--M-Color);
}
.guilds-wrapper .guilds-add {
    background: var(--M-Color);
    border: transparent !important; 
    border-radius: var(--B-Radius);
    color: white;
}
.guilds-wrapper .guilds-add:hover {
    background: var(--H-Color);
}
.small-popout-box {
    background: black;
    border: 1px solid var(--M-Color);
    border-radius: 2px;
    position: relative;
}
.option-popout .btn-item {
    color: white !important;
}
.theme-dark .danger-2dXSTE:hover {
   color: red !important;
   border: 1px solid red;
   background: black !important;
}
.theme-dark .danger-2dXSTE {
   color: red !important;
}
.option-popout .btn-item:hover {
    background-color:  transparent;
    border-top: 1px solid var(--H-Color);
    border-bottom: 1px solid var(--H-Color);
    border-radius: 2px;
}
.guilds-wrapper .guilds-error:hover {
    background: rgba(var(--HCT-Color));
}
.guilds-wrapper .guilds-error {
    border: none;
    color: white;
    border-radius: var(--B-Radius);
    background: rgba(var(--MCT-Color));
    font-size: 29px;
}
.tooltip.tooltip-red {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 0px 0px 10px var(--M-Color);
}
.tooltip.tooltip-black {
    background-color: black;
    color: white;
    border: 1px var(--BOR-Type) var(--BOR-Color);
    text-shadow: 0px 0px 10px var(--M-Color);
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.theme-dark .message-group .comment .markup pre {
    background: transparent;
    border-color: transparent;
}
.theme-dark .message-group .comment .markup code.inline, 
.theme-dark .message-group .comment .markup pre code {
    background: rgba(255,255,255,0.2);
}
.theme-dark .hljs {
    background: transparent;
    color: white;
}
.message-group .comment .markup pre {
    border: none;
}

/* -------- End of Main Chat  -------- */
/* -------- Avatar Stuff -------- */
.avatar-large .status, 
.avatar-profile .status, 
.avatar-16XVId.small-5Os1Bb .status, 
.avatar-xlarge .status, 
.avatar-xsmall .status, 
.avatar-xxlarge .status {
    border: transparent !important;
    border-radius: var(--B-Radius);
}
.chat .avatar-large {
    opacity: 1 !important;
    width: 56px;
    height: 56px;
    border-radius: var(--B-Radius);
    background-size: cover;
    border: 2px solid var(--BOR-Color);
}
.members-1998pB .avatar-16XVId.small-5Os1Bb .status {
    bottom: -1px;
    right: -2px;
    border-radius: var(--B-Radius);
}
.members-1998pB .avatar-small,
.private-channels .channel .avatar-small,
#friends .friends-table .friends-row .friends-column-name .avatar-small,
.container-2Thooq .avatar-small,
.option-96V44q.user-O3Czj0 .displayAvatar-1wWlVM {
    border-radius: var(--B-Radius);
}
.xsmall-3afG_L .mask-3OgeRz {
      border-radius: var(--B-Radius);
    -webkit-mask: none;
    mask: none;
}
.avatar-uploader-inner,
.cardPrimary-1Hv-to .avatar-xxlarge {
    border-radius: var(--B-Radius);
    background-color: var(--M-Color);
    border: 2px var(--BOR-Type) var(--BOR-Color) !important;
    animation: fadeInLeft 1s ease normal; 
}
.user-settings-account .avatar-uploader-inner {
    animation: fadeInLeft 1s ease normal; 
}
.avatar-uploader {
    animation: fadeInLeft 1s ease normal;
}
@keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
} 
/* -------- End of Avatar Stuff -------- */
/* -------- Notification Settings -------- */
.theme-dark .modal-3HD5ck,
.theme-dark .footer-2yfCgX {
    background-color: black;
    box-shadow: none;
}
.theme-dark .divider-3573oO {
    background-color: transparent;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: transparent;
    border-color: transparent;
}
.cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
         background: transparent !important;
         border-color: transparent !important;
}
.checked-3_4uQ9[style="border-color: rgb(114, 137, 218);"] ,
.theme-dark .checkbox-1ix_J3[style="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] {
          border: 1px solid var(--BOR-Color) !important;
          background: transparent !important;
}
.theme-dark .checkbox-1ix_J3 {
    border-color: transparent;
}
.checked-3_4uQ9[style="border-color: rgb(114, 137, 218);"] polyline[stroke],
.theme-dark .checkbox-1ix_J3[style="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"] polyline[stroke] {
    stroke: var(--M-Color);
    stroke-width: 2;
}
.theme-dark .button-mM-y8i {
    background-color: black !important;
    box-shadow: none;
}
.theme-dark .guildName-3WI6ml, 
.theme-dark .override-2YgiXd, 
.theme-dark .overrideHighlight-YPcBxt,
.theme-dark .description-3_Ncsb, 
.theme-dark .labelDescriptor-1PqHgD,
.theme-dark .h5-18_1nd,
.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr {
    box-shadow: none;
}
.theme-dark .themeDefault-24hCdX {
    background-color: black;
    box-shadow:  0 0px 13px var(--M-Color), 0 0px 13px var(--M-Color);
}
.themeDefault-24hCdX.sizeDefault-2YlOZr:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before{
    box-shadow: none;
}
.valueChecked-m-4IJZ.sizeDefault-2YlOZr:after,
.valueUnchecked-XR6AOk:after {
    transform: none;
}
.size-3rFEHg:active:after,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch:before {
    background-color: transparent;
}
.value-2hFrkk:after {
    transition: none;
    transition: none;
}
.theme-dark .themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
    background-color: black;
    box-shadow:  0 0px 13px var(--S-Color), 0 0px 13px var(--S-Color);
}
.size-3rFEHg:after {
    background: none;
}
.theme-dark .separator-6YbWrc {
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-menu-outer {
    background: black;
    border-color: transparent;
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-option.is-focused,.theme-dark .select-2TCrqx .Select-option:hover {
    background: rgba(0,0,0,0);
    border: 2px var(--BOR-Type) var(--BOR-Color);
}
.theme-dark .select-2TCrqx .Select-option,
.icon-JJBzjE,
.theme-dark .primary-jw0I4K {
    color: white;
}
.lighten-2aYaaU {
    opacity: 1;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--M-Color);
    border-radius: var(--B-Radius);
    color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--H-Color);
}
/* -------- End of Notification Settings -------- */
/* -------- Need Help Popout -------- */
.need-help-modal.deprecated {
    background: black;
}
.form-deprecated .form-inner, .form.deprecated .form-inner {
    background-color: transparent;
    padding: 28px 40px 48px;
}
.need-help-modal.deprecated .header {
    background-color: transparent;
}
.need-help-modal.deprecated .footer {
    background-color: black;
    border-top: none;
    color: white
}
.need-help-modal.deprecated a,
.theme-dark .topic-2QX7LI a {
    color: var(--a-link-Color) !important;
}
.need-help-modal.deprecated .header input[type=text] {
    background-color: black;
    border-radius: 0px;
    box-shadow: none;
    color: var(--a-link-Color);
    font-size: 13px;
}
.form-deprecated .control-group input[type=email], 
.form-deprecated .control-group input[type=number], 
.form-deprecated .control-group input[type=password], 
.form-deprecated .control-group input[type=text], 
.form-deprecated .control-group textarea, 
.form.deprecated .control-group input[type=email], 
.form.deprecated .control-group input[type=number], 
.form.deprecated .control-group input[type=password], 
.form.deprecated .control-group input[type=text], 
.form.deprecated .control-group textarea {
    border-bottom: none;
    color: var(--a-link-Color);
}
.need-help-modal.deprecated .header input[type=text]:focus {
    border-bottom: none;
}
/* -------- End of Need Help Menu -------- */
/* -------- Message Group, Pinned Messages Stuff and Search Stuff -------- */
.theme-dark .themed-popout,
.theme-dark .themed-popout .header {
    background-color: black;
    border: none;
    box-shadow: none;
}
.theme-dark .contextMenu-HLZMGh,
.theme-dark .messagesPopoutWrap-1MQ1bW,
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4 {
    background: black;
    box-shadow: none;
}
.barFill-23-gu-,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background: var(--M-Color) !important;
}
.theme-dark .bar-2Qqk5Z {
    background: black !important;
}
.theme-dark .item-1Yvehc:hover {
    background: var(--H-Color);
}
.theme-dark .item-1Yvehc {
    color: #fff !important;
}
.theme-dark .itemSubMenu-1vN_Yn {
    background: transparent;
    border: 1px solid var(--S-Color);
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: transparent;
    border-color: var(--BOR-Color) !important;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
    border-color: var(--M-Color);
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug{
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_,
.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: var(--M-Color);
    color: white;
}
.theme-dark .themed-popout .header .subtitle,
.theme-dark .themed-popout .text {
    color: white;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover {
    border-color: var(--BOR-Color);
     border-style: var(--BOR-Type);
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .searchPopout-1vUlP3 {
    box-shadow: none;
    background: black;
}
.resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV
 {
    color: white;
    text-transform:Capitalize;
}
.option-96V44q:after,
.option-96V44q.selected-rZcOL-:after{
    background: transparent;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- {
    color: white;
}
.theme-dark .option-96V44q .nonText-3CRkO0 {
    color: #3d3d3d;
}
.theme-dark .option-96V44q .answer-1n6g43 {
    color: white;
    font-weight: normal;
    background-color: rgba(var(--SCT-Color));
    padding: 4px 4px;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: #caccce;
    font-weight: 400;
}
.theme-dark .searchQuery-1B7rtx {
    border: none;
    border-bottom: none;
    color: gray;
}
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: #515151;
    font-weight: 500;
    margin: 0 5px;
}
.theme-dark .option-96V44q.user-1TwSRF .displayUsername-3PmTeH {
    color: #bfbfbf;
    background-color: rgba(var(--SCT-Color));
    padding: 4px 4px;
    font-weight: normal;
}
.search-result-channel-icon {
    color: gray;
    margin-right: 4px;
    vertical-align: top;
}
.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .option-96V44q.searchOption-zQ-1l6.selected-rZcOL- {
    background-color: black;
   border: 2px var(--BOR-Type) var(--BOR-Color);
}
/* This Weeks Update Right Now */ 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   background: black;
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background: black;
    border: none;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz {
    border-top: none;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z{
    background-color: transparent;
    border-radius: var(--B-Radius);
    border: 1px  var(--BOR-Type) var(--BOR-Color);
}
.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: var(--M-Color);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover{
    background-color: transparent;
    border-radius: var(--B-Radius);
    border: 1px  var(--BOR-Type) var(--H-Color);
}
.react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    border: none;
    color: rgba(255,255,255,0.2);
    background: black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after  {
   background: none;
}
.calendarPicker-16Q6sl .react-datepicker__day.react-datepicker__day--selected {
    background-color: var(--S-Color);
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    background: black;
    border: none;
    color: rgba(255,255,255,0.8);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background: var(--H-Color);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
   background: black;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
   color: rgba(255,255,255,0.3);
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover {
    background: var(--DC-Color);
}
.theme-dark .search-results-wrap .search-header {
    background-color: black;
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-header .tab.selected {
       background-color: black;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border: none;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 2px var(--BOR-Type) var(--BOR-Color);
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: black;
    color: #fff;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: transparent;
    border-bottom: 2px solid var(--BOR-Color);
    border-top: 2px solid var(--BOR-Color);
}
.theme-dark .search-results-wrap .search-result.expanded {
    border: none;
}
.theme-dark .search-results-wrap .search-result .hit {
    background-color: black;
    box-shadow: none;
}
.theme-dark .search-results-wrap {
    background-color: black;
}
.theme-dark .search-results-wrap .search-result:after,
.theme-dark .search-results-wrap .search-result:before {
    background: transparent;
}
.chat .base-34jWEe h1 {
    color: white;
}
/* -------- End of Message Group, Pinned Messages, and  Search Option Menu -------- */
/* -------- Friends and DMS --------  */
.guilds-wrapper .guilds .friends-icon {
    background-image: var(--Guild-Icon);
    background-size: cover;
    border-radius: var(--B-Radius);
    background-color: var(--M-Color);
}
.private-channel-recipients-invite .header .search-bar {
    border-radius: var(--B-Radius);
}
.private-channel-recipients-invite .body .scroller::-webkit-scrollbar-track {
    background-color: transparent !important;
}
.guilds-wrapper .guilds .friends-icon:hover {
    background-color: var(--H-Color);
}
.private-channel-recipients-invite .footer button:disabled {
    background-color: rgba(var(--MCT-Color));
    border-radius: var(--B-Radius);
    color: #fff;
}
.private-channel-recipients-invite .footer button {
    background-color: var(--M-Color);
    border-radius: var(--B-Radius);
    color: #fff;
}
.private-channel-recipients-invite .footer button:disabled:hover {
    background-color: rgba(var(--HCT-Color));
}
.theme-dark .themed-popout .footer {
    background-color: black;
}
.private-channel-recipients-invite .footer button:hover {
    background-color: var(--H-Color);
}
.popout .themed-popout .search-bar .search-bar-inner {
    background: black;
    border: none;
    border-radius: var(--B-Radius);
}
.search-bar .search-bar-inner {
    background: rgba(0,0,0,.4);
    border: none;
    border-radius: var(--B-Radius);
}
.theme-dark.contextMenu-HLZMGh {
    background: black;
    box-shadow: none;
}
.scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, 
.theme-dark .scrollerWrap-2uBjct.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, 
.theme-light .scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track {
    background-color: transparent;
}
.theme-dark .private-channel-recipients-invite .friend {
    background: black;
    color: #fff;
}
.theme-dark .private-channel-recipients-invite .friend.selected {
    background: transparent;
    border: 1px solid var(--S-Color);
}
.theme-dark .private-channel-recipients-invite .friend:hover {
    background: transparent;
    border: 1px solid var(--H-Color);
}
.private-channels .channel.selected a {
    background-color: rgba(var(--SCT-Color));
    color: #fff;
}
.private-channels .channel:hover {
    background-color: transparent;
}
.private-channels .channel:hover a  {
    background-color: rgba(var(--HCT-Color));
}
.guilds-wrapper .guild-separator:after {
    background: transparent;
}
.guilds-wrapper .guilds .friends-online,
.theme-dark #friends .friends-table .friends-table-header .friends-column,
#friends .friends-table .friends-row .discord-tag,
#friends .friends-table .friends-row .friends-column-status .friend-activity-text, 
#friends .friends-table .friends-row .friends-column-status .status-text {
    color: var(--PF-Color);
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: var(--M-Color);
    color: var(--PF-Color);
     border-radius: var(--B-Radius);
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border-color: var(--M-Color);
    color: var(--PF-Color);
     border-radius: var(--B-Radius);
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn:hover {
    border-color: var(--H-Color);
    color: var(--PF-Color);
}
.private-channels .channel .channel-name,
.private-channels header {
    color: var(--PF-Color);
    opacity: .7;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(var(--MCT-Color));
    border: 1px solid var(--BOR-Color) !important;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: var(--M-Color) !important;
    color: var(--PF-Color);
     border-radius: var(--B-Radius);
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover {
    background-color: var(--H-Color);
    color: var(--PF-Color);
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: var(--S-Color);
    color: var(--PF-Color);
    border: 1px solid black;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: var(--S-Color);
    color: var(--PF-Color);
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(var(--HCT-Color));
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: var(--M-Color);
    border: 1px solid var(--BOR-Color);
    border-radius: var(--B-Radius);
}
#friends .btn {
    background-color: var(--M-Color);
    border-radius:  var(--B-Radius);
    color: var(--PF-Color);
}
#friends .btn:hover {
    background-color: var(--H-Color);
    border-radius:  var(--B-Radius);
    color: var(--PF-Color);
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: var(--H-Color) !important;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator,
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: transparent;
}
.theme-dark #friends .friends-table .friends-table-header,
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border: none;
}
.theme-dark .headerBar-UHpsPw,
.private-channels .search-bar {
    box-shadow: none;
}
.theme-dark .quickswitcher-3JagVE {
    background-color: black;
    color: white;
}
.theme-dark .tipsWithoutResults-lGY-De, 
.theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
a {
    color: var(--a-link-Color);
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: var(--M-Color);
    border-color: transparent;
    box-shadow: none;
    color: white;
}
.theme-dark .input-2VB9rf {
    background-color: black;
    box-shadow: none;
}
.theme-dark .input-2VB9rf:focus {
    border: 1px solid var(--BOR-Color);
}
.theme-dark .contentDefault-16dKSY {
    color: white;
}
.theme-dark .resultFocused-3aIoYe {
    background-color: transparent;
    border: 1px var(--BOR-Type) var(--S-Color);
}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-3Mm64N g {
    fill: white !important;
}
/* ---------- End of Friends and DMs -------- */
/* -------- Upload Modal -------- */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dotted var(--BOR-Color);
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: black;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.8);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: var(--M-Color) !important;
    color: var(--MF-Color);
    border: 1px solid var(--BOR-Color);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: var(--H-Color) !important;
    color: var(--MF-Color);
    opacity: 1;
}
.uploadDropModal-2kTwbc {
   background: black;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: black !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: black !important;
    border: 2px dashed var(--BOR-Color);
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: 2px solid var(--BOR-Color);
    border-radius: var(--B-Radius);
}
/* -------- End of Upload Modal -------- */
/* -------- User Popout and User Modal -------- */

.role-2irmRk {
    border: 2px solid;
    border-radius: var(--B-Radius);
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 6px black;
}
.role-2irmRk[style*="border-color: rgba(185, 187, 190, 0.6);"] {
         background-color: rgba(0,0,0,0.5) !important;
         border: 2px solid  black !important;
}
.roleCircle-3xAZ1j[style*="background-color: rgb(185, 187, 190);"] {
         border: 2px solid var(--M-Color) !important;
         background-color: transparent !important;
}
.roleCircle-3xAZ1j {
         border-radius: var(--B-Radius);
}
.roleName-32vpEy {
    margin-right: 11px;
    text-shadow: 0 0 6px black,0 0 6px black,0 0 6px black,0 0 6px black;
    padding: 6px;
}
.theme-dark .headerNormal-T_seeN,
.headerPlaying-j0WQBV,
.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.topSectionPlaying-1J5E4n,
.theme-dark .body-3ND3kc,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0,0,0,0.55);
}

.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(65,0,147 ,.4);
}
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
}
.bodyTitle-Y0qMQz {
    color: white;
    text-transform: capitalize;
}
.theme-dark .protip-YaFfgO {
    display: none;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: transparent;
    border-color: transparent;
    color: white;
    border-radius: var(--B-Radius);
}

.theme-dark .note-3kmerW textarea {
    color: white;
    border-radius: var(--B-Radius);
}
.theme-dark .note-3kmerW textarea:focus {
    background-color: rgba(255,255,255,.2) !important;
}

.theme-dark .quickMessage-1yeL4E:focus {
    background-color: rgba(255,255,255,.2);
    border-color: var(--S-Color);
    color: white;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.tabBarContainer-1s1u-z {
    border-top: none;
}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.theme-dark .connectedAccount-36nQx7 {
   border: 1px solid var(--BOR-Color);
   background: rgba(var(--MCT-Color));
}
.theme-dark .connectedAccount-36nQx7:hover {
   border: 1px solid var(--BOR-Color);
   background: rgba(var(--HCT-Color));
}
.listAvatar-1NlAhb {
    color: #fff;
    background-color: var(--M-Color);
    border-radius: var(--B-Radius);
}
.guildNick-3uAm3i, 
.listName-3w10cx {
    color: white;
}
.theme-dark .listRow-hutiT_ {
    color: white;
}
.theme-dark .listRow-hutiT_:hover {
    background: rgba(var(--HCT-Color));
    color: white;
}
.status-oxiHuE {
    border-radius: var(--B-Radius);
}
.userInfoSectionHeader-CBvMDh {
    color: white;
}
.profile-ZOdGIb .mask-3OgeRz {
    border-radius: 0;
    width: 100px;
    height: 100px;
    -webkit-mask: none;
    mask: none;
}
.statusProfile-3ynqtt {
    bottom: -7px;
    height: 18px;
    position: absolute;
    right: -5px;
    width: 18px;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    border: 1px solid #7289da;
    color: white;
    background: rgba(114, 137, 218,0.3);
    border-radius: var(--B-Radius);
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background: rgba(114, 137, 218,0.6);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: rgba(67, 181, 129,0.3);
    color: white;
    border-radius: var(--B-Radius);
    border: 1px solid #43b581;
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background-color: rgba(67, 181, 129,0.6);
}
.buttonInvertedPurple-WtBglX {
    background-color: rgba(89, 54, 149,0.3);
    color: white;
    border-radius: var(--B-Radius);
    border: 1px solid #593695;
}
.buttonInvertedPurple-WtBglX:hover {
    background-color: rgba(89, 54, 149,0.6);
}
/* -------- End of User Popout and User Modal -------- */
/* -------- Emote Picker -------- */
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.bda-dark #bda-qem button {
    background: black;
    border-left: none;
    box-shadow: none;
    border-radius: 0px;
}
.bda-dark #bda-qem button:hover {
    background-color: black;
    border: 1px solid var(--H-Color);
}
.bda-dark #bda-qem button.active {
    background-color: black;
    border: 1px solid var(--S-Color);
}
.emojiPicker-3g68GS .header-27dQ-e {
    border-bottom: none;
}
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: transparent;
}
.bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: black;
    color: white;
    border: 1px var(--BOR-Type) var(--BOR-Color);
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: var(--S-Color);
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: black;
    border-color: transparent;
}
.bda-dark .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0,0,0,0.45);
}
.diversitySelector-O3ea2c .item-lsWB-j:hover {
    border: 1px solid var(--H-Color);
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: black;
    border: 1px var(--BOR-Type) var(--BOR-Color);
    border-radius: var(--B-Radius) !important;
}
/* -------- End of Emote Picker -------- */
/* -------- Invite Menu -------- */
/* New Invite Stuff */
.wrapper-VSYYTS {
    background: transparent;
    border: none;
}
.form-deprecated .form-header, 
.form.deprecated .form-header {
    background: black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: white;
}
.form-deprecated .Select-control, 
.form.deprecated .Select-control {
    border: 1px solid black;
    background: black;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label, 
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background-color: black;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: black;
}
.Select-menu-outer {
    background-color: transparent;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: transparent;
    box-shadow: none;
}
/* Invite Checkbox*/
.checkbox .checkbox-inner+span {
    color: white;
}
/* ----------------------- */
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner span {
    border: 2px solid var(--M-Color);
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, 
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: 1px solid var(--S-Color);
}
.form-deprecated .Select.is-disabled .Select-control:hover, 
.form-deprecated .Select.is-open .Select-control:hover, .form.deprecated .Select.is-disabled .Select-control:hover, .form.deprecated .Select.is-open .Select-control:hover {
    border-color: var(--H-Color);
}
.form-deprecated .Select.is-disabled .Select-control,
.form-deprecated .Select.is-open .Select-control, 
.form.deprecated .Select.is-disabled .Select-control, 
.form.deprecated .Select.is-open .Select-control {
    border: 1px solid var(--S-Color);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .expireText-NeAc7v,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions .btn-default,
.form-deprecated .control-group .help-text, .form.deprecated .control-group .help-text,
.form-deprecated .control-group label, .form.deprecated .control-group label {
    color: white;
}
.form-deprecated .Select-option.is-focused, 
.form.deprecated .Select-option.is-focused {
    background: var(--DC-Color);
    color: white;
}
.form-deprecated .Select-option,
.form.deprecated .Select-option {
    color: white;
    background: black;
}
.Select .Select-option.is-selected {
    background-color: var(--S-Color);
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: black;
    border-radius: var(--B-Radius);
    color: rgb(255, 255, 255);
    border: 1px solid var(--M-Color);
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    background-color: black;
    border-radius: var(--B-Radius);
    color: rgb(255, 255, 255);
    border: 1px solid var(--H-Color);
}
.clipboardInputInner-oj8y-S {
    background: black;
    border: 1px solid var(--M-Color);
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: white;
    background: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border-left: none;
}
/* Copied Invite Button */
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: var(--S-Color);
}
/* -------------------- */
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),var(--M-Color));
}
/* -------- End of Invite Menu -------- */
/* -------- Discord Settings -------- */
.theme-dark .cardPrimary-1Hv-to {
    background: black;
    border-color: transparent;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: red;
    color:  white;
    background: rgba(255,0,0,0.3);
    border-radius: var(--B-Radius);
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: red;
    color:  white;
    background: rgba(255,0,0,0.6);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgba(0,255,0,0.3);
    color: #fff;
    border: 1px solid #00FF00;
    border-radius: var(--B-Radius);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: rgba(0,255,0,0.6);
    color: #fff;
    border: 1px solid #00FF00;
}
.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.3);
    border-color: transparent;
    color: white;
    border-radius: var(--B-Radius);
}
.theme-dark .input-cIJ7To:focus,
.theme-dark .input-cIJ7To.focused-1mmYsC
{
    background-color: rgba(0,0,0,.8);
    border-color: var(--S-Color);
    color: white;
}
.theme-dark .header-2RyJ0Y,
#bd-settings-sidebar .ui-tab-bar-header {
    color: var(--M-Color);
}
.side-8zPYf6 .itemSelected-1qLhcL,
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--S-Color);
    color: #fff;
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
       color: var(--M-Color) !important;
}
.side-8zPYf6 .item-PXvHYJ,
#bd-settings-sidebar .ui-tab-bar-item {
    border-radius: var(--B-Radius);
}
.theme-dark .separator-gCa7yv,
#bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}
.theme-dark .cardPrimaryOutline-29Ujqw  {
    border-color: transparent;
}
[class*="flexChild-1KGW5q switchEnabled-3CPlLV switch-3lyafC valueChecked-3Bzkbm value-kmHGfs sizeDefault-rZbSBU size-yI1KRe themeClear-1NqU69"][style*="background-color: rgba(255, 255, 255, 0.298039);"] {
        background: transparent !important;
        box-shadow: 0 0 6px white,  0 0 6px white,  0 0 6px white;
}
.theme-dark [class*="itemSelected-1qLhcL item-PXvHYJ selected-3s45Ha"][style*="background-color: rgb(114, 137, 218);"] {
        background: var(--S-Color) !important;
        color: white !important;
}
.theme-dark .accountBtnInner-sj5jLs{
    background-color: transparent;
    border-color: transparent;
    border-radius: var(--B-Radius);
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: var(--H-Color);
    border-color: var(--BOR-Color);
    border-style: var(--BOR-Type);
    border-width: 2px;
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: transparent;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(255,255,255,0.3);
    border-color: transparent;
    border-radius: var(--B-Radius);
}
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}
.theme-dark .card-FDVird:before {
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
}
.theme-dark .row-2okwlC {
    box-shadow: none;
}
.ghostPill-1yup5q {
    border-radius: var(--B-Radius);
}
.theme-dark .input-1UhAnY {
    color: white;
    position: relative;
    right: 6px;
}
.theme-dark .ui-standard-sidebar-view .btn-close {
    border-color: transparent;
    border-radius: var(--B-Radius);
}
.theme-dark .ui-standard-sidebar-view .btn-close:hover {
    background-color: var(--H-Color);
}
.theme-dark .ui-standard-sidebar-view .esc-text {
    color: white;
}
.container-CpszHS.recording-1H2dS7 .button-34kXw5 {
    background-color: rgba(240,71,71,.1);
    color: #f04747;
    box-shadow: inset 0 0 6px red, 0 0 6px red;
}
.theme-dark .user-settings-games .game {
    box-shadow: none;
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: var(--a-link-Color);
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,var(--a-link-Color) 0,var(--a-link-Color) 2px,rgba(0, 0, 0, 0) 0);
}
.theme-dark .user-settings-games .now-playing-add,
.theme-light .user-settings-games .now-playing-add,
.theme-dark .user-settings-games .last-played, 
.theme-dark .user-settings-games .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .now-playing, 
.theme-light .user-settings-games .now-playing {
    background-color: var(--M-Color);
    border: 2px solid black;
    border-radius: var(--B-Radius);
}
.theme-dark .add-game-popout {
    background-color: black;
}
.theme-dark .elevationBorderHigh-2WYJ09 {
    box-shadow: none;
}
.theme-dark .markValue-2DwdXI {
    color: white;
}
.grabber-3mFHz2 {
    background-color: #fff;
    border-color: black;
    border-radius: var(--B-Radius);
    box-shadow: none;
    border-width: 2px;
}
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark .markDash-3hAolZ {
    background: white;
}
.theme-dark .user-settings-games .not-detected, 
.theme-light .user-settings-games .not-detected {
    background-color: var(--DC-Color);
    border: 2px solid black;
    border-radius: var(--B-Radius);
}
.theme-dark .user-settings-games .game-name-input:focus, 
.theme-dark .user-settings-games .game-name-input:hover {
    background-color: rgba(0,0,0,0.3);
    border-color: transparent;
}
.theme-dark .user-settings-games .now-playing .last-played, 
.theme-dark .user-settings-games .now-playing .overlay-status-text, 
.theme-light .user-settings-games .now-playing .last-played, 
.theme-light .user-settings-games .now-playing .overlay-status-text {
    color: #ecf0f1;
}
#bd-settingspane-container .ui-switch-item .style-description {
    color: white;
    border-bottom: none;
}
.bd-pfbtn {
    background: var(--M-Color);
    color: #FFF;
    border-radius: var(--B-Radius);
    margin-left: 10px;
}
.bda-slist .bda-header {
    color: white;
    font-weight: normal;
    border-bottom: none;
}
.bda-slist .bda-footer {
    border-top: none;
    color: white;
    font-weight: normal;
}
.bda-slist .bda-description {
    color: white;
}
.bd-pfbtn:hover {
    background: var(--H-Color);
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    background: var(--M-Color);
    color: #FFF;
    height: 26px;
    font-weight: normal;
    margin-right: 3px;
    border-radius: var(--B-Radius) !important;
    border: none !important;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    background: var(--H-Color);
}
.content-region #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: black;
    color: #FFF;
    border: 0;
    box-shadow: none;
}
.ui-standard-sidebar-view #editor-detached button {
    background: var(--M-Color);
    color: #FFF;
    font-size: 26px;
    font-weight: normal;
    border-radius: var(--B-Radius);
}
.ui-standard-sidebar-view #editor-detached h3 {
    color: white;
    font-weight: normal;
    font-size: 22px;
}
.bda-slist .bda-footer button {
    background: var(--S-Color);
    color: #FFF;
    border-radius: var(--B-Radius);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
    background-color: black;
    box-shadow:  0 0px 13px var(--M-Color), 0 0px 13px var(--M-Color);
}
#bd-settingspane-container .ui-switch-item.ui-switch-item .ui-switch-wrapper .ui-switch {
    right: 4px;
    top: 4px;
}
.bda-slist li {
    background: black;
    border: 1px var(--BOR-Type) var(--BOR-Color);
}
/* -------- End of Discord Settings -------- */
 /* ------------------ */
