//META{"name":"Oshino_Shinobu_Theme","description":"Requested by Rei","author":"DevilsTheAvenged","version":"1.0"}*//{}
/* fix not having a background image anymore */
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {
  background: transparent !important;
}
/* optionally adjust background brightness (0: original image, 1: black) */
.layers-3iHuyZ {
  background: rgba(0,0,0, 0.3) !important;
}
.app,
.callout-backdrop,
.bda-backdrop,
#pubs-container:before {
	background-image: url("https://2static4.fjcdn.com/comments/Get+that+loli+outta+here+kissshot+acerolaorion+heartunderblade+is+_fde715a2d567a061138511fb53383ab8.png");
	background-size: cover !important;
	background-position: center !important;
}
.channels-Ie2l6A {
    background-color: transparent;
}
.container-PNkimc {
    background-color: transparent;
}
.container-2lgZY8 {
    background-color: transparent;
}
.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}
.chat .messages {
    background: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .members-1998pB {
    background-color: transparent;
}
.theme-dark .title-3qD0b- {
    background: transparent;
    box-shadow: none;
}
.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-UHpsPw {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: black;
}
.scrollerThemed-19vinI.themeGhost-10fio9 .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0, 0, 0, 1);
}
.theme-dark .scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: rgba(0, 0, 0, 1);
}
.scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-color: black;
}
/* End of Transparency Setup */
/* Main Chat and Channel List */
.avatarSpeaking-1wJCNq {
    box-shadow: 0 0 0 2px #f1876b, inset 0 0 0 1.5px #2f3136;
}
.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div,.theme-dark .friends-table .messages .divider:before, .theme-dark .messages-wrapper .messages .divider:before {
    background: none;
}
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: white;
}
.theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider  span {
    background-color: rgba(133, 53, 40, 0.5);
    border-radius: 1px;
    padding: 4px /* <---- Up and Down | Left and Right ----> */ 36px;
}

.theme-dark .search .search-bar {
    background-color: rgba(133, 53, 40, 0.3);
}
.theme-dark .reaction.reaction-me {
    background: rgba(133, 53, 40, 0.3);
}
.theme-dark .reaction.reaction-me .reaction-count {
    color: white;
}
.reaction .emoji  {
    height: 1.4rem;
    margin: 3px 0!important;
    min-height: auto;
    min-width: auto;
    width: 1.4rem;
}
.theme-dark .message-group h2 .timestamp{
    color: rgba(255, 255, 255, 0.6) !important;
}
.theme-dark .message-group a {
    color: #f1876b;
}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: rgba(133, 53, 40, 0.6);
}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB {
    color: rgb(133, 53, 40);
}
.chat .avatar-large {
    width: 65px;
    height: 65px;
    background-size: cover;
    background-color: rgba(133, 53, 40, 0.3);
}
.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: Capitalize;
}
.colorDefaultVoice-3wYlhb {
   color: #969696;
   opacity: 1;
}
.iconMuted-1HVBGH, .nameMuted-1MCOt4 {
    color: rgba(255,0,0,0.6);
}
.contentUnreadText-2vNnZc, .contentUnreadVoice-1dijOt {
   background: rgba(133, 53, 40, 0.2);
}
.channelIcon-MsmKOO {
   color: rgb(133, 53, 40);
}
.colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S,.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
    color: silver;
    opacity: 1;
}
.colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb {
    color: #6b6b6b;
    opacity: 1;
}
.unread-1Dp-OI {
    background: none;
}
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ,.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: red;
    opacity: 1;
}
.contentSelectedText-3wUhMi {
    background-color: rgba(133, 53, 40,0.7);
}
.colorSelectedText-1y4Wvs {
   color: transparent;
}
.nameSelectedText-sp_EUw {
    color: white;
}
.nameSelectedVoice-1qSph5 {
    color: #fc8e54;
}
.nameHoveredText-1uO31y {
    color: #d3cfcf;
}
.nameHoveredVoice-YJ1Vfd {
    color: #fc8e54;
}
.colorHoveredVoice-1kucsK {
    color: #fc8e54;
    opacity: 1;
}
.colorHoveredText-OZnAgu {
    color: #d3cfcf;
    opacity: 1;
}
.nameHovered-21k1eo, .nameSpeaking-3UhoEZ {
    color: #fc8e54;
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(133, 53, 40,0.5);
}
.avatarDefault-35WC3R, .avatarSpeaking-1wJCNq {
    background-color: rgba(133, 53, 40, 0.3);
}
.popout-open .header-2o-2hj {
    background-color: rgba(133, 53, 40,.8) !important;
}
.header-2o-2hj {
    box-shadow: none;
    transition: background-color .65s ease;
}
.header-2o-2hj:hover {
    background-color: rgba(133, 53, 40,.6);
}
.theme-dark .iconBadge-2dji3k {
    border: none;
    left: 7px;
    background-color: rgb(133, 53, 40);
}
.container-2Thooq{
    background: rgba(133, 53, 40,.5);
}
.container-2Thooq .avatar-small {
    background-color: rgb(133, 53, 40);
}
.container-1UB9sr {
    background: rgba(133, 53, 40,.5);
    border-bottom: none;
}
.inner-btChU7 .channel-SEolQq {
    opacity: .6;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: rgb(133, 53, 40);
    border-radius: 5px;
    height: 10px;
    margin-top: -6px;
}

.theme-dark .inner-zqa7da {
    background-color: rgba(133, 53, 40, 0.5);
}
.theme-dark .textArea-2Spzkt {
    color: white;
}
.theme-dark .membersGroup-v9BXpm {
    color: rgb(133, 53, 40);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.theme-dark .contentTitle-2tG_sM,.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8,.theme-dark .contentTitle-2tG_sM,.marginLeft4-3VaXdt,.theme-brand .descriptionDiscriminator-3vUOCc,.marginLeft8-1YseBe,.theme-brand .contentTitle-sL6DrN strong {
    color: white;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(133, 53, 40,0.8);
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: rgb(133, 53, 40);
}
.theme-dark .iconForeground-1w5n7R {
    fill: white;
}

.theme-dark .chat .has-more button {
    background: rgb(133, 53, 40);
    border: none;
    color: white;
}
.chat .new-messages-bar,.theme-dark .chat .jump-to-present-bar {
    background-color: rgba(133, 53, 40,.9);
}
.chat .new-messages-bar:hover,.theme-dark .chat .jump-to-present-bar:hover {
    background-color: rgba(133, 53, 40,.9);
}
.chat .new-messages-bar button:last-child,.chat .jump-to-present-bar button:last-child,.theme-dark .descriptionDiscriminator-3vUOCc {
    color: white;
}
.theme-dark .divider-2JwdCF {
    background: none;
}
.spinner-pulsing-ellipsis .spinner-item {
    background-color: rgb(133, 53, 40);
    opacity: 1;
}
.activityText-sLG0UL strong{
    color: #c68a8b;
}
.activityText-sLG0UL{
    color: white;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: white;
}

.typing strong {
    color: white;
}
.bot-tag,.botTagRegular-2HEhHi,.botTagInvert-18-95s {
    background: rgb(133, 53, 40);
    color: rgb(255, 255, 255)!important;
    padding: 3px 4px;
}
.theme-dark .message-group .comment .markup .mention,.mention {
    background-color: rgba(133, 53, 40,.3) !important;
    color: white;
    transition: background-color .7s ease-in;
}
.theme-dark .message-group .comment .markup .mention:hover,.mention:hover {
    background-color: rgba(133, 53, 40,.6) !important;
    color: white;
}
.message-group .mentioned .message-text:after {
    background: none;
    border-left: none;
}
.theme-dark .message-group .mentioned .message-text {
    background: rgba(133, 53, 40,.41);
    padding-top: 1px;
    padding-bottom: 6px;
}
.theme-dark .chat .welcome-message a,.theme-dark .topic-2QX7LI a {
    color: rgb(133, 53, 40);
}
.chat .welcome-message p {
    color: white;
}
.chat .welcome-message h1 {
    color: rgb(133, 53, 40);
}
.icon-2WU8ha {
    fill: rgb(133, 53, 40);
    opacity: .7;
}
.theme-dark .message-group h2 strong {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-shadow: 2px 1px 3px #000,2px 1px 3px #000;
    transition: font-size .5s ease-in-out;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 2px;
}
.theme-dark .message-group h2 strong:hover {
    font-size: 23px;
    padding-right: 8px;
    padding-bottom: 7px;
    padding-left: 2px;
}
.theme-dark .message-group .comment .markup pre {
    background: transparent;
    border: none;
}
.theme-dark .message-group .comment .markup {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.9em;
}
.notice.notice-info {
    background-color: rgb(133, 53, 40);
}
/* MarkDown Code */
.theme-dark .message-group .comment .markup code.inline {
    background: rgba(133, 53, 40, 0.8);
    color: white;
    padding: 5px 7px;
    text-shadow: 2px 1px 3px #000;
}
/* Code Block Code */
.theme-dark .message-group .comment .markup pre code {
    background: rgba(133, 53, 40, 0.8);
    color: white;
    line-height: 2pc;
    text-shadow: 2px 1px 3px #000;
    font-size: 17px;
}
/* The Invite Section */
.theme-dark .wrapper-uAa07y {
    background-color: rgba(133, 53, 40,0.6);
    border: none;
}
/* The Invite Accepted Section */
.invite-button-icon.accepted {
    background-color: rgb(133, 53, 40);
    border: none;
}
/* User Popout and User Profile */
.userPopout-3XzG_A {
    background: url(https://static.zerochan.net/Oshino.Shinobu.full.1185309.jpg) 60% 0px /cover !important;
}
.headerPlaying-j0WQBV  {
    background: rgba(0,0,255,0.2) ;
}
.theme-dark .headerNormal-T_seeN, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background: rgba(0,0,0,0.2) !important;   
    border: none;
}
.body-3iLsc4 {
    border-bottom: none;
}
.mask-3OgeRz {
    border-radius: 1;
    -webkit-mask: none;
    mask: none;
}
.topSectionStreaming-1Tpf5X {
    background: rgba(89, 54, 149,0.7);
}
.role-2irmRk {
  padding: 4px 6px;
  border-radius: 3px;
  overflow: hidden; 
  }
  .role-2irmRk .roleCircle-3xAZ1j {
    opacity: .5;
    height: 22px;
    width: 5px;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-left: -5px;
    margin-right: -1000px;
    padding-right: 997px;
    border-radius: 0; 
    }
    /* Secondary Roles */
    .role-2irmRk[style*="border-color: rgba(185, 187, 190, 0.6)"] .roleCircle-3xAZ1j {
       background: #853528 !important;
}
    .role-2irmRk .roleCircle-3xAZ1j:not(.roleCircleButton-sMOdib) + .roleName-32vpEy {
      margin-left: 0; 
      }
  .role-2irmRk .roleName-32vpEy {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px; 
     color: white !important;
     position: relative;
     left: 4px;
 }

.theme-dark .rolesList-2YHFg5 .member-role {
    border: none;
    border-radius: 3px;
    color: #853528;
    padding-top: 6px;
    padding-bottom: 6px;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
        background: black;
        border-color: #853528;
}
.bodyTitle-Y0qMQz {
    color: white;
    text-transform: capitalize;
}
.headerStreaming-2FjmGz {
    background: rgba(89, 54, 149,0.4);
}
.headerLive-2dDMvp:hover {
    background-color: rgba(89, 54, 149,0.5);
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS {
    background: rgba(76, 175, 80,0.4);
}
.headerTagStreaming-2FikoO {
    color: #f1876b;
}

.header-3mZJcV .avatarStatusStreaming-3lGjGk {
    background-color: #660066;
}
.theme-dark .status-2s6iDp-streaming {
    background-color: #660066;
}
.avatarStatus-3Ay1VL {
    border: none !important;
    height: 42px;
    width: 42px;
    z-index: 3;
}

.body-3iLsc4 .note-3Zfyi2 textarea {
    padding: 6px 10px;
}
.theme-dark .note-3kmerW textarea {
    color: white !important;
    font-size: 12px;
    line-height: 18px;
}
.theme-dark .note-3kmerW textarea:focus{
    background: rgba(255,255,255,0.3) !important;
    border: none;
}
.theme-dark .protip-YaFfgO {
    display: none;
}
.theme-dark .quickMessage-1yeL4E {
    background: none;
    border-radius: 3px;
    padding: 8px 10px;
    border: none;
    color: white;
}
.theme-dark .quickMessage-1yeL4E:focus {
    background: rgba(255, 255, 255,0.12);
    border: none;
    padding: 8px 10px;
}
.theme-dark .activityProfile-2pymp0 .content-P9ThHS, .theme-dark .activityProfile-2pymp0 .headerText-2CVBxK, .theme-dark .activityUserPopout-1nmgaw .content-P9ThHS, .theme-dark .activityUserPopout-1nmgaw .headerText-2CVBxK, .theme-light .activityProfile-2pymp0 .content-P9ThHS, .theme-light .activityProfile-2pymp0 .headerText-2CVBxK, .theme-light .activityUserPopout-1nmgaw .content-P9ThHS, .theme-light .activityUserPopout-1nmgaw .headerText-2CVBxK {
    color: white;
}
.headerIconForeground-2QFL0Z {
    fill: white;
}
/* Part 2 of that Section */
.avatar-3EQepX .status {
    border: none;
    height: 40px;
    width: 40px;
}
.root-SR8cQa {
    background: url(https://img00.deviantart.net/7e3c/i/2013/010/9/7/shinobu_vector_wallpaper_by_touchofgrey-d5r2zwi.png) 30% 30%/cover !important;
}
.topSectionPlaying-1J5E4n{
    background: rgba(0, 0, 255,0.4);
}
.tabBarContainer-1s1u-z {
    border-top: none;
}
.theme-dark .body-3ND3kc,
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(0, 0, 0,0.2);
}
.userInfoSectionHeader-CBvMDh {
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.userInfoSection-2WJxMm+.userInfoSection-2WJxMm {
     border: none;
}
.theme-dark .connectedAccount-36nQx7{
    border: none;
    border-radius: 50px;
    background-color: rgba(133,53,40,0.7);
}

.theme-dark .listRow-hutiT_:hover {
    background: #853528;
    color: black !important;
}
.guildNick-3uAm3i, .listName-3w10cx {
    color: white;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background: none;
}
.listAvatar-1NlAhb {
    background-color: #f1876b;
    border: none;
}
.theme-dark .callAvatar-v-u4BM.voice-2D-tt_ .callAvatarStatus-3y6S04 {
    border-color: black;
    background-color: #853528;
}
.callAvatarBorder-1D_KaE.voice-2D-tt_.speaking-oCqYMI,
.callAvatarBorder-1D_KaE.video-3GgX2M.speaking-oCqYMI {
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #853528;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(255,0,0,0.23);
    color: #fff;
    border: 1px solid red;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(255,0,0,0.63);
    color: #fff;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
   background: #853528;
   border: none;
}

/* Continue Main Area */
.theme-dark .modal-3HD5ck {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%), url(https://orig00.deviantart.net/a277/f/2014/109/e/3/shinobu_oshino_trans_wallpaper_1_by_novadarkmadness-d7f5vqr.png) 50% 50%/cover !important;
    box-shadow: none;
}
.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .divider-3573oO {
    background: none;
}
.theme-dark .description-3_Ncsb, .theme-dark .labelDescriptor-1PqHgD,.theme-dark .select-2TCrqx .Select-control .Select-placeholder {
    color: white;
}
.theme-dark .ui-select>.Select .Select-control,.theme-dark .override-251XCL:hover {
    background: rgba(133, 53, 40,.3);
    border: none;
}
.theme-dark .ui-select>.Select .Select-control .Select-arrow {
    border-color: white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.theme-dark .guildName-1u0hy7, .theme-dark .override-251XCL, .theme-dark .overrideHighlight-2DXyuU {
    color: white;
}
.theme-dark .cardPrimaryOutline-29Ujqw {
    border: none;
}
.theme-dark .checkboxContainer-1sZ9eo:before {
    background: none;
}
.theme-dark .checked-3_4uQ9[style*="background-color: rgb(114, 137, 218); border-color: rgb(114, 137, 218);"],
.theme-dark .checked-3_4uQ9 {
    background-color: #853528 !important;
    border: none !important;
}
.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
    background-color: transparent;
}
.theme-dark .tipsWithoutResults-lGY-De, .theme-dark .tipsWithResults-HhTE9b {
    border-color: transparent;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span:active {

    box-shadow: none;
    color: white;
    background-color: #893829;
}
.theme-dark .input-2VB9rf {
    background-color: black;
    box-shadow: none;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    background-color: #62271d;
    border-color: transparent;
    box-shadow: none;
    color: white;
}
.theme-dark .emptyStateNote-ZYTetQ {
    color: white;
}
.theme-dark .quickswitcher-3JagVE {
    background-color: #62271d;
    color: white;
}
.theme-dark .checked-3_4uQ9 {
   background-color: rgba(133, 53, 40, 0.6);
   border: none !important;
}
.scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2uBjct.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track, .theme-light .scrollerThemed-19vinI.themeDark-BdSAwu.scrollerTrack-3hhmU0>.scroller-fzNley::-webkit-scrollbar-track {
    background-color: transparent;
}

.theme-dark .select-2TCrqx .Select-menu-outer {
    background: #853528;
    border-color: transparent;
    box-shadow: none;
}

.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: #853528;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: transparent;
    border: none;
}
.checkbox-1QwaS4.center-1MLNrE.flex-3B1Tl4.justifyCenter-29N31w.alignCenter-3VxkQP.box-XhjOl4 {
    border: none;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
     border: none !important;
     background-color: rgba(133, 53, 40, 0.6) !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] polyline[stroke].
.theme-dark .checked-3_4uQ9[style*="border-color: rgb(79, 84, 92);"] polyline[stroke] {
    stroke: white;
    stroke-width: 2;
}
.theme-dark .ui-select>.Select .Select-option.is-focused, .theme-dark .ui-select>.Select .Select-option:hover {
    background: rgba(133, 53, 40, 0.6);
}
.theme-dark .ui-select>.Select .Select-option {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.icon-JJBzjE {
    color: white;
}
.lighten-2aYaaU {
    opacity: .7;
}

.theme-dark .primary-jw0I4K {
    color: white;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(133, 53, 40, 0.4);
    transition: background-color .5s ease-in;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgb(133, 53, 40);
}
/* Emote Menu */
.bda-dark #bda-qem button.active {
    background-color:  #853528 !important;
    color: white;
}

.bda-dark #bda-qem button:hover {
    background-color: #9e4a33;
    color: white;
}
.bda-dark #bda-qem button {
    background: #55281c;
    border-left: none;
    box-shadow: none;
    color: white;
    font-size: 90%;
}
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container {
    background: url(https://wallup.net/wp-content/uploads/2016/03/12/284433-anime-anime_girls-Oshino_Shinobu-long_hair-blonde-Monogatari_Series.jpg) 50% 50%/cover !important;
}
.bda-dark #bda-qem {
    border-bottom: none !important;
    background: transparent;
}
.emoji-picker .scroller .emoji-item {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.emoji-picker .scroller .emoji-item>.sprite-item,.emoji-picker .scroller .emoji-item {
    background-color: rgba(0,0,0,0.4);
}

.search-bar.search-bar-light .search-bar-inner {
    background-color: rgba(133, 53, 40,.3);
    border: none;
}

.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb,.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb,  .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: #c68a8b !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece, .bda-dark #pubs-container .scroller::-webkit-scrollbar, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track, .bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-thumb, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-thumb, .bda-dark #pubs-container .scroller::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: #c68a8b !important;
}
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}

.slider-handle, .slider-handle span {
   background-color: black;
}
.slider-bar-fill {
    background: #55281c;
    height: 100%;
}
.slider-handle {
    border: none;
}
.theme-dark .bubble-3we2di:before, .slider-handle span:after, .slider-handle span:before {
    border-top: none !important;
}
.theme-dark .bubble-3we2di, .slider-handle span {
    background-color: #55281c;
    border: none;
    color: white;
}
.scroller-wrap.dark .scroller::-webkit-scrollbar-thumb {
    background-color: #9e4a33;
    border-color: rgba(0, 0, 0, 0);
}
.chat .empty-message h1 {
    color: white;
}
.wrapper-2NJDcI {
    background-color: #853528;
    border-radius: 0px;
    color: white;
    padding: 3px 4px;
}
.option-popout .btn-item {
    color: white;
}
.option-popout .btn-item:hover {
    color: white;
    background: #9e4a33;
}
.small-popout-box {
    background: #853528;
    border: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: #853528;
    border: none;
    box-shadow: none;
}

.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background-color: #853528;
    box-shadow: none;
}
.theme-dark .subtitle-2iWJ5y
 {
    color: white;
}
.theme-dark .messages-popout-wrap .messages-popout .empty-placeholder .body {
    color: black;
}
.members-1998pB .member.member-status-offline .avatar-small {
    filter: blur(1px);
    transition: filter .2s ease-in;
}
.members-1998pB .member.member-status-offline .avatar-small:hover {
    filter: blur(0px);
}
/* Search Option Stuff */
.option-96V44q.selected-rZcOL- {
    background-color: #9e4a33;
}
.option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q.selected-rZcOL- {
    background: linear-gradient(90deg,#9e4a33,#9e4a33 50%);
}
.theme-dark .searchPopout-1vUlP3 {
    background-color: #853528;
    box-shadow: none;
}
.option-96V44q:after {
    background: linear-gradient(90deg,#853528,#853528 80%);
}
.search-popout .results-group .search-learn-more a {
    color: white !important;
} 
.search-result-channel-icon {
   color: black;
}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {
    color: black;
    font-size: 15px;
    text-transform: capitalize;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .search-results-wrap .search-result.expanded {
    border: none;
    border-radius: 1px;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: #853528;
    border-bottom: none;
    border-top: none;
}
.chat>.title-wrap>.title .channel-name.channel-private:before {
    color: white;
    content: "@";
    font-weight: normal;
    margin-right: 2px;
    text-decoration: none;
}
.theme-dark .search-results-wrap .search-result .hit {
    background-color: rgba(133,53,40, 0.62);
    box-shadow: none;
}
.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: none;
}
.theme-dark .option-1MvVr1.user-1TwSRF .displayedNick-1487Dr {
    color: black !Important;
    font-weight: bold;
}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .filter-3Y_im- {

color: white !important;
   font-weight: bold;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
   color: white !important;
   font-weight: bold;
}
.theme-dark .option-1MvVr1 .nonText-1oayCI {
    color: black !important;
   font-weight: bold;
}
.theme-dark .searchQuery-1B7rtx {
    border: none;
    border-bottom: none;
    color: black;
}
.theme-dark .option-96V44q strong,.theme-dark .option-1MvVr1.user-1TwSRF .displayUsername-3PmTeH {
    font-weight: bold;
    color: black !important;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    background-color: #55281c;
    border: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group:hover .actionButtons-1sUUug
 {
    background: none;
    box-shadow: none;
}
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_
,.theme-dark .search-results-wrap .action-buttons .jump-button {
    background-color: #9e4a33;
    color: black;
    border: none;
}
.search-results-wrap .search-header .total-results {
    opacity: .7;
}
.theme-dark .search-results-wrap {
    background-color: rgba(133,53,40, 0.32);
}
.theme-dark .search-results-wrap .search-result:before {
    background-image: linear-gradient(0deg,#853528,#853528);
}
.theme-dark .search-results-wrap .search-result:after {
    background-image: none;
}
.theme-dark .search-results-wrap .channel-separator:before {
    border: none;
}
.theme-dark .search-results-wrap .search-header {
    background-color: #853528;
    box-shadow: none;
}

.need-help-modal.deprecated .header {
    background-color: #853528;
}
.need-help-modal.deprecated .footer {
    background-color: #853528;
    border-top: none;
    color: black;
}
.form.deprecated .form-inner {
    background-color: #853528;
}
.need-help-modal.deprecated a,.need-help-modal.deprecated a:hover {
    color: white;
}
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: #9e4a33;
    color: black;
    border: none;
    padding-right: 6px;
    padding-left: 6px;
}
/* Mentions and Mention Badges */
.unreadBar-3lDSDn {
    box-shadow: none;
}
.unread-1xRYoj,.mention-1f5kbO,.unread-1xRYoj:hover,.mention-1f5kbO:hover {
    background-color: #9e4a33;
}
.badge,.wrapper-232cHJ{
    background-color: #9e4a33;
    border-radius: 50px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    padding: 5px 9px;
    text-shadow: none;
}

#instant-invite-modal .checkbox .checkbox-inner span {
    border: none;
}
#instant-invite-modal .checkbox .checkbox-inner input:checked+span {
    border: none;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
    border-color: rgb(255, 255, 255);
    left: 7px;
    top: 2px;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #55281c;
}


.form.deprecated .Select-control {
    border: none;
    background: #55281c;
}
.Select-menu-outer {
    background-color: #55281c;
    border: none;
    box-shadow: none;
}
.form.deprecated .Select-option {
    color: white;
    background-color: #55281c;
}
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: black;
}
.form.deprecated .Select-option.is-focused {
    background: #853528 !important;
    color: rgb(47, 49, 54);
}
.Select-option.is-selected {
    background-color: #c68a8b !important;
    color: rgb(51, 51, 51);
}
.form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: none;
    box-shadow: none;
}

#instant-invite-modal-advanced .checkbox .checkbox-inner input:checked+span {
    border-color: white;
}
#instant-invite-modal-advanced .checkbox .checkbox-inner span {
    border: none;
}
.guilds-wrapper .guilds-error:hover {
    background: rgba(252, 142, 84,0.8)
}
.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
            position: relative;
           right: 197px;
}
.guilds-wrapper .guilds-error {
    border: none;
    color: white;
    border-radius: 25px;
    background: rgba(133,53,40,0.5);
    font-size: 29px;
    font-weight: 400;
}
.tooltip.tooltip-red {
    background-color: rgba(133,53,40,0.5);
    color: white;
}
.tooltip.tooltip-black {
    background-color: rgb(133,53,40);
    color: white;
    border: none;
}
.tooltip.tooltip-red.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top: none;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right: none;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom: none;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left: none;
}
.guilds-wrapper .guilds-add {
    border: none;
    color: white;
    border-width: 3px;
    background: rgba(133,53,40,0.5);
}
.guilds-wrapper .guilds-add:hover {
    border: none;
    color: white;
    background: rgba(133,53,40,0.7);
}
.theme-dark .react-datepicker__day.react-datepicker__day--weekend:hover:first-of-type:not(.react-datepicker__day--disabled):not(.react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend.react-datepicker__day--outside-month) {
    border-left: none;
    border-top: none;
    color: white;
    background: #9e4a33;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz .hint-21tC6F {
    color: white;
    font-size: 16px;
}
.theme-dark .datePicker-1RD4eT .datePickerHint-1iW7Wz {
    border-top: none;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: #853528;
    border-radius: 3px;
    color: white;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: #55281c;
    border-radius: 3px;
    color: white;
    border: none;
}

.theme-dark .search-answer, .theme-dark .search-filter {
    background-color: #853528;
}
.message-group .comment .attachment .upload>.filename {
    color: black;
}

.avatar-large .status, .avatar-3EQepX .status, .avatar-small .status, .avatar-xlarge .status, .avatar-xsmall .status, .avatar-xxlarge .status {
    border: none !important;
}
.theme-dark .theme-dark .status-2s6iDp {
    border: none !important;
}
/* Discord Settings */
.theme-dark .ui-standard-sidebar-view .btn-close {
    border: none;
}
.theme-dark .ui-standard-sidebar-view .btn-close:hover {
    background: rgba(133, 53, 40, 0.46);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: rgba(133, 53, 40, 0.46);
    color: rgb(255, 255, 255);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: rgba(133, 53, 40, 0.96);
    color: rgb(255, 255, 255);
}
.theme-dark .ui-standard-sidebar-view .esc-text {
    color: white;
}
.buttonRedOutlined-2t9fm_,.itemDanger-3m3dwx,.itemDanger-3m3dwx:hover {
    border: none;
    color: red;
}
.theme-dark .h5-18_1nd {
    color: white;
}
.theme-dark .input-cIJ7To:focus, .theme-dark .input-cIJ7To.focused-1mmYsC {
    border: none;
    background: rgba(0,0,0,0.7) !important;
}

.theme-dark .input-cIJ7To:hover {
    background: rgba(0, 0, 0,0.4);
    border: none;
}

.theme-dark .input-cIJ7To {
    background-color: rgba(0,0,0,.1);
    border: none;
    color: rgb(246, 246, 247);
}
.theme-dark .header-2RyJ0Y,a,#bd-settings-sidebar .ui-tab-bar-header,.itemBrand-mC9YR4,.message-group .edit-message .edit-operation>a {
    color: #853528;
}
.theme-dark .separator-3z7STW {
    background: none;
}
.itemBrandSelected-3LxxzT,.side-8zPYf6 .itemSelected-1qLhcL,#bd-settings-sidebar .ui-tab-bar-item.selected,#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,.themeClear-1EjkE4.valueChecked-m-4IJZ,.barFill-23-gu- {
    background-color: #853528 !important;
}
.barFill-23-gu-[style*="background: rgb(105, 196, 154); width: 28.2903%;"] {
    background: #853528 !important;
}
.theme-dark .bar-2Qqk5Z {
    background: black;
}
.theme-dark .bar-2Qqk5Z[style*="background: rgb(251, 184, 72);"] {
    background: black !important;
}
::-webkit-input-placeholder {
  color: white !important;
}
.user-settings-voice .input-sensitivity-toggle.manual .microphone .fill {
    background-color: rgba(0,0,0,0.09);
}
.theme-dark .desc-2dKaro {
    color: black;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
}
.theme-dark .card-FDVird:before {
    background-color: rgba(133, 53, 40, 0.56);
    border: none;
}
.theme-dark .ui-input-button {
    background-color: rgba(0,0,0,.1);
    border: none;
}
.theme-dark .ui-input-button:hover {
    background-color: rgba(0,0,0,.3);
    border: none;
}
.user-settings-keybinds .ghost-pill {
    background-color: rgba(133, 53, 40,.3);
    color: white;
}
.formNotice-2tZsrh,.user-settings-connections .connect-account-list {
    background-color: rgba(133, 53, 40, 0.56) !important;
    border: none;
}
.theme-dark .accountBtnInner-sj5jLs{
    background-color: rgba(133, 53, 40, 0.36);
    border: none;
}
.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: rgb(133, 53, 40);
    border: none;
}
.theme-dark .user-settings-notifications .notifications-sound {
    box-shadow: none;
}
.lookLink-9FtZy-.colorLink-35jkBc,.theme-dark .markValue-2DwdXI {
    color: white;
}
.lookGhost-2Fn_0-.colorLink-35jkBc:active .contents-18-Yxp, .lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 1px,white 0,white 2px,rgba(0, 0, 0, 0) 0);
}
.theme-dark .user-settings-games .now-playing .game-name-input:focus, .theme-dark .user-settings-games .now-playing .game-name-input:hover, .theme-light .user-settings-games .now-playing .game-name-input:focus, .theme-light .user-settings-games .now-playing .game-name-input:hover {
    background-color: rgba(0,0,0,.6);
    border: none;
}
.theme-dark .user-settings-games .game-name-input:focus, .theme-dark .user-settings-games .game-name-input:hover {
    background-color: rgba(0,0,0,.6);
    border: none;
}
.theme-dark .user-settings-games .last-played, .theme-dark .user-settings-games .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .game {
    box-shadow: none;
}
.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: rgb(133, 53, 40);
}
.theme-dark .user-settings-games .now-playing .last-played, .theme-dark .user-settings-games .now-playing .overlay-status-text, .theme-light .user-settings-games .now-playing .last-played, .theme-light .user-settings-games .now-playing .overlay-status-text {
    color: white;
}
.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected {
    background-color: #55281c;
}
.dark-elevation-border-high, .theme-dark .elevation-border-high {
    box-shadow: none;
}
.theme-dark .add-game-popout {
    background-color: rgba(0, 0, 0,0.8);
}
.grabber-3mFHz2 {
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
}
.theme-dark .markDash-3hAolZ {
    background: white;
}
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
.theme-dark #bd-settingspane-container .default > .ui-flex div+div {
    color: white;
}
#bd-settingspane-container .default > .ui-flex,#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: none;
}
#bd-customcss-detach-container {
    background-color: transparent;
}
.content-region .cm-s-material .CodeMirror-gutters {
   background-color: rgba(0,0,0,0.1) !important;
}
.cm-s-material.CodeMirror, .content-region .CodeMirror, #bd-customcss-detach-container .CodeMirror, #bd-customcss-detach-container .cm-s-material .CodeMirror-gutters {
    background-color: rgba(0,0,0,0.5) !important;
    color: silver;
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber {
    color: silver;
}
/* Detach Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 0px 3px 3px 0px; border-left: 1px solid rgb(63, 65, 70);"],.bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 0px 3px 3px 0px; border-left: 1px solid rgb(63, 65, 70);"] {
   border: none !important;
}
/* Save Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 0px; border-left: 1px solid rgb(45, 45, 45); border-right: 1px solid rgb(45, 45, 45);"], .bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 0px; border-left: 1px solid rgb(45, 45, 45); border-right: 1px solid rgb(45, 45, 45);"] {
    border: none !important;
}
/* Update Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 3px 0px 0px 3px; border-right: 1px solid rgb(63, 65, 70);"], .bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 3px 0px 0px 3px; border-right: 1px solid rgb(63, 65, 70);"] {
    border: none !important;
}
/* Detach Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 0px 3px 3px 0px; border-left: 1px solid rgb(63, 65, 70);"]:hover,.bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 0px 3px 3px 0px; border-left: 1px solid rgb(63, 65, 70);"]:hover {
   border: none !important;
   background: #55281c; 
}
/* Save Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 0px; border-left: 1px solid rgb(45, 45, 45); border-right: 1px solid rgb(45, 45, 45);"]:hover, .bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 0px; border-left: 1px solid rgb(45, 45, 45); border-right: 1px solid rgb(45, 45, 45);"]:hover {
    border: none !important;
    background: #55281c;
}
/* Update Button */
.ui-standard-sidebar-view #bd-customcss-attach-controls button[style*="border-radius: 3px 0px 0px 3px; border-right: 1px solid rgb(63, 65, 70);"]:hover, .bd-detached-css-editor #bd-customcss-attach-controls button[style*="border-radius: 3px 0px 0px 3px; border-right: 1px solid rgb(63, 65, 70);"]:hover {
    border: none !important;
    background: #55281c;
}
.ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    margin-right: 12px;
    width: 100px;
    background: #9e4a33;
    color: white;
    border: none;
    height: 26px;
    font-weight: 600;
    margin-top: 5px;
}
.content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: #853528;
    color: white;
    border: none;
    box-shadow: none;
}
.bda-slist .bda-name {
    color: white;
}
.ui-standard-sidebar-view .bda-slist .bda-description {
    border-top: none;
    color: white;
}
.ui-standard-sidebar-view .bda-slist .bda-right button  {
    background: #9e4a33;
    color: white;
    border-radius: 5px;
    height: 30px;
    display: block;
    width: 100px;
    margin: 5px;
    border: none;
}
.bd-pfbtn[style="left: 220px;"] {
    top: -46.7px;
}
.bd-pfbtn {
    background: #853528;
    color: white;
    border: none;
    border-radius: 50px;
    height: 25px;
}
.bd-pfbtn:hover {
    background: #55281c;
    color: white;
    border: none;
    border-radius: 50px;
    height: 25px;
}
.ui-standard-sidebar-view #editor-detached button {
    background: #853528;
    color: white;
    font-weight: 600;
    border-radius: 55px;
    font-size: 40px;
    border: none;
}
.ui-standard-sidebar-view .bda-slist li:nth-child(odd) {
    background: #853528;
    border: none;
}
.ui-standard-sidebar-view .bda-slist li {
    background: #853528;
    border: none;
    margin-bottom: 12px;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    border: none;
}
/* Friends and DMs */


.searchBar-2pE3BB .search-bar{
    background-color: black;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected .badge,
.search-bar-tag {
    background-color: #853528;
    color: #fff;
    border: 1px solid black;
}
.theme-dark .friendSelected--wQP3f {
    background: linear-gradient(90deg,#853528 85%,#853528);
}

.aka-1mqp34 {
    background: #55281c;
}
.private-channels .channel.selected a {
    background-color: #9e4a33 !important;
}
.private-channels .channel:hover a {
    background-color: #853528;
}
.guilds-wrapper .guild-separator:after {
    background: none;
}
.guilds-wrapper .guilds .friends-online {
    color: white;
}
#friends .friends-table .friends-row .friends-column-guilds .avatar-small {
    background-color: #55281c;
    color: white;
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn {
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
.theme-dark #friends .friends-table .friends-row .friends-column-guilds .more-mutual-guilds-btn:hover {
    border: none;
    color: rgb(255, 255, 255);
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: #9e4a33;
}
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: #55281c !important;
}
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top: none;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background-color: #853528;
}
.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: none;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column {
    color: white;
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background: none;
}
.theme-dark #friends .friends-table .friends-row .friends-column-status,.theme-dark #friends .friends-table .friends-row .friends-column-name {
    color: white;
}
.private-channels header {
    opacity: .6;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background-color: #853528 !important;
    border-radius: 25px !important;
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background: none;
}
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: #853528;
    color: white;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: #853528;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover {
    background-color: #9e4a33 !important;
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary.selected {
    background-color: #f1876b;
    color: black;
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header .connect-accounts .connect-account-btn-inner {
    border: none;
    background-color: #55281c;
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header .connect-accounts .connect-account-btn-inner:hover {
    background-color: #853528;
}
#friends .btn,
.private-channel-recipients-invite .error-state.not-friends .btn {
    background-color: #853528;
}
#friends .btn:hover,
.private-channel-recipients-invite .error-state.not-friends .btn:hover {
    background-color: #853528;
    color: black;
}
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: rgba(0,0,0,0.4);
}
.guilds-wrapper .guilds .friends-icon {
    background-image: url(https://myanimelist.cdn-dena.com/images/clubs/14/286193.jpg);
    background-size: cover;
}
/* This Weeks Update Right Now */ 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   background: #853528;
   color: white;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #853528;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: black;
    color: red;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background: #853528;
    border: none;
}
.react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--disabled.react-datepicker__day--outside-month {
    border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled:hover {
    border: none;
    color: rgba(255,255,255,0.2);
    background: #512118;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {

   background: none;
}
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {

    background-color: #A9716A;
    color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    background: #853528;
    border: none;
    color: rgba(255,255,255,0.8);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background: #9D5D54;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
   color: white;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
   background: #853528;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
   border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
   color: rgba(255,0,0,0.6);
   border: none;
   background: #5E261C;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month:hover { 
    background: #441C14;
}
.botTagRegular-2HEhHi.botTag-2WPJ74 {
   background: #853528;
}
/* Context Menu New Stuff */
.theme-dark .itemSubMenu-1vN_Yn {
   background: #91493E;
   border: 0.3px solid white;
}
.theme-dark .itemSubMenu-1vN_Yn:hover{
   background: #9D5D54;
   color: white !important;
}
.theme-dark .item-1Yvehc:hover {
   background: #9D5D54;
   color: white !important;
}
.theme-dark .item-1Yvehc {
    border-radius: 0;
    padding: 8px;
}
.theme-dark.contextMenu-HLZMGh {
    background: #5E261C;
}
.theme-dark.contextMenu-HLZMGh {
    box-shadow: none;
    border: none;
}
.theme-dark .itemGroup-oViAgA {
    border-color: transparent;
    border-top: none;
    border-bottom: none;
}
.theme-dark .danger-1oUOCl:hover {
   color: red !important;
   border: 1px solid red;
   background: black !important;
}
.theme-dark .itemToggle-e7vkml:hover {
    background: #B58580;
}
.theme-dark .search-results-wrap .search-header {
    background-color: black;
}
.theme-dark .message-group .comment .edited {
    color: rgba(255, 255, 255, 0.6);
}
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: linear-gradient(90deg,black 85%,#853528) !important;
}
/* Popup Menu */
.theme-dark .separator-2zcjq8 {
    border-bottom: none;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #853528;
    color: white;
    opacity: 1;
}
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
   color: white;
}
.theme-dark .item-1GzJrl {
    background-color: #5E261C;
    color: white;
    opacity: 1;
}
.bda-slist .bda-footer button {
    background: #512118;
    color: rgb(255, 255, 255);
}
/* Upload Section */
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed #91493E;
    color: rgb(255, 255, 255);
}
.uploadModal-2ifh8j {
    background-color: #5E261C;
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: #5E261C;
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(255,0,0,0.4);
}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    background-color: rgba(255,0,0,0.8);
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background-color: #783024;
    color: white;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary:hover {
    background-color: #91493E;
    color: white;
    opacity: 1;
}
.uploadDropModal-2kTwbc {
   background: #5E261C;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc  {
    background: #5E261C !important;
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo  {
    background: #5E261C !important;
    border: 2px dashed #91493E;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: transparent;
    background-size: cover;
    border: 2px solid #91493E;
    border-radius: 30px;
}
.theme-dark .mention {
    background: black !important;
    border: 2px solid #91493E;
    color: white;
}
.theme-dark .topic-2QX7LI a {
    color: #91493E;
}
.wanderingCubesItem-WPXqao,
.spinner-wandering-cubes .spinner-item {
    background-color: #91493E;
}
/* New Emote Stuff */
.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j {
    background-color: #5E261C;
}
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: #5E261C;
}
.search-bar.search-bar-light .search-bar-inner {
    background-color: black;
    border: 1px solid #91493E;
    border-radius: 3px!important;
}
.bda-dark .emojiPicker-3m1S-j .diversitySelector-tmmMv0 .popout-2nUePc {
    background: #5E261C;
    border-color: #91493E;
}
.diversitySelector-O3ea2c .popout-2lja3I .item-lsWB-j:hover {
    background-color: transparent;
    border: 1px solid #A9716A;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ  {
    background-color: rgba(0,0,0,0.65);
}
.bda-dark .emoji-picker .scroller::-webkit-scrollbar, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, 
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, 
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6 {
    background-color: black;
    color: white;
    border: 2px solid #91493E;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #91493E;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-thumb 
 {
   background: #91493E !important;
}
.theme-dark .filename-13hhfJ {
    color: rgb(255, 255, 255);
}
.progress-2XXRYo,
.progressBar-3u8FBM.small-1CUeBa,
.progressBar-3u8FBM.large-3EPlRk,
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: #91493E !important;
}
.video-1FfuMD,
.theme-dark .private-channel-call {
    background-color: rgba(0,0,0,0.4);
}
/* New Invite Stuff */
.wrapper-VSYYTS {
    background: transparent;
    border: 1px solid #91493E;
}
.form-deprecated .form-header, 
.form.deprecated .form-header {
    background: #5E261C;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: white;
}
.form-deprecated .form-inner, 
.form.deprecated .form-inner {
    background-color: #5E261C;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions {
    background-color: #5E261C;
}
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
    background-color: #5E261C;
}
/* Invite Checkbox*/
.checkbox .checkbox-inner+span {
    color: white;
}
/* ----------------------- */
.wrapper-VSYYTS .instantInviteModal-5L33Qh .checkbox .checkbox-inner span,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .checkbox .checkbox-inner span {
    border: 2px solid #9D5D54;
}
.form-deprecated .is-focused:not(.is-open)>.Select-control, .form.deprecated .is-focused:not(.is-open)>.Select-control {
    border: 1px solid #783024;
    box-shadow: 1px 1px 36px #783024;
}
.form-deprecated .Select.is-disabled .Select-control:hover, .form-deprecated .Select.is-open .Select-control:hover, .form.deprecated .Select.is-disabled .Select-control:hover, .form.deprecated .Select.is-open .Select-control:hover {
    border-color: #9D5D54;
    box-shadow: 1px 1px 36px #9D5D54;
}
.form-deprecated .Select.is-disabled .Select-control, .form-deprecated .Select.is-open .Select-control, .form.deprecated .Select.is-disabled .Select-control, .form.deprecated .Select.is-open .Select-control {
    border: 1px solid #783024;
    box-shadow: 1px 1px 36px #783024;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .form-header header,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .blurb-ArHxCz,
.wrapper-VSYYTS .instantInviteModal-5L33Qh .expireText-NeAc7v,
.wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions .btn-default,
.form-deprecated .control-group .help-text, .form.deprecated .control-group .help-text,
.form-deprecated .control-group label, .form.deprecated .control-group label {
    color: white;
}
.form-deprecated .Select-option.is-focused, .form.deprecated .Select-option.is-focused {
    background: #371710;
    color: white;
}
.form-deprecated .Select-option, .form.deprecated .Select-option {
    color: white;
    background: black;
}
.form-deprecated .btn-primary, 
.form.deprecated .btn-primary {
    background-color: #6B2B20 !important;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}
.form-deprecated .btn-primary:hover, 
.form.deprecated .btn-primary:hover {
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border: 2px solid #9D5D54;
}
.clipboardInputInner-oj8y-S {
    background: black;
    border: 1px solid #9D5D54;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .clipboardInputInner-dxVheg input {
    color: white;
    background: black;
}
.wrapper-VSYYTS .instantInviteModal-5L33Qh .copy-2xFKb_ {
    background-color: black;
    border-left: none;
}
/* Copied Invite Button */
.clipboardInputCopied-UXgFh2 .clipboardInputInner-oj8y-S {
    border-color: #A9716A;
}
.clipboardInputCopied-UXgFh2 button {
    background-color: #A9716A!important;
    background-image: url(/assets/347525ee5c5d59f9217d1c04eb88617d.svg)!important;
    border-color: #A9716A!important;
    background-size: 50%;
    color: rgba(0, 0, 0, 0)!important;
}
/* -------------------- */
.clipboardInputInner-oj8y-S button:first-of-type:before {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0),#A9716A);
}
